@import "src/theme/variables";


.account-dashboard {
  margin: 15px auto;
  max-width: 1200px;
  max-width: 962px;
  display: grid;
  grid-template-columns: 278px calc(100% - 298px);
  grid-gap: 20px;
  padding: 0px 16px;
}

@media (max-width: 800px) {
  .account-dashboard {
    grid-template-columns: 100%;
  }
}

.back-side-bar {
  display: none;

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    background-color: $color-white;
    border-radius: 6px 6px 0 0;
    list-style: none;

    li {
      button {
        background-color: transparent;
        border: 0;
        padding: 16px;

        i {
          font-size: 18px;
          color: $heading-color;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .back-side-bar {
    display: block;
  }
}

@media (max-width: 800px) {
  .account-sidebar {
    display: none;

    &.active {
      display: block;
    }
  }

  .account-information {
    display: none;
    &.active {
      display: block;
    }
  }
}
