@import "src/theme/_variables.scss";

.metri-pop-container{
  height: auto;
  max-height: 600px;
  max-width: 1050px;
  width: 100%;
  background-color: #ececec;
  margin: 0 auto;
  padding: 20px 50px;
  border-radius: 10px;
  border: solid #0a7a2d 1px;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.top-section, .question-section{
  margin: 2px;
  scroll-snap-align: end;
  scroll-margin-bottom: 20px;
}

.top-section{
  margin-bottom: 20px;
}
.top-title{
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  .bio-category{
    font-size: 20px;
    padding: 8px 10px;
    font-family: $font-en-jost-semibold;
    font-weight: 400;
    color: #0a7a2d;
    border: 1px solid #0a7a2d;
    border-radius: 5px;
    outline: none;
  }
}
.desc{
  p{
    font-size: 16px;
  }
}

.question-section{
  margin-bottom: 10px;
}
.bottom-title{
  text-align: center;
  margin: 0 auto;
  width: 60%;
  h1{
    font-family: $font-en-jost-semibold;
    font-size: 22px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #0a7a2d;
    background-color: #FFFFFF;
    padding: 5px 1px;
  }
}
.questions{
  text-align: left;
.ques-title{
  margin-bottom: 10px;
  h2{
    font-size: 18px;
    color: #373737;
    font-weight: 400;
  }
}
  .options{
    display: flex;
    flex-direction: column;
    .option-control{
      font-size: 16px;
      color: #434343;
    }
  }
}
.ans-submit{
  margin: 0 auto;
  text-align: center;
  max-width: 200px;
  width: 100%;
  height: auto;
  .submit-button{
    border: 1px solid #949494;
    border-radius: 5px;
    background-color: #0a7a2d;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 15px 30px;
    width: 100%;
    cursor: pointer;
    transform: scaleX(1);
    transition-duration: .3s;
    &:hover{
      background-color: #006421;
      transform: scaleX(1.1);
      border: 1px solid #064c00;
      box-shadow: rgba(0, 0, 0, 0.74);
    }
  }
}

.male-data{
  transition: all 0.5s ease;
  display: grid;
  grid-template-rows: 0fr;
  form{
    overflow: hidden;
  }
  &.active{
   grid-template-rows: 1fr;
   transition-delay: 0.5s;
  }
 
}

.female-data{
  transition: all 0.5s ease;
  display: grid;
  grid-template-rows: 0fr;
  form{
    overflow: hidden;
  }
  &.active{
   grid-template-rows: 1fr;
   transition-delay: 0.5s;
  }
}



.isInvalid p{
  color: red!important;
}

::ng-deep.isInvalid .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background{
  border-color: red!important;
}