<div class="faqs-main">
  <div class="dropdown" [class.active]="showDropDown === 1">
    <div class="dropdown-top" (click)="onShowNumber(1)">
      <h2>Medicine and Healthcare Orders</h2>
      <i class="fa-solid fa-angle-down"></i>
    </div>

    <div class="dropdown-data" *ngIf="showDropDown === 1">
      <div class="dropdown-data-child">
        <h3>When will I receive my order?</h3>

        <p>
          Your order will be delivered within estimated time shown to you while
          ordering.
        </p>
      </div>

      <div class="dropdown-data-child">
        <h3>I have received damaged items.</h3>

        <p>
          We are sorry you had to experience this. Please do not accept the
          delivery of that order and let us know what happened
        </p>
      </div>

      <div class="dropdown-data-child">
        <h3>Items are different from what I ordered.</h3>

        <p>
          We are sorry you have had to experience this. Please do not accept it
          from rider. Reject the order straightaway and call to Medicinedipo customer
          care
        </p>
      </div>

      <div class="dropdown-data-child">
        <h3>What if Items are missing from my order.</h3>

        <p>
          In no circumstances, you should receive an order that is incomplete.
          Once rider reaches your destination, be sure to check expiry date of
          medicines and your all ordered items was delivered.
        </p>
      </div>
      <div class="dropdown-data-child">
        <h3>How do I cancel my order?</h3>

        <p>
          Please call us with your order ID and we will cancel it for you. or
          you can cancel from my orders option as well.
        </p>
      </div>

      <div class="dropdown-data-child">
        <h3>I want to modify my order.</h3>

        <p>
          Sorry, once your order is confirmed, it cannot be modified. Please
          place a fresh order with any modifications.
        </p>
      </div>

      <div class="dropdown-data-child">
        <h3>What is the shelf life of medicines being provided?</h3>

        <p>
          We ensure that the shelf life of the medicines being supplied by our
          partner retailers is, at least, a minimum of 3 months from the date of
          delivery.
        </p>
      </div>
    </div>
  </div>

  <div class="dropdown" [class.active]="showDropDown === 2">
    <div class="dropdown-top" (click)="onShowNumber(2)">
      <h2>Delivery</h2>
      <i class="fa-solid fa-angle-down"></i>
    </div>


    <div class="dropdown-data" *ngIf="showDropDown === 2">
      <div class="dropdown-data-child">
        <h3>When will I receive my order?</h3>

        <p>Your order will be delivered within the Estimated Delivery Date.</p>
      </div>


      <div class="dropdown-data-child">
        <h3>
          Order status showing delivered but I have not received my order.
        </h3>

        <p>
          Sorry that you are experiencing this. Please call to connect with us
          immediately.
        </p>
      </div>


      <div class="dropdown-data-child">
        <h3>Which cities do you operate in?</h3>

        <p>We provide healthcare services in all over Bangladesh now</p>
      </div>


      <div class="dropdown-data-child">
        <h3>How can I get my order delivered faster?</h3>

        <p>
          We have both Express delivery and Regular delivery option available
          now. If you need it urgently please select Express delivery.
        </p>
      </div>


      <div class="dropdown-data-child">
        <h3>Can I modify my address after Order placement?</h3>

        <p>
          Sorry, once the order is placed, we are unable to modify the address.
        </p>
      </div>


      <div class="dropdown-data-child">
        <h3>What is the meaning of Delivered status?</h3>

        <p>
          When rider reaches your destination and hand over the products to you
          the delivery status changes to 'Delivered'. Status 'Delivered' also
          means Medicinedipo has already collected the payment from you via cash or
          online payment.
        </p>
      </div>

    </div>

  </div>


  <div class="dropdown" [class.active]="showDropDown === 3">
    <div class="dropdown-top" (click)="onShowNumber(3)">
      <h2>Payments</h2>
      <i class="fa-solid fa-angle-down"></i>
    </div>


    <div class="dropdown-data" *ngIf="showDropDown === 3">
      <div class="dropdown-data-child">
        <h3>How do customers get discounts.</h3>

        <p>
          We deduct the value from every medicines and show it to you before
          order, so that you can see what you are really paying for each
          medicines.
        </p>
      </div>


      <div class="dropdown-data-child">
        <h3>When will I get my refund?</h3>

        <p>Refund will be in credited in Medicinedipo cash (3-5 business days).</p>
      </div>


      <div class="dropdown-data-child">
        <h3>I did not receive cashback for my order.</h3>

        <p>
          Please read the T&C of the offer carefully for the eligibility of
          cashback.
        </p>
      </div>


      <div class="dropdown-data-child">
        <h3>What are the payment modes at Medicinedipo?</h3>

        <p>
          Cash on Delivery (COD) and Online payment method Bkash, Nagad, Cards
          etc.
        </p>
      </div>

    </div>

  </div>


  <div class="dropdown" [class.active]="showDropDown === 4">
    <div class="dropdown-top" (click)="onShowNumber(4)">
      <h2>Referrals</h2>
      <i class="fa-solid fa-angle-down"></i>
    </div>


    <div class="dropdown-data" *ngIf="showDropDown === 4">
      <div class="dropdown-data-child">
        <h3>How does your referral program work?</h3>

        <p>
          Invite your friend and family members by sharing your referral code.
          Once they join with your referral code and place their first order,
          you will get extra 40 Taka Referral bonus in your Medicinedipo cash.
        </p>
      </div>


      <div class="dropdown-data-child">
        <h3>Why did I not get the referral benefit?</h3>

        <p>
          If you are not notified about your referral benefit, it is likely that
          one or more of the following things happened: 1. The referred member
          did not apply your referral code while placing the order 2. The user
          clicked on your link but did not create an account or complete their
          first purchase. 3. The referred member placed an eligible order, but
          the order was not fulfilled. 4. The person who used the code has
          already placed an order on Medicinedipo. 5. Your referral benefit has
          expired.
        </p>
      </div>


      <div class="dropdown-data-child">
        <h3>Is there an expiry date to my referral benefit?</h3>

        <p>
          No, there is no expiry date. Once you are eligible for the additional
          benefit, you will surely get it.
        </p>
      </div>

    </div>

  </div>


  <div class="dropdown" [class.active]="showDropDown === 5">
    <div class="dropdown-top" (click)="onShowNumber(5)">
      <h2>Medicinedipo Cash</h2>
      <i class="fa-solid fa-angle-down"></i>
    </div>


    <div class="dropdown-data" *ngIf="showDropDown === 5">
      <div class="dropdown-data-child">
        <h3>What is Medicinedipo cash?</h3>

        <p>This is a virtual wallet to store Medicinedipo Cash in your account..</p>
      </div>


      <div class="dropdown-data-child">
        <h3>How do I check my Medicinedipo cash balance?</h3>

        <p>You can check your Medicinedipo cash in Account screen.</p>
      </div>


      <div class="dropdown-data-child">
        <h3>When will the Medicinedipo money expire?</h3>

        <p>
          Any osud kini Cash deposited in your osud kini wallet through returns
          will never expire. At times, our marketing team may deposit
          promotional cash which will have an expiry that is communicated to you
          via an SMS.
        </p>
      </div>


      <div class="dropdown-data-child">
        <h3>Can I add money to my Medicinedipo cash?</h3>

        <p>No, you are unable to transfer or add money to your Medicinedipo cash.</p>
      </div>


      <div class="dropdown-data-child">
        <h3>How can I redeem my Medicinedipo cash?</h3>

        <p>
          If you have any money in your Medicinedipo cash, it will be automatically
          deducted from your next order amount and you will only have to pay for
          the balance amount (if any).
        </p>
      </div>


      <div class="dropdown-data-child">
        <h3>Can I transfer money from my Medicinedipo cash to the bank account?</h3>

        <p>
          No, you are unable to transfer money from your Medicinedipo cash to the bank
          account.
        </p>
      </div>


      <div class="dropdown-data-child">
        <h3>How much Medicinedipo money can I redeem in an order?</h3>

        <p>There is no limit for redemption of osud kini cash.</p>
      </div>

    </div>

  </div>


  <div class="dropdown" [class.active]="showDropDown === 6">
    <div class="dropdown-top" (click)="onShowNumber(6)">
      <h2>Promotions</h2>
      <i class="fa-solid fa-angle-down"></i>
    </div>


    <div class="dropdown-data" *ngIf="showDropDown === 6">
      <div class="dropdown-data-child">
        <h3>How do I apply a coupon code on my order?</h3>

        <p>
          You can apply a coupon on the cart screen while placing an order. If
          you are getting a message that the coupon code has failed to apply, it
          may be because you are not eligible for the offer.
        </p>
      </div>


      <div class="dropdown-data-child">
        <h3>Does Medicinedipo offers return of the medicine?</h3>

        <p>
          Yes, Medicinedipo does accept returns of the medicine from customer. We have
          7 days return policy for eligible items. Please check our return
          section for more details.
        </p>
      </div>

    </div>

  </div>


  <div class="dropdown" [class.active]="showDropDown === 7">
    <div class="dropdown-top" (click)="onShowNumber(7)">
      <h2>Promotions</h2>
      <i class="fa-solid fa-angle-down"></i>
    </div>


    <div class="dropdown-data" *ngIf="showDropDown === 7">
      <div class="dropdown-data-child">
        <h3>How does Medicinedipo’s return policy work?</h3>

        <p>
          Medicinedipo offers a flexible return policy for items ordered with us.
          Under this policy, unopened and unused items must be returned within 7
          days from the date of delivery. The return window will be listed in
          the returns section of the order, once delivered. Items are not
          eligible for return under the following circumstances: - If items have
          been opened, partially used or disfigured. Please check the package
          carefully at the time of delivery before opening and using. - If the
          item’s packaging/box or seal has been tampered with. Do not accept the
          delivery if the package appears to be tampered with. - If it is
          mentioned on the product details page that the item is non-returnable.
          - If the return window for items in an order has expired. No items can
          be returned after 7 days from the the delivery date. - If any
          accessories supplied with the items are missing. - If the item does
          not have the original serial number/UPC number/barcode affixed, which
          was present at the time of delivery. - If there is any damage/defect
          which is not covered under the manufacturer's warranty. - If the item
          is damaged due to visible misuse. - Any refrigerated items like
          insulin or products that are heat sensitive are non-returnable. -
          Items related to baby care, food & nutrition, healthcare devices and
          sexual wellness such as but not limited to diapers, health drinks,
          health supplements, glucometers, glucometer strips/lancets, health
          monitors, condoms, pregnancy/fertility kits, etc.
        </p>
      </div>


      <div class="dropdown-data-child">
        <h3>
          Do you sell medicine strips in full or it can be single units too?
        </h3>

        <p>
          We sell in single units to give customers flexibility in selecting
          specific amounts of medicine required. We provide single units of
          medicine as our pharmacist can cut strips.
        </p>
      </div>


      <div class="dropdown-data-child">
        <h3>I have broken the seal, can I return it?</h3>

        <p>No, you can not return any items with a broken seal.</p>
      </div>


      <div class="dropdown-data-child">
        <h3>Can I return medicine that is partially consumed?</h3>

        <p>
          No, you cannot return partially consumed items. Only unopened items
          that have not been used can be returned.
        </p>
      </div>


      <div class="dropdown-data-child">
        <h3>Can I ask for a return if the strip is cut?</h3>

        <p>
          We provide customers with the option of purchasing medicines as single
          units. Even if ordering a single tablet of paracetamol, we can deliver
          that. It is common to have medicines in your order with some strips
          that are cut. If you want to get a full strip in your order, please
          order a full strip amount and you will get it accordingly. If you do
          not order a full strip, you will get cut pieces. If you have ordered 4
          single units which are cut pieces and want to return, all 4 pieces
          must be returned. We do not allow partial return of 1 or 2 pieces.
        </p>
      </div>

    </div>

  </div>

</div>