<div class="main">
  <div class="container">
    <div class="main-data-container">
      <div class="my-personal">
        <!-- my-personal-title -->
        <div class="my-personal-title">
          <h2>My profile</h2>

          <p>Let's start with adding some details about yourself.</p>
        </div>

        <!-- personal-info-steps -->
        <div class="personal-info-steps">
          <ul>
            <li
              [ngClass]="{
                'list-active': num1 === 1,
                'list-active-done': num1 === 4
              }"
            >
              <div class="steps-title">
                <span class="number">1</span>
              </div>
            </li>
            <li
              [ngClass]="{
                'list-active': num2 === 2,
                'list-active-done': num2 === 4
              }"
            >
              <div class="steps-title">
                <span class="number">2</span>
              </div>
            </li>
            <li
              [ngClass]="{
                'list-active': num3 === 3,
                'list-active-done': num3 === 4
              }"
            >
              <div class="steps-title">
                <span class="number">3</span>
              </div>
            </li>
          </ul>
        </div>

        <div class="personal-infos">
          <div class="step-1" *ngIf="num1 === 1">
            <app-basic-information
              (basicInformation)="onBasicInfo($event)"
            ></app-basic-information>
          </div>
          <div class="step-2" *ngIf="num2 === 2">
            <app-additional-information
              (additionalInformation)="onAdditionalInfo($event)"
            ></app-additional-information>
          </div>
          <div class="step-2" *ngIf="num3 === 3">
            <app-past-employement></app-past-employement>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
