<div class="job-posts-main" (click)="onHideShowPopup()" *ngIf="hideShowPopup">
  <div class="job-posts-child">
    <div class="coun-main" (click)="$event.stopPropagation()">
      <!-- job-posts-in -->
      <div class="job-posts-in">
        <!-- cross-btn -->
        <div class="cross-btn" (click)="onHideShowPopup()">
          <i class="fas fa-times"></i>
        </div>
        <!-- select-right -->
        <div class="select-right" [class.active]="hideShowResponsive">
          <!-- select-title -->
          <div class="select-title">
            <i (click)="onShowAll()" class="fa-chevron-left fas"></i>

            <h2>Select a job</h2>
          </div>

          <!-- search-data -->
          <div class="search-area">
            <div class="search-data-input">
              <input type="text" placeholder="Search for a job" />
            </div>
          </div>

          <!-- job-posts-details -->
          <div class="job-posts-details">
            <ul>
              <li>
                <a routerLink="select-job"><span>Accountant</span></a>
              </li>

              <li>
                <a routerLink="select-job"><span>Beautician</span></a>
              </li>

              <li>
                <a><span>Business Analyst</span></a>
              </li>

              <li>
                <a routerLink="select-job"><span>Chef</span></a>
              </li>
              <li>
                <a routerLink="select-job"
                  ><span>Collection & Recovery Agents</span></a
                >
              </li>
              <li>
                <a routerLink="select-job"><span>Construction Worker</span></a>
              </li>
              <li>
                <a routerLink="select-job"><span>Content Writer</span></a>
              </li>
              <li>
                <a routerLink="select-job"><span>Counsellor</span></a>
              </li>
              <li>
                <a routerLink="select-job"
                  ><span>Customer Service Executive</span></a
                >
              </li>
              <li>
                <a routerLink="select-job"
                  ><span>Customer Support Manager</span></a
                >
              </li>
              <li>
                <a routerLink="select-job"><span>Delivery Rider</span></a>
              </li>
              <li>
                <a routerLink="select-job"><span>Designer</span></a>
              </li>
              <li>
                <a routerLink="select-job"
                  ><span>Digital Marketing Executive</span></a
                >
              </li>
              <li>
                <a routerLink="select-job"
                  ><span>Digital Marketing Manager</span></a
                >
              </li>
              <li>
                <a routerLink="select-job"><span>Doctor</span></a>
              </li>
              <li>
                <a routerLink="select-job"><span>Driver</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
