<!--  -->
<div class="container">
<div class="new-card-section">
  <div class="main-container">
    <div class="title-card">
      <h2>Explore More</h2>
    </div>
    <div class="new-section-cards">
      <swiper
        [slidesPerView]="3"
        [spaceBetween]="13"
        [grabCursor]="true"
        [navigation]="true"
        [breakpoints]="{
          '320': {
            slidesPerView: 1
          },
          '476': {
            slidesPerView: 1.5
          },
          '620': {
            slidesPerView: 2
          },
          '774': {
            slidesPerView: 2.5
          },
          '912': {
            slidesPerView: 3
          },
          '1222': {
            slidesPerView: 4
          }
        }"
        class="mySwiper"
      >
        <ng-template swiperSlide>
            <!-- start -->
            <div class="browse-item">
              <a routerLink="/product-list/matrimonial-list">
                <div class="browse-item-left">
                  <img src="assets/images/png/just-married.png" alt="" />
                </div>
                <div class="browse-item-right">
                  <h1>Matrimonial</h1>
                  <p>{{postCount?.matrimonial ? (postCount?.matrimonial | number: '': 'bn'): 0}} ads</p>
                </div>
              </a>
            </div>
        </ng-template>
        <ng-template swiperSlide >
            <div class="browse-item">
              <a routerLink="/product-list/products">
                <div class="browse-item-left">
                  <img src="assets/images/png/products.png" alt="" />
                </div>
                <div class="browse-item-right">
                  <h1>Products</h1>
                  <p>{{postCount?.products ? (postCount?.products | number: '': 'bn'): 0}} ads</p>
                </div>
              </a>
            </div>
        </ng-template>
        <ng-template swiperSlide >
            <div class="browse-item">
              <a routerLink="/product-list/job-list">
                <div class="browse-item-left">
                  <img src="assets/images/png/job-seeker.png" alt="" />
                </div>
                <div class="browse-item-right">
                  <h1>Career Corner</h1>
                  <p>{{postCount?.job  ? (postCount?.job | number: '': 'bn'): 0}} ads</p>
                </div>
              </a>
            </div>
        </ng-template>
        <ng-template swiperSlide >
            <div class="browse-item">
              <a routerLink="/product-list/to-let-list">
                <div class="browse-item-left">
                  <img src="assets/images/png/renting.png" alt="" />
                </div>
                <div class="browse-item-right">
                  <h1>To-Let</h1>
                  <p>{{postCount?.toLet ? (postCount?.toLet | number: '': 'bn'): 0}} ads</p>
                </div>
              </a>
            </div>
              </ng-template>
            </swiper>
          </div>
        </div>
      </div>
      </div>
