<div class="main">
  <div class="container">
    <!-- main-data-container -->
    <div class="main-data-container">

      <div class="sec2-post-ad">
        <div class="sec2-post-ad-main">
    
          <div class="sec2-post-ad-cards">
            <!-- card 2 -->
            <div class="sec2-post-ad-card sec2-post-ad-card2">
              <div class="left-img">
                <img src="./assets/images/png/4.jpg" alt="" />
              </div>
              <div class="right-data">
                <h1>To-Let</h1>
                <p>
                  Are you looking for a safe apartment to rent or a good tenant?
                </p>
                <button type="button" routerLink="/post-ad/add-post-price">
                  <span><i class="fas fa-plus-circle"></i></span>
                  <span>Post TO-LET Here</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


