<div class="my-membership">
  <!-- my-account-title -->
  <div class="my-membership-title">
    <h2>Abdullah Al Nomaan</h2>
  </div>

  <!-- not-set -->
  <div class="not-set">
    <!-- not-set-img -->
    <div class="not-set-icon">
      <i class="fa-solid fa-star"></i>
    </div>

    <!-- not-set-text -->
    <div class="not-set-text">
      <h4>You haven't marked any ads as favorite yet.</h4>
      <p>Click on the star symbol on any ad to save it as a favorite.</p>

      <p>Start to <a>browse ads</a> to find ads you would like to favorite.</p>
    </div>
  </div>
</div>
