@import "src/theme/_variables.scss";

/* --- my-membership-title --- */
.my-membership-title {
  margin-bottom: 24px;
  border-bottom: 1px solid #e7edee;
  padding: 7px 0px;

  h2 {
    font-family: $font-en-primary;
    font-size: 20px;
    font-weight: 400;
    color: $text-home-first-sec-color;
  }
}

/* --- not-set --- */
.not-set {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 22px;
}

.not-set-icon {
  padding: 0px 25px 0px 40px;

  i {
    font-size: 60px;
    color: #ffc800;
  }
}

.not-set-text {
  h4 {
    font-family: $font-en-primary;
    font-size: 18px;
    font-weight: 400;
    color: $text-home-first-sec-color;
  }

  p {
    font-family: $font-en-primary;
    font-size: 15px;
    font-weight: 300;
    color: #707676;
    line-height: 22px;
    margin: 12px 0px !important;

    &:last-child {
      margin-bottom: 0px;
    }

    a {
      font-family: $font-en-primary;
      font-size: 14px;
      color: #0074ba;
      font-weight: 400;
      display: inline;

      &:hover {
        color: #00547e;
      }
    }
  }
}
