@import "src/theme/_variables.scss";

.top-data-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 34px;

  h2 {
    font-family: $font-en-primary;
    font-size: 24px;
    font-weight: 600;
    color: $product-details-title;
    max-width: 537px;
    text-align: center;
    line-height: 40px;
  }

  .small-data {
    text-align: center;
    border-radius: 4px;
    margin-bottom: 0px;

    h4 {
      font-family: $font-en-primary;
      font-size: 18px;
      color: $product-details-title;
      font-weight: 500;
      margin-bottom: 20px !important;
    }

    p {
      font-family: $font-en-primary;
      font-size: 16px;
      color: #707676;
      font-weight: 300;
      line-height: 24px;
      margin-top: 10px !important;

      &:last-child {
        padding-bottom: 22px !important;
        margin-bottom: 0px;
      }
    }
  }

  a {
    font-family: $font-en-primary;
    font-size: 14px;
    color: #0074ba;
    font-weight: 400;

    &:hover {
      color: #00547e;
    }
  }
}

.variation {
  overflow: hidden;
  ul {
    overflow-x: auto;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 50px;
    list-style: none;
    flex-wrap: wrap;
  }
}

.variation-data a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  .svg {
    svg {
      filter: sepia(100%) hue-rotate(300deg) saturate(0);
    }
  }

  .text {
    font-family: $font-en-primary;
    font-size: 14px;
    font-weight: 400;
    color: #707676;
    opacity: 0.5;
    white-space: nowrap;
  }
}

.variation-data a.active {
  .svg {
    svg {
      filter: none;
    }
  }

  .text {
    font-family: $font-en-primary;
    font-size: 14px;
    font-weight: 500;
    color: $product-details-title;
    opacity: 1;
  }
}

.main-container {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 430px calc(100% - 460px);
  gap: 0 30px;
  padding: 40px 50px 0px 50px;
  border-bottom: 2px solid #707676;
}

.image {
  height: auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  img {
    height: auto;
    max-width: 320px;
  }
}

.text {
  height: auto;
  width: 100%;
  h1 {
    font-family: $font-en-primary;
    font-size: 16px;
    color: $product-details-title;
    padding-bottom: 16px;
  }
  p {
    font-family: $font-en-primary;
    font-size: 16px;
    padding-bottom: 14px;
    text-align: justify;
    color: #707676;
    line-height: 21px;
    font-weight: 300;

    b {
      font-weight: 600;
    }
  }

  .text2 {
    padding-left: 16px;
    ul li {
      font-family: $font-en-primary;
      font-size: 16px;
      padding-bottom: 14px;
      font-weight: 300;
      text-align: justify;
      color: #707676;
      line-height: 21px;

      &:last-child {
        padding-bottom: 0px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .main-container {
    margin: 0 auto;
    gap: 0px 30px;
    grid-template-columns: 100%;
    padding: 0px 0px;
  }

  .image {
    img {
    }
  }

  .text {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 442px) {
  .top-title {
    h1 {
      font-size: 20px;
    }
  }
}
