<body>
<main>
  <div class="card-basic">
    <div class="card-header header-basic">
      <h1>একাউন্ট ওপেনিং</h1>
    </div>
    <div class="card-body">
      <div class="card-element-hidden-basic">
        <ul class="card-element-container">
          <li class="card-element">একাউন্ট ওপেনিং ফিসঃ <b>৫০ টাকা</b> </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card-to-let">
    <div class="card-header header-to-let">
      <h1>বাসাভাড়া/ মেস বিজ্ঞাপন</h1>
    </div>
    <div class="card-body">
      <div class="card-element-to-let">
        <ul class="card-element-container">
          <li class="card-element">বাসাভাড়া/ মেস বিজ্ঞাপন দিতেঃ <b>৫০ টাকা</b>
            (এডমিনদের সাহায্য নিলে <b>১০০ টাকা</b>) </li>
        </ul>
      </div>
    </div>
  </div>
</main>
</body>
