<body>
<main>
  <div class="card-basic">
    <div class="card-header header-basic">
      <h1>একাউন্ট ওপেনিং</h1>
    </div>
    <div class="card-body">
<!--      <p><h2>$5 / mo</h2></p>-->
      <div class="card-element-hidden-basic">
        <ul class="card-element-container">
          <li class="card-element">একাউন্ট ওপেনিং ফিসঃ <b>৫০ টাকা</b> </li>
<!--          <li class="card-element">2GB storage</li>-->
<!--          <li class="card-element">1000 request per day</li>-->
<!--          <li class="card-element">20000 users</li>-->
        </ul>
<!--        <button class="btn btn-basic">Order now</button>-->
      </div>
    </div>
  </div>

  <div class="card-standard">
    <div class="card-header header-standard">
      <h1>বায়োডাটা ফি</h1>
    </div>
    <div class="card-body">
<!--      <p><h2>$10 / mo</h2></p>-->
      <div class="card-element-hidden-standard">
        <ul class="card-element-container">
          <li class="card-element">বায়োডাটা ডিটেইলস পেতে বা এডমিন কে যোগাযোগ করতেঃ <b>১০০ টাকা</b> </li>
<!--          <li class="card-element">5GB storage</li>-->
<!--          <li class="card-element">2000 request per day</li>-->
<!--          <li class="card-element">40000 users</li>-->
        </ul>
<!--        <button class="btn btn-standard">Order now</button>-->
      </div>
    </div>
  </div>

  <div class="card-premium">
    <div class="card-header header-premium">
      <h1>পন্য বিক্রয়</h1>
    </div>
    <div class="card-body">
<!--      <p><h2>$20 / mo</h2></p>-->
      <div class="card-element-hidden-premium">
        <ul class="card-element-container">
          <li class="card-element">পন্য বিক্রয় পোস্ট দিতেঃ <b>৫০ টাকা</b>
            এবং এই সাইটের মাধ্যমে পণ্য সেল হলে সেলস মূল্যের <b>১% টাকা</b> </li>
<!--          <li class="card-element">10GB storage</li>-->
<!--          <li class="card-element">5000 request per day</li>-->
<!--          <li class="card-element">Unlimited users</li>-->
        </ul>
<!--        <button class="btn btn-premium">Order now</button>-->
      </div>
    </div>
  </div>

  <div class="card-to-let">
    <div class="card-header header-to-let">
      <h1>বাসাভাড়া/ মেস বিজ্ঞাপন</h1>
    </div>
    <div class="card-body">
      <!--      <p><h2>$20 / mo</h2></p>-->
      <div class="card-element-to-let">
        <ul class="card-element-container">
          <li class="card-element">বাসাভাড়া/ মেস বিজ্ঞাপন দিতেঃ <b>৫০ টাকা</b>
            (এডমিনদের সাহায্য নিলে <b>১০০ টাকা</b>) </li>
<!--          <li class="card-element">10GB storage</li>-->
<!--          <li class="card-element">5000 request per day</li>-->
<!--          <li class="card-element">Unlimited users</li>-->
        </ul>
<!--        <button class="btn btn-to-let">Order now</button>-->
      </div>
    </div>
  </div>


  <div class="card-job-post">
    <div class="card-header header-job-post">
      <h1>ক্যারিয়ার কর্নার</h1>
    </div>
    <div class="card-body">
      <!--      <p><h2>$20 / mo</h2></p>-->
      <div class="card-element-job-post">
        <ul class="card-element-container">
          <li class="card-element">ক্যারিয়ার কর্নারের সিভি আপলোড করতেঃ <b>১০০ টাকা</b>
            নিয়োগ বিজ্ঞপ্তি দিতেঃ <b>১০০ টাকা</b>
          </li>
<!--          <li class="card-element">10GB storage</li>-->
<!--          <li class="card-element">5000 request per day</li>-->
<!--          <li class="card-element">Unlimited users</li>-->
        </ul>
        <!--        <button class="btn btn-to-let">Order now</button>-->
      </div>
    </div>
  </div>

</main>
</body>
