<div class="back-side-bar">
  <ul>
    <li>
      <button type="button" (click)="onShoeSideBar()">
        <i class="fa-solid fa-arrow-left-long"></i>
      </button>
    </li>
  </ul>
</div>

<div class="order-list-main">
  <div class="order-list-child">
    <div class="list-title">
      <h1>Timeline</h1>
    </div>
    <div class="order-processing">
      <ng-container>
        <app-processing-card class="process" [order]="order"></app-processing-card>
      </ng-container>
    </div>
  </div>

  <div class="order-list-child" *ngIf="order?.orderedItems.length > 0">
    <div class="list-title">
      <h1>Medicines</h1>
    </div>

    <div class="medicines-lists">
      <ng-container *ngFor="let data of order?.orderedItems">
        <app-medicine-list-card [medData]="data"></app-medicine-list-card>
      </ng-container>
    </div>

    <div class="create-another-order">
      <button routerLink="/product-list">another order with these items</button>
    </div>
  </div>
  <div class="order-list-child">
    <div class="list-title">
      <h1>Shipping Address</h1>
    </div>
    <div class="shopping-address">
      <div class="shopping-left">
        <div class="shopping-left-img">
          <img src="/assets/images/jpg/address.webp" alt="" />
        </div>
      </div>

      <div class="shopping-right">
        <h4>{{ order?.name }}</h4>
        <p class="number">+88{{ order?.phoneNo }}</p>
        <p>
          {{ order?.shippingAddress }}
        </p>
      </div>
    </div>
  </div>

  <div class="order-list-child">
    <div class="order-main-data">
      <div class="order-saving">
        <img src="/assets/images/png/taka.webp" alt="" />
        <p>
          You are saving in
          <strong>৳ {{ order?.totalSave }}</strong>
          this order.
        </p>
      </div>
      <div class="last-order">
        <ul>
          <li>
            <p>Order ID</p>
            <h3># {{ order?.orderId }}</h3>
          </li>
          <li>
            <p>Ordered at</p>
            <p>{{ order?.checkoutDate | date : "medium" }}</p>
          </li>
          <li>
            <p>Subtotal</p>
            <p>৳ {{ order?.subTotal.toFixed(2) }}</p>
          </li>
          <li>
            <p>Discount applied</p>
            <p>৳ {{ order?.discount }}</p>
          </li>
          <li>
            <p>
              Delivery {{ order?.checkoutDate | date : "mediumDate" }}, between
              4pm to 8pm
            </p>
            <p>৳ {{ order?.deliveryCharge }}</p>
          </li>
          <li>
            <h3>{{order?.paymentStatus === 'unpaid' ? 'Amount Payable' : 'Grand Total'}}</h3>
            <h3>
              ৳{{ order?.grandTotal.toFixed(2)  }} <span>({{ order?.paymentStatus }})</span>
            </h3>
          </li>
        </ul>
      </div>

      <div class="view-invoice">
        <button (click)="downloadPdfInvoice('download')">View your invoice</button>
      </div>
      <div class="cancel-btn" *ngIf="order?.orderStatus == 1">
        <button color="warn" mat-flat-button (click)="onOrderCancel(order?._id,{orderStatus:6},$event)">Cancel Order</button>
      </div>
    </div>
  </div>
</div>