<div class="main">
  <div class="container">
    <div class="main-data-container">
      <!-- top data -->
      <div class="top-data">
        <div class="top-svg">
          <div class="top-data-title">
            <h2>Terms & Conditions</h2>
            <div class="small-data">
              <p>
                queriescare is a service provided by Saltside Technologies AB
                (subject to your compliance with the Terms and Conditions set
                forth below). Please read these Terms and Conditions before
                using this platform.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="trams-data">
        <h3>General</h3>

        <p>
          Advertisers and users are responsible for ensuring that advertising
          content, text, images, graphics, video ("Content") uploaded for
          inclusion on queriescare complies with all applicable laws. queriescare &
          Saltside Technologies AB assumes no responsibility for any illegality
          or any inaccuracy of the Content.
        </p>

        <p>
          The advertisers and user guarantees that his or her Content do not
          violate any copyright, intellectual property rights or other rights of
          any person or entity, and agrees to release queriescare and Saltside
          Technologies AB from all obligations, liabilities and claims arising
          in connection with the use of (or the inability to use) the service.
        </p>

        <p>
          Advertisers agree that their Content can may be presented through
          queriescare's partner sites under the same terms and conditions as on
          queriescare.
        </p>
      </div>

      <div class="trams-data">
        <h3>Copyright</h3>

        <p>
          Advertisers grant queriescare and Saltside Technologies AB a perpetual,
          royalty-free, irrevocable, non-exclusive right and license to use,
          reproduce, modify, adapt, publish, translate, create derivative works
          from and distribute such Content or incorporate such Content into any
          form, medium, or technology now known or later developed.
        </p>

        <p>
          The material (including the Content, and any other content, software
          or services) contained on queriescare are the property of Saltside
          Technologies AB, its subsidiaries, affiliates and/or third party
          licensors. Any intellectual property rights, such as copyright,
          trademarks, service marks, trade names and other distinguishing brands
          on the Web Site are the property of Saltside Technologies AB. To be
          clear: No material on this site may be copied, reproduced,
          republished, installed, posted, transmitted, stored or distributed
          without written permission from Saltside Technologies AB.
        </p>
      </div>

      <div class="trams-data">
        <h3>Governing law</h3>

        <p>queriescare is operated under the laws and regulations of Bangladesh.</p>
      </div>
    </div>
    <div class="main-data-container main-data-container2">
      <!-- top data -->
      <div class="top-data">
        <div class="top-data-title top-data-title2">
          <h2>Want to get in touch quickly?</h2>
          <div class="small-data">
            <p class="every-day">Every day from 10:00 AM to 8:00 PM</p>
          </div>
        </div>

        <div class="for-contact">
          <ul>
            <li>
              <div class="contact-main">
                <div class="icon-text">
                  <i class="fa-solid fa-phone"></i>
                  <p>Call us</p>
                </div>
                <div class="contact-info">
                  <a href="tel:09609 555444"> 09609 555444 </a>
                </div>
              </div>
            </li>

            <li>
              <div class="contact-main">
                <div class="icon-text">
                  <i class="fa-solid fa-envelope"></i>
                  <p>Email us</p>
                </div>
                <div class="contact-info">
                  <a href="support@bikroy.com"> support@bikroy.com</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
