<!-- section one for product details -->
<div class="product-main">
  <div class="container">
    <div class="product-details-main">
      <!-- pagination -->
      <div class="top-pagination">
        <ul>
          <li>
            <a routerLink="/home">Home</a>
          </li>
          <li>
            <a routerLink="/home">To Let Details</a>
          </li>
          <li>
            <a routerLink="/home">{{ product?.name }}</a>
          </li>
        </ul>
      </div>

      <div class="product-details-datas">
        <!-- left -->
        <div class="product-details-left">
          <!-- product img -->
          <div class="main-img">
            <img [src]="image ?? '/assets/images/png/cropped.webp'" alt="" />
          </div>

          <!-- product description -->
          <div class="right-highLight right-highLight2">
            <h2>Description</h2>
            <ul>
              <li>
                <i class="fas fa-sticky-note"></i>
              </li>
              <li>
                <div class="description-data">
                  <ul>
                    <li [innerHtml]="product?.description"></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- right -->
        <div class="product-details-right">
          <div class="product-details-right-data">
            <div class="right-top">
              <!-- pro-right-data -->
              <div class="pro-right-data">
                <div class="pro-right-left">
                  <h2>{{ product?.name }}</h2>
                  <div class="card-small-text"></div>

                  <p>
                    <span>Category:</span>
                    <small>{{ product?.flatCategory }}</small>
                  </p>
                  <a>
                    <span><i class="fa-solid fa-location-dot"></i></span>
                    <small>{{ product?.area?.name }}</small>
                    <span><i class="fa-solid fa-chevron-right"></i></span>
                  </a>
                </div>
              </div>

              <!-- price section -->
              <div class="right-price">
                <h2 *ngIf="product?.rentPrice">
                  <span>Tk</span> <span>{{ product?.rentPrice }}</span>
                </h2>
                <p>Fixed on road price</p>
              </div>
              <br />
              <p>
                For More Information Add Your Information and Request for
                Appointment
              </p>
              <div class="buy-now-btns">
                <div class="input-box">
                  <p>
                    <label for="email">Name</label>
                  </p>

                  <div class="input-doc">
                    <input
                      type="text"
                      id="name"
                      placeholder="Name"
                      formControlName="name"
                    />
                  </div>

                  <!-- <p
                    class="required"
                    *ngIf="
                      dataForm.get('name').touched &&
                      dataForm.get('name').invalid
                    "
                  >
                    <i>This felid is required</i>
                  </p> -->
                </div>
                <div class="input-box">
                  <p>
                    <label for="email">Email</label>
                  </p>

                  <div class="input-doc">
                    <input
                      type="text"
                      id="email"
                      placeholder="Email"
                      formControlName="email"
                      [value]="product?.email"
                    />
                  </div>

                  <!-- <p
                    class="required"
                    *ngIf="
                      dataForm.get('name').touched &&
                      dataForm.get('name').invalid
                    "
                  >
                    <i>This felid is required</i>
                  </p> -->
                </div>
                <div class="input-box">
                  <p>
                    <label for="measurement">Phone Number</label>
                  </p>

                  <div class="input-doc">
                    <input
                      type="text"
                      id="pname"
                      placeholder=""
                      formControlName="pname"
                      [value]="product?.phone"
                    />
                  </div>

                  <!-- <p
                    class="required"
                    *ngIf="
                      dataForm.get('name').touched &&
                      dataForm.get('name').invalid
                    "
                  >
                    <i>This felid is required</i>
                  </p> -->
                </div>
                <!-- <a href="tel:{{product?.phone}}">Call us </a> -->
                <br />
                <mat-form-field>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    placeholder="Choose a date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <button (click)="onRequestAppointment()"
                  >Request Appointment {{ product?.email }}
                </button>
              </div>
            </div>
          </div>
          <!-- heigh lite product -->

          <!-- product description -->
          <div class="right-highLight right-highLight3">
            <h2>Description</h2>
            <ul>
              <li>
                <i class="fas fa-sticky-note"></i>
              </li>
              <li>
                <div class="description-data">
                  <ul>
                    <li [innerHtml]="product?.description"></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
