@import "src/theme/_variables.scss";
@import "src/theme/_swipper.scss";

.product-details-main {
  padding-top: 24px;
  max-width: 1240px;
  margin: auto;
}

.product-details-datas {
  display: grid;
  grid-template-columns: calc(100% - 390px) 360px;
  grid-gap: 30px;
  margin-top: 24px;
}

@media (max-width: 1000px) {
  .product-details-main {
    max-width: 95%;
    margin: auto;
  }
}

@media (max-width: 800px) {
  .product-details-datas {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;
    margin-top: 24px;
  }
}

// left side start
.product-details-left {
  .main-img {
    border-radius: 6px;
    overflow: hidden;
    margin: 0px 0px 20px 0px;

    img {
      object-position: center;
      width: 100%;
      max-height: 500px;
      margin: auto;
      object-fit: cover;
    }
  }
}

.image-select-slide {
  width: 100%;
}

.slide-img {
  display: block;
  border-radius: 7px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  background-color: #fff;
}

.slide-img img {
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.slide-img:hover {
  border-color: $primary-color;
}

.right-highLight {
  padding: 32px 16px 16px 0px;
  h2 {
    font-size: 20px;
    font-weight: 600;
    color: $product-details-title;
    font-family: $font-en-primary;
    letter-spacing: 0.5px;
  }

  ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding: 20px 0px 0px 0px;
    gap: 16px;

    li {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      i {
        font-size: 26px;
        color: $primary-color;
        padding-top: 0px;
      }

      .highlight-data {
        h3 {
          font-size: 16px;
          font-weight: 600;
          color: $product-details-title;
          font-family: $font-en-primary;
          margin-bottom: 4px !important;
        }

        p {
          font-size: 13px;
          font-family: $font-en-primary;
          color: #555555;
          font-weight: 400;
        }
      }
    }
  }
}

.description-data {
  ul {
    padding: 0px;
    margin: 0px;
    display: block;

    li {
      font-size: 14px;
      font-family: $font-en-primary;
      color: #555555;
      font-weight: 400;
      margin-bottom: 6px;
    }
  }
}

@media (max-width: 800px) {
  .right-highLight.right-highLight2 {
    display: none;
  }
}

// right side start
.product-details-right-data {
  background-color: #fff;
  border-radius: 12px;
  color: #2e054e;
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid #e8e8e8;
  height: auto;
  position: sticky;
  top: 10px;
}

.right-highLight.right-highLight3 {
  display: none;
}

@media (max-width: 800px) {
  .product-details-right-data {
    position: relative;
  }

  .right-highLight.right-highLight3 {
    display: block;
    padding-bottom: 30px;
  }
}

.right-top {
  padding: 12px 12px 0;
  border-bottom: 1px solid #f2f3f5;
}

.pro-right-data {
  display: grid;
  grid-template-columns: calc(100% - 100px) 90px;
  grid-gap: 10px;
  border-bottom: 1px solid #f2f3f5;
  padding-bottom: 16px;
}

.pro-right-left {
  h2 {
    font-family: $font-en-primary;
    font-size: 18px;
    font-weight: 500;
    color: $product-details-title;
    margin-bottom: 4px !important;
  }

  p,
  a {
    font-size: 15px;
    font-family: $font-en-primary;
    color: #555555;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin: 8px 0px !important;

    i {
      font-size: 11px;
    }
  }

  a {
    margin: 0px !important;
    &:hover {
      small {
        text-decoration: underline;
      }
    }
  }
}

.pro-right-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-top: 2px;

  i {
    font-size: 22px;
    margin-bottom: 5px;
  }

  p {
    font-size: 11px;
    font-family: $font-en-primary;
    color: #888888;
    font-weight: 400;
    gap: 5px;
    margin-bottom: 2px !important;

    &:last-child {
      margin-bottom: 0px !important;
    }
  }
}

.card-small-text {
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;

    li {
      font-family: $font-en-primary;
      font-size: 14px;
      font-weight: 400;
      color: $product-details-title;
      position: relative;
      padding: 4px 0px;

      &::before {
        content: "";
        width: 4px;
        height: 4px;
        background-color: #2e054e;
        border-radius: 50%;
        position: absolute;
        top: 56%;
        left: -10px;
        transform: translateY(-50%);
        background-color: $product-details-title;
      }

      &:first-child {
        &::before {
          content: "";
          display: none;
        }
      }
    }
  }
}

.right-price {
  h2 {
    font-size: 24px;
    line-height: 28px;
    font-family: $font-en-primary;
    font-weight: 500;
    color: $product-details-title;
    padding: 16px 0px 4px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
  }

  p {
    font-size: 12px;
    font-family: $font-en-primary;
    color: #555555;
    font-weight: 400;
  }
}

.buy-now-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 24px 0px;

  button {
    color: #fff;
    background-color: $primary-color;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 0;
    transition: all 0.12s linear;
    font-size: 16px;
    font-family: $font-en-primary;
    font-weight: 500;

    &:hover {
      background-color: #10795f;
    }

    &:first-child {
      background-color: #1f74ff;

      &:hover {
        background-color: #0461f8;
      }
    }
  }
}

.pro-details-right-bottom {
  padding: 18px 16px;
  display: grid;
  grid-template-columns: 24px auto 28px;
}

.text-right {
  p {
    font-size: 11px;
    font-family: $font-en-primary;
    font-weight: 400;
    color: #555555;
    line-height: 15px;

    span {
      color: $product-details-title;
      font-weight: 500;
    }
  }
}

.icon-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  i {
    font-size: 16px;
    color: $product-details-title;
  }
}

@media (max-width: 556px) {
  .buy-now-btns {
    grid-template-columns: 1fr;
  }
}

// new card-section

.app-view-cards {
  background: rgb(247, 244, 248);
}

.new-card-section {
  padding-top: 50px;
  background: rgb(247, 244, 248);

  .main-container {
    max-width: 1240px;
    margin: auto;
    margin-bottom: 50px;
  }

  .title-card {
    h2 {
      align-items: center;
      display: flex;
      justify-content: space-between;
      line-height: 16px;
      //   margin-top: 32px !important;
      padding-bottom: 34px !important;
      text-align: center;
      font-size: 28px;
      line-height: 28px;
      font-family: $font-en-primary;
      color: $product-details-title;
      font-weight: 500;

      &::before {
        background: linear-gradient(90deg, #cacaca, transparent);
        content: "";
        flex: 1;
        height: 1px;
        margin-left: 0px;
      }

      &::after {
        background: linear-gradient(90deg, transparent, #cacaca);
        content: "";
        flex: 1;
        height: 1px;
        margin-right: 0px;
      }
    }
  }
}

.new-section-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 1024px) {
  .new-section-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .main-container {
    max-width: 95%;
    margin: auto;
  }
}

@media (max-width: 724px) {
  .new-section-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 470px) {
  .new-section-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
