<div class="dialog-area">
  <div class="logo">
    <img src="./assets/images/logo/logo-flat.png" alt="" />
  </div>
  <div class="dialog-body">
    <h3>SELECT YOUR LOCATION</h3>
    <form (ngSubmit)="onFormSubmit()" [formGroup]="dataFrom">
      <div class="popup-area upcoming-popup material-upcoming">
        <div class="search-select-country">
          <div class="input-select-box">
            <div class="input-custom-select-box select-area">


              <div class="form-input-select">
                <mat-form-field class="mat-select-form" appearance="outline">
                  <mat-label>Select Division</mat-label>
                  <mat-select formControlName="division" (selectionChange)="onChangeRegion($event)">
                    <mat-option [value]="d?._id" *ngFor="let d of divisions">{{d?.name}}</mat-option>
                  </mat-select>
                  <mat-error>This field is required</mat-error>
                </mat-form-field>
              </div>

              <div class="form-input-select">
                <mat-form-field class="mat-select-form" appearance="outline">
                  <mat-label>Select Area</mat-label>
                  <mat-select formControlName="area" >
                    <mat-option [value]="a?._id" *ngFor="let a of area">{{a?.name}}</mat-option>
                  </mat-select>
                  <mat-error>This field is required</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- END! input-select-box -->
        </div>
        <!--END! search-select-country -->
<!--        (click)="onClickClose()"-->
        <button

          type="submit"
          style="margin-top: 0px; background: #1f74ff"
          mat-raised-button
          color="primary"
          class="upcoming-dialog-submit"
        >
          Submit
        </button>
      </div>
    </form>

    <p class="">All of Al Arabia, now at your fingertips</p>
  </div>
</div>
