@import "src/theme/_variables.scss";

/* --- category-main --- */
.category-main {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  backdrop-filter: blur(8px);
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
  transition: backdrop-filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 10;
  padding: 30px;
  cursor: pointer;
}

/* --- category-child --- */
.category-child {
  overflow: hidden;
  border-radius: 6px;
  max-width: 840px;
  margin: auto;
}

/* --- coun-main --- */
.coun-main {
  max-height: calc(100vh - 60px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  z-index: 34;
  cursor: auto;
  overflow: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #fff;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #b7b6b6;
  }
}

/* --- category-in --- */
.category-in {
  width: 100%;
  height: 100%;
  padding: 16px;
  position: relative;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

@media (max-width: 600px) {
  .category-main {
    padding: 12px;
    background-color: #fff;
  }

  .coun-main {
    max-height: calc(100vh - 24px);
  }

  .category-child {
    border-radius: 0px;
  }

  .category-in {
    grid-template-columns: repeat(1, 1fr);
    padding: 16px;
  }
}

/* --- select-title --- */
.select-title {
  margin-bottom: 0px;
  h2 {
    font-size: 15px;
    font-weight: 500;
    color: $text-home-first-sec-color;
    font-family: $font-en-primary;
  }
}

/* --- category-details --- */
.category-details {
  ul {
    padding: 0px;
    margin-top: 10px;
    list-style: none;

    li {
      border-bottom: 1px solid rgb(231, 237, 238);
      a {
        font-family: $font-en-primary;
        font-size: 14px;
        color: #0074ba;
        font-weight: 400;
        padding: 14px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;

          .svg-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }

          small {
            font-size: 14px;
            font-weight: 400;
          }
        }

        i {
          color: #707676;
          opacity: 0.5;
          font-family: 18px;
        }

        &:hover {
          color: #00547e;
        }
      }

      &.active {
        a {
          span {
            color: $text-home-first-sec-color !important;
          }
        }
      }

      &:last-child {
        border-bottom: 0px;
      }
    }
  }
}

/* --- first-hr --- */
.first-hr {
  border: 0px;
  margin: 12px 0px 20px;
  border-top: 1px solid rgb(231, 237, 238);
  width: 100%;
}

/* --- cross-btn --- */
.cross-btn {
  position: absolute;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  position: absolute;
  right: 2px;
  top: 0px;
  z-index: 100;

  i {
    color: #707676;
    font-size: 25px;
    opacity: 0.8;
  }
}

/* --- search-area --- */
.search-area {
  p {
    font-family: $font-en-primary;
    font-size: 13px;
    font-weight: 400;
    color: #707676;
    margin-bottom: 6px !important;
  }
}

.search-data-input {
  position: relative;

  input {
    width: 100%;
    border: 1px solid #d4ded9;
    font-family: $font-en-primary;
    font-size: 14px;
    font-weight: 400;
    color: $text-home-first-sec-color;
    height: 32px;
    padding: 0px 30px 0px 30px;
    outline: 0px;

    &:focus {
      border: 1px solid #149777;
    }
  }

  .search-icon {
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    left: 8px;

    i {
      color: rgb(112, 118, 118);
      font-size: 16px;
    }
  }
  .up-down-icon {
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    right: 8px;

    i {
      color: rgb(112, 118, 118);
      font-size: 15px;
    }
  }
}

.search-data {
  width: 100%;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #d4ded9;
  border-top: 0px;

  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;

    li {
      a {
        font-family: $font-en-primary;
        font-size: 14px;
        font-weight: 400;
        color: $text-home-first-sec-color;
        padding: 10px 13px;
      }

      &:hover {
        a {
          background-color: #1497761c;
          color: #149777;
        }
      }
    }
  }
}

.select-title {
  .fa-chevron-left {
    display: none !important;
  }
  h2 {
    br {
      display: none !important;
    }
    span {
      display: none !important;
    }
  }
}

@media (max-width: 600px) {
  .select-left {
    display: none;
  }

  .select-right {
    display: none;
  }

  .select-left.active {
    display: block;
  }
  .select-right.active {
    display: block;
  }

  .select-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    i {
      padding: 6px;
      padding-right: 12px;
      padding-left: 0px;
      font-size: 17px;
      color: $text-home-first-sec-color;
    }
  }

  .select-title .fa-chevron-down {
    display: block;
  }
}
