@import "src/theme/_variables.scss";

/* --- country-main --- */
.country-main {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  backdrop-filter: blur(8px);
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
  transition: backdrop-filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 10;
  padding: 30px;
  cursor: pointer;
}

/* --- country-child --- */
.country-child {
  overflow: hidden;
  border-radius: 6px;
  max-width: 620px;
  margin: auto;
}

/* --- coun-main --- */
.coun-main {
  max-height: calc(100vh - 60px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  z-index: 34;
  cursor: auto;
  overflow: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #fff;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #b7b6b6;
  }
}

/* --- country-in --- */
.country-in {
  width: 100%;
  height: 100%;
  padding: 42px;
  position: relative;
  background-color: #fff;
}

@media (max-width: 500px) {
  .country-in {
    padding: 42px 20px;
  }
}

/* --- browse-items --- */
.browse-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 40px;
  max-width: 90%;
  margin: 0px auto;
}

.browse-item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;

  .browse-item-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
      width: 50px;
    }
  }

  .browse-item-right {
    text-align: center;

    h1 {
      font-size: 16px;
      font-weight: 400;
      font-family: $font-en-primary;
      color: $text-home-first-sec-color;
      margin-bottom: 8px !important;
      cursor: pointer;
      transition: all 0.12s linear;
    }
    p {
      font-size: 13px;
      font-weight: 200;
      font-family: $font-en-primary;
      color: $text-home-first-sec-color-2;
    }
  }

  &.active {
    .browse-item-right {
      text-align: center;

      h1 {
        color: $color-primary;
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 1046px) {
  .browse-items {
    max-width: 100%;
    overflow: auto;
  }

  .browse-item {
    width: 100%;
    a {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .browse-item-right {
        text-align: center;

        h1 {
          font-size: 16px;
          white-space: nowrap;
          cursor: pointer;
        }

        p {
          white-space: nowrap;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .browse-item a {
    .browse-item-left {
      img {
        width: 40px;
      }
    }

    .browse-item-right {
      text-align: center;

      h1 {
        font-size: 14px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}

/* --- cross-btn --- */
.cross-btn {
  position: absolute;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  position: absolute;
  right: 5px;
  top: 4px;
  z-index: 100;

  i {
    color: #707676;
    font-size: 25px;
    opacity: 0.8;
  }
}
