<div class="main">
  <div class="container">
    <div class="main-data-container">
      <div class="my-resume">
        <!-- my-resume-title -->
        <div class="my-resume-title">
          <h2>My profile</h2>

          <!-- this is show for profile data set -->
          <div class="ranger">
            <div class="ranger-info">
              <p>Profile completeness</p>
              <p>70%</p>
            </div>
            <div class="ranger-bar">
              <span style="width: 70%"></span>
            </div>
          </div>
        </div>

        <!-- profile-bio. Show for do add profile data -->
        <div class="profile-bio" *ngIf="false">
          <h4>Welcome</h4>
          <p>
            Create a free Profile on bikroy to showcase your skills and get your
            dream job. Make sure to complete your Profile in order to stand out
            from the crowd; employers like to see details.
          </p>
        </div>

        <!-- user-information one -->
        <div class="user-information">
          <!-- user-info-title -->
          <div class="user-info-title">
            <h3>Basic information</h3>

            <!-- show for setup profile -->
            <button routerLink="basic-information" type="button">Edit</button>
          </div>

          <!-- profile-data-img -->
          <div class="profile-data-img">
            <div class="prof-img">
              <img src="../../../../assets/images/png/unnamed.jpg" alt="" />
            </div>
            <div class="prof-data">
              <h4>Abdullah Al Nomaan</h4>
              <p>
                <i class="fa-solid fa-phone"></i>
                <span>012345789</span>
              </p>
            </div>
          </div>

          <!-- user-form-info -->
          <div class="user-form-info">
            <ul>
              <li>
                <div class="form-info-data">
                  <h3>Gender</h3>
                  <p>Male</p>
                </div>
              </li>

              <li>
                <div class="form-info-data">
                  <h3>Date of birth</h3>
                  <p>01 Jul 2009</p>
                </div>
              </li>

              <li>
                <div class="form-info-data">
                  <h3>Location</h3>
                  <p>Chattogram</p>
                </div>
              </li>

              <li>
                <div class="form-info-data">
                  <h3>Sublocation</h3>
                  <p>Nasirabad</p>
                </div>
              </li>

              <li>
                <div class="form-info-data">
                  <h3>Highest education level</h3>
                  <p>SSC / O Level</p>
                </div>
              </li>

              <li>
                <div class="form-info-data">
                  <h3>Current job</h3>
                  <p>Digital Marketing Manager</p>
                </div>
              </li>

              <li>
                <div class="form-info-data">
                  <h3>Total years of work experience</h3>
                  <p>2</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- user-information two -->
        <div class="user-information">
          <!-- user-info-title -->
          <div class="user-info-title">
            <h3>Additional information</h3>

            <!-- show for setup profile -->
            <button routerLink="additional-information" type="button">
              Edit
            </button>
          </div>

          <!-- user-form-info -->
          <div class="user-form-info">
            <ul>
              <li>
                <div class="form-info-data">
                  <h3>Educational specialization</h3>
                  <p>Business & Management</p>
                </div>
              </li>

              <li>
                <div class="form-info-data">
                  <h3>Institute / University</h3>
                  <p>fenj</p>
                </div>
              </li>

              <li>
                <div class="form-info-data">
                  <h3>About yourself</h3>
                  <p>dseeeeeeeeeeeeeeeeeeeeeeee</p>
                </div>
              </li>

              <li>
                <!-- <div class="form-info-data">
                  <h3>Sublocation</h3>
                  <p>Nasirabad</p>
                </div> -->
              </li>

              <li>
                <div class="form-info-data">
                  <h3>Name of the current employer</h3>
                  <p>32323</p>
                </div>
              </li>

              <li>
                <div class="form-info-data">
                  <h3>Current salary (per month) (Tk)</h3>
                  <p>2</p>
                </div>
              </li>

              <li>
                <div class="form-info-data">
                  <h3>Started in</h3>
                  <p>Jul 2023</p>
                </div>
              </li>
              <li>
                <div class="form-info-data">
                  <h3>Notice period (in days)</h3>
                  <p>2</p>
                </div>
              </li>
              <li>
                <div class="form-info-data">
                  <h3>About the current job</h3>
                  <p>Not filled</p>
                </div>
              </li>
              <li>
                <!-- <div class="form-info-data">
                  <h3>About the current job</h3>
                  <p>Not filled</p>
                </div> -->
              </li>
              <li>
                <div class="form-info-data">
                  <h3>LinkedIn profile</h3>
                  <p>https://www.linkedin.com/feed/</p>
                </div>
              </li>
              <li>
                <div class="form-info-data">
                  <h3>Email</h3>
                  <p>noommaa240@gmail.com</p>
                </div>
              </li>
              <li>
                <div class="form-info-data">
                  <h3>CV</h3>
                  <p>Not filled</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- user-information three -->
        <div class="user-information">
          <!-- user-info-title -->
          <div class="user-info-title">
            <h3>Past employments</h3>

            <!-- show for setup profile -->
            <button routerLink="past-employment" type="button">Edit</button>
          </div>

          <!-- add-past-employment -->
          <div class="add-past-employment">
            <a>
              <i class="fa-solid fa-circle-plus"></i>
              <span>Add past employment</span>
            </a>
          </div>

          <!-- selection-list -->
          <div class="selection-list">
            <ul>
              <li>
                <a class="select-list">
                  <div class="select-list-left">
                    <h3>abc</h3>
                    <p>Jul 2023 to Jul 2023</p>
                  </div>
                  <div class="select-list-right">
                    <i class="fa-chevron-right fas"></i>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- resume-btn show for do not set profile data -->
        <div class="resume-btn" *ngIf="false">
          <button routerLink="add" type="button">Create Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>
