@import "src/theme/_variables.scss";

/* --- main start --- */
.main {
  width: 100%;
  background-color: #e7edee;
  padding: 24px 0px;
}

/* --- main-data-container start --- */
.main-data-container {
  max-width: 1240px;
  margin: auto;
  background-color: #fff;
  border-radius: 4px;
  padding: 16px 24px 26px 24px;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0px;
  }
}

/* --- my-resume-title --- */
.my-resume-title {
  margin-bottom: 16px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-family: $font-en-primary;
    font-size: 22px;
    font-weight: 500;
    color: $text-home-first-sec-color;
  }
}

.ranger {
  width: 320px;

  .ranger-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    p {
      font-family: $font-en-primary;
      font-size: 13px;
      font-weight: 400;
      color: #707676;
    }
  }

  .ranger-bar {
    width: 100%;
    height: 6px;
    background-color: #e7edee;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    span {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 20px;
      background-color: #0074ba;
      height: 6px;
    }
  }
}

@media (max-width: 699px) {
  .my-resume-title {
    flex-direction: column;
    gap: 20px;
  }

  .ranger {
    width: 100%;
  }
}
/* --- profile-bio --- */
.profile-bio {
  h4 {
    font-family: $font-en-primary;
    font-size: 16px;
    font-weight: 500;
    color: $text-home-first-sec-color;
  }

  p {
    font-family: $font-en-primary;
    font-size: 14px;
    font-weight: 400;
    color: #707676;
    line-height: 20px;
    margin-top: 8px !important;
  }
}

/* --- user-information --- */
.user-information {
  margin-top: 30px;
}

.user-info-title {
  border-bottom: 1px solid #e7edee;
  padding-bottom: 10px;
  margin-bottom: 20px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h3 {
    font-family: $font-en-primary;
    font-size: 18px;
    font-weight: 500;
    color: $text-home-first-sec-color;
  }
  button {
    color: #424e4e;
    background: #f3f6f5;
    box-shadow: 0 2px 0 #e7edee;
    text-shadow: 0 1px 0 #fff;
    border: 1px solid #d4ded9;
    display: block !important;
    padding: 6px 22px;
    outline: 0px;
    border-radius: 4px;
    font-family: $font-en-primary;
    font-size: 14px;
    font-weight: 500;

    &:hover {
      box-shadow: none;
      background: linear-gradient(#fafcfb, #dfe6e4);
    }
  }
}

@media (max-width: 556px) {
  .user-info-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}

/* --- profile-data-img --- */
.profile-data-img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin-bottom: 20px;

  .prof-img {
    img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
  }

  .prof-data {
    h4 {
      font-family: $font-en-primary;
      font-size: 20px;
      font-weight: 500;
      color: $text-home-first-sec-color;
    }

    p {
      font-family: $font-en-primary;
      font-size: 15px;
      font-weight: 400;
      color: #707676;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 7px;
      margin-top: 5px !important;

      i {
        color: #0074ba;
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 600px) {
  .profile-data-img {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    .prof-data {
      h4 {
        font-size: 18px;
      }
    }
  }
}

/* --- user-form-info --- */
.user-form-info {
  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 24px;
  }
}

.form-info-data {
  h3 {
    font-family: $font-en-primary;
    font-size: 15px;
    font-weight: 400;
    color: $text-home-first-sec-color;
    white-space: wrap;
  }

  p {
    font-family: $font-en-primary;
    font-size: 16px;
    font-weight: 400;
    color: #707676;
    margin-top: 4px !important;
    white-space: wrap;
    word-wrap: break-word;
  }
}

@media (max-width: 699px) {
  .user-form-info {
    ul {
      grid-template-columns: repeat(1, 1fr);
      gap: 40px 24px;
    }
  }
}
/* --- add-past-employment --- */
.add-past-employment {
  a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    span {
      font-family: $font-en-primary;
      font-size: 15px;
      color: #0074ba;
      font-weight: 400;
    }

    i {
      color: #0074ba;
      font-size: 20px;
    }

    &:hover {
      span {
        color: #00547e;
      }
    }
  }
}

/* --- selection-list --- */
.selection-list {
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
}

.select-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 26px;
  margin-bottom: 2rem;

  .select-list-left {
    h3 {
      font-family: $font-en-primary;
      font-size: 18px;
      font-weight: 400;
      color: #707676;
    }

    p {
      font-family: $font-en-primary;
      font-size: 14px;
      font-weight: 400;
      color: #707676;
      margin-top: 4px !important;
      opacity: 0.5;
    }
  }

  .select-list-right {
    i {
      font-size: 22px;
      color: #707676;
      opacity: 0.5;
    }
  }
}

/* --- resume-btn --- */
.resume-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  width: 100%;

  button {
    color: #fff;
    background: #0074ba;
    box-shadow: 0 2px 0 #d4ded9;
    text-shadow: 0 1px 0 #0074ba;
    font-family: $font-en-primary;
    font-weight: 500;
    font-size: 14px;
    padding: 0 24px;
    line-height: 42px;
    border: 0px;
    width: 100%;
    border-radius: 4px;

    &:hover {
      box-shadow: none;
    }
  }
}
