<div class="product" >
  <div style="text-align: center">
  <ngx-skeleton-loader appearance="circle"
                       count="1"
                       [theme]="{
                       width: '80px',
                       height: '80px',
                       'margin-bottom': '20px',
                       'background-color': '#e5e5e5',
                       }">
  </ngx-skeleton-loader>
  </div>

  <div style="text-align: center">
    <ngx-skeleton-loader
      count="1"
      [theme]="{
      'border-radius': '5px',
      height: '20px',
      width: '80%',
      'background-color': '#e5e5e5',
      border: '1px solid white'
    }"
    >
    </ngx-skeleton-loader>
  </div>

  <div style="text-align: center">
    <ngx-skeleton-loader
      count="1"
      [theme]="{
      'border-radius': '5px',
      height: '20px',
      width: '50%',
      'background-color': '#e5e5e5',
      border: '1px solid white'
    }"
    >
    </ngx-skeleton-loader>
  </div>

<!--  <ngx-skeleton-loader-->
<!--    count="1"-->
<!--    [theme]="{-->
<!--      'border-radius': '5px',-->
<!--      height: '180px',-->
<!--      'background-color': '#e5e5e5',-->
<!--      border: '1px solid white'-->
<!--    }"-->
<!--  >-->
<!--  </ngx-skeleton-loader>-->

  <div style="text-align: center">
    <ngx-skeleton-loader
      count="8"
      [theme]="{
      'border-radius': '5px',
      height: '25px',
      width: '100px',
      'background-color': '#e5e5e5',
      border: '1px solid white'
    }"
    >
    </ngx-skeleton-loader>

  </div>

  <div style="text-align: center">
  <ngx-skeleton-loader
    count="1"
    [theme]="{
      'border-radius': '20px',
      height: '40px',
      width: '50%',
      'background-color': '#e5e5e5',
      border: '1px solid white'
    }"
  >
  </ngx-skeleton-loader>
  </div>
</div>
