<div class="main">
  <div class="container">
    <div class="main-data-container">
      <!-- top data -->
      <div class="top-data">
        <div class="top-svg">
          <div class="top-data-title">
            <h2>Privacy Policy</h2>
            <div class="small-data">
              <p>
                In order for the website to provide a safe and useful service,
                it is important for queriescare to collect, use, and share personal
                information.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="trams-data">
        <h3>Collection</h3>

        <p class="text-1">
          Information posted on queriescare is publicly available. If you choose to
          provide us with personal information, you are consenting to the
          transfer and storage of that information on our servers. We collect
          and store the following personal information:
        </p>

        <ul class="list">
          <li>
            Email address, contact information, and (depending on the service
            used) sometimes financial information.
          </li>
          <li>
            Computer sign-on data, statistics on page views, traffic to and from
            queriescare and response to advertisements.
          </li>
          <li>
            Other information, including users' IP address and standard web log
            information. Use
          </li>
        </ul>
      </div>

      <div class="trams-data">
        <h3>Use</h3>

        <p class="text-1">We use users' personal information to:</p>

        <ul class="list">
          <li>Provide our services.</li>
          <li>Resolve disputes, collect fees, and troubleshoot problems.</li>
          <li>Encourage safe trading and enforce our policies.</li>
          <li>Customize users experience, measure interest in our services.</li>
          <li>
            Improve our services and inform users about services and updates.
          </li>
          <li>
            Communicate marketing and promotional offers to you according to
            your preferences.
          </li>
          <li>
            Do other things for users as described when we collect the
            information.
          </li>
        </ul>
      </div>

      <div class="trams-data">
        <h3>Cookie policy</h3>

        <div class="trams-2">
          <h5>What are cookies?</h5>
          <p class="text-2">
            Cookies are text files containing small amounts of information that
            are downloaded to your computer or mobile device when you visit a
            site and allow a site to recognize your device. Websites use cookies
            to improve your browsing experience, for example, to keep you signed
            in, remember your site preferences, and serve you relevant content.
          </p>

          <p class="text-2">
            You may opt out of receiving any, or all, of these communications
            from us by following the unsubscribe link or instructions provided
            in any email we send or by contacting us. All data stored in your
            browser can be cleared by clearing your browser cache. Personal data
            stored with queriescare can be erased by contacting our support team, see
            below for contact details.
          </p>

          <p class="text-2">Types of cookies we use:</p>
          <ul class="list">
            <li>Security cookies: required for security purposes.</li>
            <li>
              Preference cookies: used to remember your preferences and various
              settings.
            </li>
            <li>Session cookies: required to operate our service.</li>
          </ul>

          <p class="text-2">
            We may use the following third-party service providers to monitor
            and analyze the use of our service. Each of the service providers
            links to their privacy policy that talks about how they use your
            data.
          </p>

          <ul class="list">
            <li><a href="">AppNexus</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">Google</a></li>
            <li><a href="">Open X</a></li>
            <li><a href="">PubMatic</a></li>
            <li><a href="">PubNub</a></li>
            <li><a href="">Sendgrid</a></li>
            <li><a href="">WebEngage</a></li>
          </ul>
        </div>

        <div class="trams-2">
          <h5>What are cookies?</h5>
          <p class="text-2">
            Cookies are text files containing small amounts of information that
            are downloaded to your computer or mobile device when you visit a
            site and allow a site to recognize your device. Websites use cookies
            to improve your browsing experience, for example, to keep you signed
            in, remember your site preferences, and serve you relevant content.
          </p>
        </div>
      </div>

      <div class="trams-data">
        <h3>Unsubscribe information</h3>
        <p class="text-1">
          Visitors can opt-out of Google Analytics for Display Advertising and
          customize Google Display Network ads using the Ads Preferences
          Manager.
        </p>

        <p class="text-1">
          This website makes use of Display Advertising, and uses Remarketing
          technology with Google Analytics to advertise online. Third-party
          vendors, including Google, may show our ads on various websites across
          the Internet, using first-party cookies and third-party cookies
          together to inform, optimize, and serve ads based on past visits to
          our website.
        </p>

        <p class="text-1">
          If at any time you wish to have your information reviewed or removed
          from our active databases, please contact us at support@bikroy.com.
          Additionally, you will be able to unsubscribe anytime by clicking on
          the unsubscribe link at the bottom of all our email communications.
        </p>
      </div>
    </div>
    <div class="main-data-container main-data-container2">
      <!-- top data -->
      <div class="top-data">
        <div class="top-data-title top-data-title2">
          <h2>Want to get in touch quickly?</h2>
          <div class="small-data">
            <p class="every-day">Every day from 10:00 AM to 8:00 PM</p>
          </div>
        </div>

        <div class="for-contact">
          <ul>
            <li>
              <div class="contact-main">
                <div class="icon-text">
                  <i class="fa-solid fa-phone"></i>
                  <p>Call us</p>
                </div>
                <div class="contact-info">
                  <a href="tel:09609 555444"> 09609 555444 </a>
                </div>
              </div>
            </li>

            <li>
              <div class="contact-main">
                <div class="icon-text">
                  <i class="fa-solid fa-envelope"></i>
                  <p>Email us</p>
                </div>
                <div class="contact-info">
                  <a href="support@bikroy.com"> support@bikroy.com</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
