<div class="carrier-card-main" [routerLink]="['/job-details',data?.slug]">
  <div class="cr-left">
    <img
      [src]="data?.images != null && data?.images && data?.images?.length ? data?.images[0]: './assets/images/png/cropped.webp'"
      alt=""/>
  </div>

  <div class="cr-right">
    <h3 class="title-top2">{{data?.name}}</h3>
    <a class="product-type" style="color: #1f74ff; font-weight: 500; font-size: 12px">
      {{getJobType(data.postType)}}
    </a>
    <div class="icon-badge">
      <div class="first-icon">
        <svg
          width="18"
          height="18"
          viewBox="0 0 18 18"
          class="svg-wrapper--8ky9e"
        >
          <g fill="none" fill-rule="evenodd">
            <circle fill="#FFC800" cx="9" cy="9" r="8.64"></circle>
            <path
              fill="#FFF"
              fill-rule="nonzero"
              d="M9 11.831L5.877 13.68l.828-3.467L3.96 7.88l3.62-.3L9 4.32l1.42 3.259 3.62.3-2.745 2.334.828 3.467z"
            ></path>
          </g>
        </svg>

        <p>MEMBER</p>
      </div>

      <div class="second-icon">
        <img src="/assets/images/svg/verified-icon.svg" alt="">
      </div>
    </div>

    <p   *ngIf="data?.postType === 'job_post'" class="cr-r-p" style="font-size: 14px; font-weight: 500;">Salary: {{data?.salaryFrom}} - {{data?.salaryTo}}</p>

    <p class="cr-r-p">{{data?.address ?? '-'}}, {{data?.jobRole}}</p>

    <div class="days-cr">
      <ul>
<!--        <li>-->
<!--          <button type="button">-->
<!--            <i class="fa-regular fa-pen-to-square"></i>-->
<!--          </button>-->
<!--        </li>-->

<!--        <li>-->
<!--          <button type="button">-->
<!--            <i class="fa-solid fa-trash"></i>-->
<!--          </button>-->
<!--        </li>-->

        <li>
          <button type="button">
            <i class="fa-solid fa-eye"></i>
          </button>
        </li>
      </ul>

      <h5>{{data?.createdAt | dayAgo}}</h5>
    </div>
  </div>
</div>
