<div
  class="product" [id]="data?._id"
  [routerLink]="['/product-details',data?.slug]"
>
  <div class="product-image">
    <img checkImageDefault [src]="data?.images != null && data?.images && data?.images?.length ? data?.images[0]: './assets/images/png/product.jpg'" alt="" />

    <!--tag-->
    <div class="tag">
      <span>New</span>
    </div>

    <!---wish-->
    <span matTooltip="Wishlist" (click)="onAddToWishList($event)" [class.active-wish-list]="wishlist" class="wish"
      ><i class="fa fa-heart"></i
    ></span>
  </div>
  <div class="product-body">
    <div class="rating-area">
      <ul>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><span>(3)</span></li>
      </ul>
    </div>
    <a
      [routerLink]="['/products/details']"
      routerLinkActive="router-link-active"
      >{{data?.name}}</a
    >
    <div class="product-price">
      <span class="prevPrice">৳{{ data?.salePrice}}</span>
      <span class="currPrice">৳{{ data | price: 'salePrice' | number : '' : 'bn' }}</span>
    </div>

<!--    <div class="product-price">-->
<!--      <h3 style="margin-top: 30px">-->
<!--        Discount :-->
<!--        <span class="currPrice"> 30 % </span>-->
<!--      </h3>-->
<!--    </div>-->
    <div class="product-price">
      <h3 *ngIf="data?.discountAmount" style="{margin-top: 30px;}" class="discount">
        Discount :
        <span class="currPrice discount" *ngIf="data?.discountType===2">
                     ৳{{data?.discountAmount}}
                    </span>
        <span class="currPrice discount" *ngIf="data?.discountType===1">
                     {{data?.discountAmount}} %
                    </span>
      </h3>
    </div>
    <button *ngIf="true" class="product-button">
      <i class="fa-solid fa-basket-shopping"></i> Add
    </button>
    <!-- END MAIN CART BTN -->

    <div class="cart-action" *ngIf="false">
      <button class="left">
        <span class="material-icons">remove</span>
      </button>
      <p>1 <span>in cart</span></p>
      <button class="right">
        <span class="material-icons">add</span>
      </button>
    </div>
    <!-- END CART CONTROL AREA -->
  </div>
</div>
