@import "src/theme/_variables.scss";
.btn-share {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0px;

  button {
    background-color: $color-primary;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: #fff;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s linear;
    border: 2px solid $color-primary;

    &:hover {
      color: $color-primary;
      background-color: #fff;
    }
  }

}


/* --- main-content-left --- */
.main-content-left {
  position: relative;
}

.color{
  background: #5d5d5d;
}

.biodatadetails {
  padding-top: 42px;
  border-radius: 10px;
  background-color: $color-primary;
  max-width: 400px;
  min-height: 94vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 10px;
  left: 0;

  img {
    width: 100px;
    height: 100px;
    left: 37%;
    top: 10%;
    border-radius: 50%;
  }

  h3 {
    padding: 26px 0;
    color: #ffffff;
  }

  .details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 20px;
    width: 90%;

    p {
      text-align: center;
      padding: 10px;
      color: white;
    }

    .border {
      border-left: 1px solid #ffffff;
    }
  }
}

.main-content {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 30px 0;
  border-radius: 5px;
  grid-gap: 20px;
}

.details-info-contents {
  border-top: 1px solid #c2c1c1;
  border-left: 1px solid #c2c1c1;
  border-right: 1px solid #c2c1c1;
  border-radius: 10px;
  margin-bottom: 30px;

  .details-info-header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-bottom: 1px solid #c2c1c1;
    background-color: #eeeeee;
    border-radius: 10px;

    p {
      font-size: 18px;
      font-weight: 600;
      color: $color-primary;
    }
  }

  .address-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid #c2c1c1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    p {
      padding: 10px;
    }

    .border {
      border-left: 1px solid #b4b2b2;
    }
  }
}

@media (max-width: 1050px) {
  .main-content {
    display: grid;
    grid-template-columns: 100%;
  }

  .biodatadetails {
    margin: 0 auto;
    max-width: inherit;
    min-height: inherit;
  }
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  padding: 12px 6px;
  box-sizing: border-box;
  outline: none;
  button {
    font-family: sans-serif;
    font-weight: 400;
    border: none;
    background-color: $color-primary;
    padding: 18px 55px;
    border-radius: 8px;
    color: #ffffff;
    transition: all 0.3s linear;
    &:hover {
      background-color: #0a7a2d;
    }
  }
}
