<div class="product-main">
  <div class="container">
    <div class="product-list-main">
     
      <!-- pro list-main -->
      <div class="product-list-data-right">
 
        <div class="top-select">
          <ul>
            <li>
              <a
                routerLink="/product-list/to-let-list"
                routerLinkActive="active"
              >
                <img src="./assets/images/png/to-let.png" alt="" />
                <span>To-Let</span>
              </a>
            </li>
          </ul>

          <div class="total-product-list total-product-list-second">
            <div class="filter-icon">
              <i class="fas fa-filter" (click)="onHideFilterArea()"></i>
            </div>
          </div>
        </div>
        <!-- END! top-select -->

        <div class="all-product-item-cards">
         
          <ng-container *ngIf="!isLoading">
            <ng-container *ngFor="let data of products">
              <app-to-let-card [data]="data"></app-to-let-card>
            </ng-container>
          </ng-container>
        </div>
        <!-- END! all-product-item-cards -->

        <div class="load-more">
          <a (click)="onLoadMore()" class="button" [class.loading]="isLoadMore"><i  class="fa-solid fa-spinner"></i>
            {{totalProducts > products.length ? 'Load More' : 'No More Post'}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="overlay"
  (click)="onHideFilterArea()"
  [class.active]="filterArea"
></div>
