<!-- info-title -->
<div class="info-title">
  <h2>Past employments</h2>
</div>

<!-- form -->
<form>
  <!-- form-group -->
  <div class="form-group">
    <!-- form-input -->
    <div class="form-input">
      <label for="company-employer">Company / Employer</label>
      <br />
      <input
        type="number"
        id="company-employer"
        placeholder="Company / Employer"
      />
    </div>

    <!-- form-select -->
    <div class="form-select">
      <label for="educational-specialization">Past job</label>
      <br />
      <select name="" id="educational-specialization">
        <option selected hidden>Past job</option>
        <option value="male">Art & Humanities</option>
        <option value="female">Business & Management</option>
        <option value="other">Accounting</option>
      </select>
    </div>
  </div>

  <!-- form-select-group -->
  <div class="form-group">
    <!-- form-input -->
    <div class="form-input">
      <label for="started-in">Started in</label>
      <br />
      <input type="date" id="started-in" placeholder="Started in" />
    </div>

    <!-- form-input -->
    <div class="form-input">
      <label for="end-date">End date</label>
      <br />
      <input type="number" id="end-date" placeholder="End date" />
    </div>
  </div>

  <!-- from-single -->
  <div class="from-single">
    <!-- form-input -->
    <div class="form-input">
      <div class="text-range">
        <label for="experience">About yourself (optional)</label>
        <label>0/5000</label>
      </div>
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        placeholder="About yourself (optional)"
      ></textarea>
    </div>
  </div>

  <!-- submit-btn -->
  <div class="all-btn">
    <div class="submit-btn">
      <button type="button">Save & Add another</button>
    </div>
    <button class="done" type="submit">Done</button>
  </div>
</form>
