<section class="payment-success-area">
  <div class="container">
    <!--******* payment-success-main ******-->
    <div class="payment-success-main">
      <!--******* payment-success-top ********-->
      <div class="payment-success-top">
        <!--******* payment-success-icon ********-->
        <div class="payment-success-icon">
          <span><i class="fa fa-check"></i></span>
        </div>
        <!--******* payment-success-title ********-->
        <div class="payment-success-title">
          <h4>Registration Success!</h4>
          <p style="padding-top: 15px;">আপনার রেজিস্ট্রেশন সফল হয়েছে। আপনার ট্রানজেকশন টি যাচাই করতে ২-৩ ঘন্টা সময় লাগতে পারে। ট্রানজেকশনটি সঠিক হলে আপনার একাউন্টটি এক্টিভ করে দেয়া হবে। যেকোনো প্রয়োজনে যোগাযোগ করুন  01897945368 এই নম্বরে ধন্যবাদ। </p>
        </div>
      </div>
      <!--payment-success-btn-->
      <div class="btn">
        <button routerLink="/" mat-raised-button color="primary">
          <i class="fa-solid fa-house"></i>
          Go Home
        </button>
      </div>


    </div>
  </div>
</section>
