<div class="ultimate-power">
  <div class="top-title">
    <h1>Our Advertising Products</h1>
  </div>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Leaderboard">
      <div class="main-container">
        <div class="image">
          <img src="../../../../assets/images/png/four.png" alt="md" />
        </div>
        <div class="text">
          <h1>Leaderboard</h1>
          <p>
            The Skyscraper is a cost-efficient placement on our search results
            page, with high reach. A good option for brand building.
          </p>

          <div class="text2">
            <p>Dimensions on Desktop: <b>160 x 600 px</b></p>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Skyscraper">
      <div class="main-container">
        <div class="image">
          <img src="../../../../assets/images/png/three.png" alt="md" />
        </div>
        <div class="text">
          <h1>Skyscraper</h1>
          <p>
            The Skyscraper is a cost-efficient placement on our search results
            page, with high reach. A good option for brand building.
          </p>

          <div class="text2">
            <p>Dimensions on Desktop: <b>160 x 600 px</b></p>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Large Mobile Banner">
      <div class="main-container">
        <div class="image">
          <img src="../../../../assets/images/png/two.png" alt="md" />
        </div>
        <div class="text">
          <h1>Large Mobile Banner</h1>
          <p>
            This large banner has double the height compared to the Leaderboard.
            And since it's positioned just before pagination links on each
            search results page, it's viewed by almost everyone.
          </p>

          <div class="text2">
            <p>Dimensions on Mobile: <b>320 x 100 px</b></p>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Square">
      <div class="main-container">
        <div class="image">
          <img src="../../../../assets/images/png/one.png" alt="md" />
        </div>
        <div class="text">
          <h1>Square</h1>
          <p>
            The Square is an optimal placement on each of our ad pages. An
            effective way to reach a specific target audience when they are
            reading about the ad.
          </p>

          <div class="text2">
            <p>Dimensions on Desktop: <b>250 x 250 px</b></p>
            <p>Dimensions on Mobile: <b>300 x 250 px</b></p>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
