@import "src/theme/variables";

.ultimate-power {
  background-color: transparent;
}
.top-title {
  margin: 0 auto;
  height: auto;
  width: 100%;
  padding-bottom: 15px;
  h1 {
    font-family: $font-en-primary;
    font-size: 24px;
    font-weight: 600;
    color: $product-details-title;
    text-align: center;
    line-height: 40px;
  }
}
.main-container {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 430px calc(100% - 460px);
  gap: 30px;
  padding: 28px 50px;
}

.image {
  height: auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  img {
    height: auto;
    max-width: 320px;
  }
}

.text {
  height: auto;
  width: 100%;
  h1 {
    font-family: $font-en-primary;
    font-size: 16px;
    color: $product-details-title;
    padding-bottom: 16px;
  }
  p {
    font-family: $font-en-primary;
    font-size: 16px;
    padding-bottom: 14px;
    text-align: justify;
    color: #707676;
    line-height: 21px;

    b {
      font-weight: 600;
    }
  }

  .text2 {
    p {
      padding-bottom: 6px;

      &:last-child {
        padding-bottom: 0px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .main-container {
    margin: 0 auto;
    gap: 30px;
    grid-template-columns: 100%;
    padding: 16px 0px;
  }

  .image {
    img {
    }
  }

  .text {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 442px) {
  .top-title {
    h1 {
      font-size: 20px;
    }
  }
}

::ng-deep .mat-mdc-tab-labels {
  flex-wrap: wrap;
  justify-content: center;
}

::ng-deep .mat-mdc-tab .mdc-tab-indicator {
  background-color: rgb(255, 255, 255) !important;
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  color: $product-details-title !important;
  font-family: $font-en-primary;
  font-size: 16px !important;
  font-weight: 400 !important;
  opacity: 0.5;
}

::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: $product-details-title !important;
  font-family: $font-en-primary;
  font-size: 16px !important;
  font-weight: 600 !important;
  opacity: 1;
}

::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {
  display: none;
}

::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__ripple::before,
.mat-mdc-tab.mdc-tab--active .mat-ripple-element {
  display: none;
}

::ng-deep .mat-mdc-tab .mdc-tab__ripple::before {
  display: none;
}

::ng-deep .mat-mdc-tab .mat-mdc-tab-ripple {
  display: none;
}
