<div class="main">
  <div class="container">
    <div class="main-data-container">
      <!-- info-title -->
      <div class="info-title">
        <h2>Basic Information</h2>
      </div>

      <!-- form -->
      <form>
        <!-- profile-image -->
        <div class="profile-image">
          <div class="prof-img">
            <img
              src="../../../../../../../assets/images/png/unnamed.jpg"
              alt=""
            />
          </div>

          <div class="profile-img-upload">
            <button type="button" (click)="file.click()">Change Photo</button>
            <input type="file" #file style="display: none" />
            <p>Supported file formats jpg, jpeg, png</p>
          </div>
        </div>

        <!-- form-group -->
        <div class="form-group">
          <!-- form-input -->
          <div class="form-input">
            <label for="name">Name</label>
            <br />
            <input type="text" id="name" placeholder="Enter name" />
          </div>

          <!-- form-input -->
          <div class="form-input">
            <label for="phone">Phone number</label>
            <br />
            <input type="number" id="phone" placeholder="Enter phone number" />
          </div>
        </div>

        <!-- form-group -->
        <div class="form-group">
          <!-- form-select -->
          <div class="form-select">
            <label for="gender">Gender</label>
            <br />
            <select name="" id="gender">
              <option selected hidden>Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
          </div>

          <!-- form-input -->
          <div class="form-input">
            <label for="phone">Date of birth</label>
            <br />
            <input type="date" id="phone" placeholder="Date of birth" />
          </div>
        </div>

        <!-- form-select-group -->
        <div class="form-group">
          <!-- form-select -->
          <div class="form-select">
            <label for="location">Location</label>
            <br />
            <select name="" id="location">
              <option value>Location</option>
              <optgroup label="Cities">
                <option value="dhaka">Dhaka</option>
                <option value="dhaka">Feni</option>
                <option value="dhaka">Comilla</option>
                <option value="dhaka">Rongpur</option>
              </optgroup>
              <optgroup label="Divisions">
                <option value="dhaka">Dhaka Divisions</option>
                <option value="dhaka">Feni Divisions</option>
                <option value="dhaka">Comilla Divisions</option>
                <option value="dhaka">Rongpur Divisions</option>
              </optgroup>
            </select>
          </div>

          <!-- form-select -->
          <div class="form-select">
            <label for="sublocation">Sublocation</label>
            <br />
            <select name="" id="sublocation">
              <option value>Sublocation</option>
            </select>
          </div>
        </div>

        <!-- form-select-group -->
        <div class="form-group">
          <!-- form-select -->
          <div class="form-select">
            <label for="education-level">Highest education level</label>
            <br />
            <select name="" id="education-level">
              <option value>Primary School</option>
              <option value>High School</option>
              <option value>SSC / O Level</option>
            </select>
          </div>

          <!-- form-select -->
          <div class="form-select">
            <label for="sublocation">Current job</label>
            <br />
            <select name="" id="sublocation">
              <option value>Accountant</option>
              <option value>Beautician</option>
              <option value>Business Analyst</option>
            </select>
          </div>
        </div>

        <!-- from-single -->
        <div class="from-single">
          <!-- form-input -->
          <div class="form-input">
            <label for="experience">Total years of work experience</label>
            <br />
            <input
              type="number"
              id="experience"
              placeholder="Total years of work experience"
            />
          </div>
        </div>

        <div class="submit-btn">
          <button type="button">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
