@import "src/theme/_variables.scss";

.top-data-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 13px;

  h2 {
    font-family: $font-en-primary;
    font-size: 24px;
    font-weight: 600;
    color: $product-details-title;
    text-align: center;
    line-height: 40px;
  }

  a {
    font-family: $font-en-primary;
    font-size: 14px;
    color: #0074ba;
    font-weight: 400;

    &:hover {
      color: #00547e;
    }
  }
}

.left-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
  padding-bottom: 24px;

  .easy-promo {
    h3 {
      font-family: $font-en-primary;
      font-size: 18px;
      font-weight: 600;
      color: $product-details-title;
      margin-bottom: 12px !important;
      padding-right: 40px;
    }

    p {
      font-family: $font-en-primary;
      font-size: 16px;
      font-weight: 300;
      color: #707676;
      margin-bottom: 20px !important;
      line-height: 24px;
      padding-right: 40px;
    }
  }
}

.easy-svg {
  .easy-svg-mb {
    display: none;
  }
}

@media (max-width: 1067px) {
  .easy-svg {
    svg.easy-svg-pc {
      width: 346px;
      height: 220px;
    }
  }
}

@media (max-width: 812px) {
  .left-right {
    grid-template-columns: 1fr;

    .easy-promo {
      h3 {
        text-align: center;
        padding-right: 0px !important;
      }

      p {
        text-align: center;
        padding-right: 0px !important;
      }
    }
  }

  .easy-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    .easy-svg-pc {
      display: none;
    }

    .easy-svg-mb {
      display: block;
    }
  }
}

@media (max-width: 456px) {
  .left-right {
    .easy-promo {
      h3 {
        font-size: 15px;
      }

      p {
        font-size: 12px;
      }
    }
  }
}
