<div
  *ngIf="data?.postType === 'matrimonial'"
  class="card-main"
  [id]="data?._id"
  [routerLink]="['/metromony-details', data?._id]"
>
  <a [routerLink]="['/metromony-details', data?._id]">
    <div class="bio-card-main-div">
      <div class="sub-div-top">
        <div class="img-div">
          <img
            *ngIf="data.bioDataType == 'পাত্রের বায়োডাটা'"
            src="./assets/images/png/male-icon.png"
          />
          <img
            *ngIf="data.bioDataType == 'পাত্রীর বায়োডাটা'"
            src="./assets/images/png/female-icon.png"
          />
        </div>

        <div class="text-div">
          <h1>বায়োডাটা আইডি</h1>
          <h1>{{ data?._id.slice(18, 24) }}</h1>
        </div>
      </div>
      <div class="sub-div-down">
        <div class="bio-data-details">
          <div class="details">
            <p>জন্মতারিখ</p>
            <p class="border">{{ data?.birthDay | date : "mediumDate" }}</p>
          </div>

          <div class="details">
            <p>উচ্চতা</p>
            <p class="border">{{ data?.height }}</p>
          </div>

          <div class="details">
            <p>গায়ের রঙ</p>
            <p class="border">{{ data?.complexion }}</p>
          </div>

          <div class="details b1">
            <p>ওজন</p>
            <p class="border">{{ data?.weight }}</p>
          </div>
        </div>
        <!-- END! bio-data-details -->

        <div class="full-bio-btn-div">
          <button
            class="full-bio-btn"
            [routerLink]="['/metromony-details', data?._id]"
          >
            সম্পূর্ণ বায়োডাটা
          </button>
        </div>
      </div>
    </div>
  </a>
</div>
<!-- END! matrimonial -->
