<div class="main">
  <div class="container">
    <div class="main-data-container">
      <!-- top data -->
      <div class="top-data">
        <div class="top-svg">
          <div class="top-data-title">
            <h2>Terms & Conditions</h2>
            <div class="small-data">
              <p>
                queriescare is a service provided by Saltside Technologies AB
                (subject to your compliance with the Terms and Conditions set
                forth below). Please read these Terms and Conditions before
                using this platform.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- drop-down -->
      <div class="all-drop-down">
        <ul>
          <ng-container *ngFor="let data of [0, 0, 0, 0]">
            <li>
              <app-drop-down></app-drop-down>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
    <div class="main-data-container main-data-container2">
      <!-- top data -->
      <div class="top-data">
        <div class="top-data-title top-data-title2">
          <h2>Want to get in touch quickly?</h2>
          <div class="small-data">
            <p class="every-day">Every day from 10:00 AM to 8:00 PM</p>
          </div>
        </div>

        <div class="for-contact">
          <ul>
            <li>
              <div class="contact-main">
                <div class="icon-text">
                  <i class="fa-solid fa-phone"></i>
                  <p>Call us</p>
                </div>
                <div class="contact-info">
                  <a href="tel:09609 555444"> 09609 555444 </a>
                </div>
              </div>
            </li>

            <li>
              <div class="contact-main">
                <div class="icon-text">
                  <i class="fa-solid fa-envelope"></i>
                  <p>Email us</p>
                </div>
                <div class="contact-info">
                  <a href="support@bikroy.com"> support@bikroy.com</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
