<div class="congrs-dialog">
    <div class="congrs-dialog-main">
        <span><i class="fa fa-check"></i></span>

        <h3>
            Congratulations!
            <img src="./assets/images/brand/gif/Animation - 1699870896890 (1).gif" alt="">
        </h3>
        <p>You've Successfully done the work.</p>
        <button mat-dialog-close routerLink="/add-biodata">Ok</button>
    </div>
    <img class="animation" src="./assets/images/brand/gif/b55e2886e109a7bc2e4708e27e3a8f57.gif" alt="">
</div>
