<div class="prescription-main">
  <div class="prescriptions" *ngIf="allPrescriptions && allPrescriptions.length > 0">
    <div class="prescription" *ngFor="let data of allPrescriptions; let i = index" (click)="onShowPop(i)">
      <img [src]="data?.images && data?.images.length ? data?.images[0]: ''" />
      <a [class.active]="showDelPlaceOrder" (click)="onShowDelPlaceOrder(data?._id)">
        <i [class]="
               data?._id === prescriptionOrderId
              ? 'fa-solid fa-circle-check'
              : 'fa-regular fa-circle-check'
          "></i>
        <span>Tap to select</span>
      </a>
    </div>
  
  </div>

  <div class="prescription-list-bottom" *ngIf="allPrescriptions && allPrescriptions.length == 0">
    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
      <path
        d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20, 12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10, 10 0 0,0 12,2M11,17H13V11H11V17Z">
      </path>
    </svg>

    <p>No more saved prescription found.</p>
  </div>
  
</div>

<app-gallery [galleryData]="allPrescriptions" #galleryPop></app-gallery>
