@import "src/theme/variables";








.load-more {
  margin: 12px auto;
  text-align: center;
}

a.button {
  box-sizing: border-box;
  display: inline-block;

  width: 12em;
  height: 3.0em;
  line-height: 1.8;
  font-size: 1.1em;
  font-weight: 500;
  padding: 0.5em 1em;
  background-color: $color-primary;
  border-radius: 6px;
  border: 2px solid $color-primary;
  font-family: $font-en-primary;
  text-align: center;
  color:#fff;
  white-space: nowrap;
  text-decoration: none;

  transition:
          all 0.3s linear;

  &:focus {
    outline: none;
    border-color: #DDD;
  }
  &:hover {
    background-color: #fff;
    color: $color-primary;
    // i{
    //   animation: rotation 2s infinite linear;
    // }
    // @keyframes rotation {
    //   from {
    //     transform: rotate(0deg);
    //   }
    //   to {
    //     transform: rotate(359deg);
    //   }
    // }
  }

  &.loading {
    height: 48px;
    width: 48px;
    padding: 0;

    border-width: 2px;
    border-radius: 25px;
    border-color: #e8e8e8 #e8e8e8 #e8e8e8 #70c332;
    background: #fff;

    font-size: 0;
    color: transparent;
    pointer-events: none;

    animation: spin 1.2s infinite linear;
  }
}





/* --- product-list-main --- */
.product-list-main {
  max-width: 1240px;
  margin: auto;
  display: grid;
  grid-template-columns: 308px calc(100% - 338px);
  gap: 30px;
  padding-top: 24px;
}

@media (max-width: 1000px) {
  .product-list-main {
    max-width: 100%;
    margin: auto;
  }
}

/* product-list-left */
.product-list-left {
  padding: 0px 0px 0px 0px;
  border-radius: 6px;
  width: 100%;
  height: calc(100vh + 16px);
  // margin-top: 16px;
  position: sticky;
  top: 10px;
  z-index: 7;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  overflow: hidden;
}

.product-left-main {
  padding: 20px 0px 16px 0px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #fff;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #eeeeee;
  }
}

/* product-list-right */
.product-list-right {
  min-height: 100vh;
  width: 100%;
  background-color: green;
}

.left-sec-all {
  // padding: 0px 20px 0px 20px;
  border-bottom: 1px solid #f0f0f0;
}

.left-sec-pad {
  padding: 0px 20px 0px 20px;
}

.left-title {
  p {
    color: $product-details-title;
    font-family: $font-en-primary;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
}

.left-title.left-title2 {
  padding: 18px 0px 18px 0px;
}

.left-title.left-title3 {
  padding: 18px 0px 0px 0px;
}

.left-items {
  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;

    li {
      padding: 18px 0px;
      border-bottom: 1px solid #f0f0f0;

      &:last-child {
        border-bottom: 0px solid #f0f0f0;
      }
    }
  }
}

.check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-text {
  padding-left: 34px;
  p {
    font-size: 11px;
    font-weight: 300;
    font-family: $font-en-primary;
    color: $product-details-text;
    letter-spacing: 0.5px;
    line-height: 16px;
  }
}

.link-text {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    font-family: $font-en-primary;
    color: $product-details-text;
    letter-spacing: 0.5px;
    line-height: 16px;

    span {
      text-decoration: underline;
    }

    small {
      padding-left: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.price-range-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;

  .price {
    p {
      color: $color-primary;
      font-size: 16px;
      font-weight: 600;
      font-family: $font-en-primary;
    }
  }
}

.price-range-min-max {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 18px;

  .min-max {
    p {
      color: $product-details-title;
      font-size: 13px;
      font-weight: 400;
      font-family: $font-en-primary;
    }
  }
}

.pro-list-search {
  padding-bottom: 20px;
}

.pro-list-main-search {
  border-radius: 8px;
  border: 1px solid $mobile-menu-color;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.search-icon {
  height: 100%;
  padding: 0px 11px;

  i {
    padding-top: 3px;
    color: $mobile-menu-color;
    font-size: 18px;
  }
}

.left-sec-all2 {
  position: relative;

  &::before {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0), #fff);
    bottom: 0;
    content: "";
    height: 28px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 2;
  }
}

.item-list {
  max-height: 320px;
  position: relative;
  overflow-y: auto;
  padding-bottom: 28px;
  padding-right: 0px !important;
  margin-right: 20px !important;

  &::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #fff;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #eeeeee;
  }
}

.item-list-section {
  p.brand-name {
    color: #acacac;
    display: flex;
    font-family: $font-en-primary;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    margin: 14px 0px 8px 0px !important;
    letter-spacing: 0.5px;
  }

  &:first-child {
    p.brand-name {
      margin: 6px 0px 8px 0px !important;
    }
  }

  &:last-child {
    .item-list-section-child-main {
      border-bottom: 0px;
    }
  }
}

.item-list-section-child-main {
  border-bottom: 1px solid #f2f3f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  i {
    font-size: 17px;
    padding-right: 10px;
  }
}

.list-section {
  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    padding-top: 5px;

    li {
      padding: 0px 0px 0px 16px;
    }
  }
}

.nested-check {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  p {
    font-size: 12px;
    font-family: $font-en-primary;
    color: $product-details-title;
    font-weight: 400;
  }
}

.year-select2 {
  padding-left: 10px !important;
}

.bottom-pad {
  padding-bottom: 10px !important;
}

.left-title.left-title2.left-title3 {
  padding-bottom: 10px !important;
}

.color-select-sec {
  padding: 8px 0px 18px 0px;
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin: 0px;
    gap: 7px;
    li {
      position: relative;
      border-radius: 6px;
      height: 36px;
      width: 36px;
      border: 1px solid #f2f3f5;
      padding: 4px 4px 3px 6px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;

      p {
        color: $color-white;
        font-size: 10px;
        font-family: $font-en-primary;
        font-weight: 400;
      }
    }
  }
}

.left-items.left-items2 {
  ul {
    li {
      padding: 0px 0px 0px 0px !important;
      border-bottom: 0px !important;

      &:last-child {
        padding-bottom: 12px !important;
      }
    }
  }
}

.left-title.left-title2.left-title3.left-title4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 18px 20px 18px 20px;

  i {
    font-size: 17px;
    padding-right: 10px;
  }
}

.left-items.left-items2.left-items3 {
  max-height: 320px;
  overflow-y: auto;
  position: relative;
  padding-bottom: 28px;
  padding-right: 0px !important;
  margin-right: 20px !important;
  padding-bottom: 0px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #fff;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #eeeeee;
  }
}

.left-sec-all.left-sec-all2.left-sec-all3 {
  border-bottom: 0px;
}

.drop-down1 {
  border-bottom: 1px solid #f0f0f0;
  &:last-child {
    border-bottom: 0px;
  }
}

.final-text {
  p {
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: 16px;
    margin-top: 32px !important;
    padding-bottom: 24px !important;
    text-align: center;
    font-size: 12px;
    font-family: $font-en-primary;
    color: $product-details-title;
    font-weight: 400;

    &::before {
      background: linear-gradient(90deg, #cacaca, transparent);
      content: "";
      flex: 1;
      height: 1px;
      margin-left: 16px;
    }

    &::after {
      background: linear-gradient(90deg, transparent, #cacaca);
      content: "";
      flex: 1;
      height: 1px;
      margin-right: 16px;
    }
  }
}

/* --- all material design --- */
::ng-deep.checkAll {
  mat-checkbox {
    .mdc-form-field {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0px;
      margin-left: -10px;

      .mdc-checkbox {
        .mat-mdc-checkbox-touch-target {
          position: inherit;
          top: inherit;
          height: inherit;
          left: inherit;
          width: inherit;
          transform: inherit;
        }
      }

      .mdc-checkbox
        .mdc-checkbox__native-control:enabled:checked
        ~ .mdc-checkbox__background {
        background-color: $color-primary;
        border-color: $color-primary;
      }

      .mdc-checkbox:hover
        .mdc-checkbox__native-control:enabled:not(:checked):not(
          :indeterminate
        ):not([data-indeterminate="true"])
        ~ .mdc-checkbox__background {
        border-color: $color-primary !important;
      }

      .mdc-checkbox:hover {
        background-color: transparent;
      }

      .mdc-label {
        font-size: 12px;
        font-family: $font-en-primary;
        color: $product-details-title;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
}

::ng-deep.price-range {
  mat-slider {
    width: 93.5%;

    .mdc-slider__track {
      .mdc-slider__track--inactive {
        height: 3px;
        top: 1px;
      }

      .mdc-slider__track--active {
        height: 3px;
        top: 1px;
        .mdc-slider__track--active_fill {
          border-color: $color-primary;
        }
      }
    }

    mat-slider-visual-thumb {
      .mdc-slider__thumb-knob {
        border-color: $color-primary;
      }

      // rep indicator
      .mat-mdc-focus-indicator {
        border-color: $color-primary;
        /* display: none; */
      }
    }

    .mdc-slider__thumb--focused .mdc-slider__thumb-knob {
      border-color: $color-primary;
      background-color: $color-primary;
    }
  }
}

::ng-deep.pro-list-main-search {
  mat-label {
    font-size: 14px;
    font-weight: 400;
    color: $mobile-menu-color;
    font-family: $font-en-primary;
  }

  mat-form-field {
    width: 100%;

    .mat-mdc-text-field-wrapper {
      background-color: transparent;
      border-radius: 0px;
      height: 50px;

      .mat-mdc-form-field-flex {
        height: 50px;

        .mat-mdc-form-field-infix {
          min-height: 50px;
          padding-top: 20px;
          padding-bottom: 6px;
        }
      }

      .mat-mdc-form-field-focus-overlay {
        display: none;
      }

      .mdc-line-ripple {
        display: none;
      }
    }
    input {
      font-size: 13px;
      font-weight: 400;
      color: $mobile-menu-color;
      font-family: $font-en-primary;

      &::placeholder {
        font-size: 13px;
        font-weight: 400;
        color: $mobile-menu-color;
        font-family: $font-en-primary;
      }
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}

::ng-deep.year-select {
  mat-radio-button {
    .mdc-form-field {
      .mdc-radio {
        .mdc-radio__background {
          .mdc-radio__inner-circle {
            border-color: $color-primary !important;
          }
        }

        &:hover {
          .mdc-radio__background {
            .mdc-radio__outer-circle {
              border-color: $color-primary !important;
            }
          }
        }
      }

      .mdc-radio
        .mdc-radio__native-control:enabled:checked
        + .mdc-radio__background
        .mdc-radio__outer-circle {
        border-color: $color-primary;
      }

      .mdc-label {
        font-size: 12px;
        font-family: $font-en-primary;
        color: $product-details-title;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
}

/* --------------------
product-list-data-right
-------------------- */
.top-pagination {
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 26px;

    li {
      position: relative;

      a {
        font-size: 14px;
        font-family: $font-en-primary;
        color: $product-details-title;
        font-weight: 400;

        &:hover {
          text-decoration: underline;
        }
      }
      &::after {
        content: ">";
        font-family: $font-en-primary;
        font-size: 14px;
        font-weight: 500;
        color: $product-details-title;
        position: absolute;
        right: -33%;
        top: 0px;
        transform: translateX(50%);
      }

      &:last-child {
        pointer-events: none;
        opacity: 0.4;

        a {
          &:hover {
            text-decoration: none;
          }
        }

        &::after {
          content: "";
          display: none;
        }
      }
    }
  }
}

.total-product-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  .filter-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 22px;

    .fa-filter {
      display: none;
    }

    i {
      font-size: 18px;
      color: $product-details-title;
    }
  }
}

.all-product-item-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card-main {
  a {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    box-sizing: border-box;
    height: auto;
    margin: 0 auto 1em;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: transform 0.2s ease-out;
    width: 100%;
  }
}

.top-card-img {
  position: relative;
  img {
    height: 100%;
    width: 100%;
  }

  .category-name {
    position: absolute;
    top: 10px;
    right: 0px;
  }
}

.body-card {
  padding: 8px 7px;
}

.name-title-react {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  h2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    font-family: $font-en-primary;
    color: $product-details-title;
  }

  .react {
    i {
      font-size: 16px;
      color: $product-details-title;
    }
  }
}

.card-small-text {
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;

    li {
      font-family: $font-en-primary;
      font-size: 13px;
      font-weight: 400;
      color: $product-details-title;
      position: relative;
      padding: 4px 0px;

      &::before {
        content: "";
        width: 4px;
        height: 4px;
        background-color: #2e054e;
        border-radius: 50%;
        position: absolute;
        top: 56%;
        left: -10px;
        transform: translateY(-50%);
        background-color: $product-details-title;
      }

      &:first-child {
        &::before {
          content: "";
          display: none;
        }
      }
    }
  }
}

.product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding-bottom: 5px;

  h2 {
    font-family: $font-en-primary;
    font-size: 20px;
    font-weight: 500;
    color: $product-details-title;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
  }

  p {
    font-family: $font-en-primary;
    font-size: 12px;
    font-weight: 400;
    color: $product-details-title;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.card-footer {
  margin: 0px 4px;
  border-top: 1px solid hsla(0, 0%, 44%, 0.1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  padding: 6px 0px;

  i {
    font-size: 12px;
    color: #555;
  }

  p {
    font-family: $font-en-primary;
    font-size: 12px;
    font-weight: 400;
    color: #555;
  }
}

@media (max-width: 1124px) {
  .all-product-item-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.left-sec-main {
  position: relative;
}

.cross-btn {
  display: none;
}

.overlay {
  display: none;
}

@media (max-width: 888px) {
  .product-list-left {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 80%;
    border-radius: 0px 6px 6px 0px;
    border-left: 0px;
    transition: all 0.12s linear;
    z-index: 111;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    border-left: 0px;
    transition: all 0.12s linear;
    z-index: 11;
    min-height: 100vh;
    background-color: #00000061;
  }

  .product-list-left.active {
    left: 0px;
  }

  .overlay.active {
    left: 0px;
  }

  .cross-btn {
    display: block;
    color: crimson;
    min-width: 26px;
    max-width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid crimson;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -13px;
    right: 9px;

    i {
      font-size: 18px;
    }
  }

  .product-list-main {
    grid-template-columns: 100%;
  }

  .total-product-list {
    .filter-icon {
      .fa-filter {
        display: block;
      }
    }
  }

  .all-product-item-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 726px) {
  .all-product-item-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 526px) {
  .total-product-list {
    .filter-icon {
      i {
        font-size: 18px;
      }
    }
  }

  .all-product-item-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

.new-card-section {
  margin-top: 50px;
  padding-bottom: 50px;

  .main-container {
    max-width: 1240px;
    margin: auto;
  }

  .title-card {
    h2 {
      align-items: center;
      display: flex;
      justify-content: space-between;
      line-height: 16px;
      margin-top: 32px !important;
      padding-bottom: 34px !important;
      text-align: center;
      font-size: 28px;
      line-height: 28px;
      font-family: $font-en-primary;
      color: $product-details-title;
      font-weight: 500;

      &::before {
        background: linear-gradient(90deg, #cacaca, transparent);
        content: "";
        flex: 1;
        height: 1px;
        margin-left: 0px;
      }

      &::after {
        background: linear-gradient(90deg, transparent, #cacaca);
        content: "";
        flex: 1;
        height: 1px;
        margin-right: 0px;
      }
    }
  }
}

.new-section-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 1024px) {
  .new-section-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .main-container {
    max-width: 95%;
    margin: auto;
  }
}

@media (max-width: 724px) {
  .new-section-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 470px) {
  .new-section-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* --- top-select --- */
.top-select {
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin: auto;
    overflow: hidden;
    overflow-x: auto;
    gap: 22px;
    padding-top: 10px;
    padding-bottom: 25px;

    li {
      a {
        font-family: $font-en-primary;
        font-size: 16px;
        text-transform: capitalize;
        font-weight: 500;
        letter-spacing: 0.5px;
        cursor: pointer;
        color: $sub-heading-color;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 9px;
        position: relative;

        img {
          width: 20px;
        }

        span {
          white-space: nowrap;
          padding-top: 3px;
        }

        &::after {
          content: "";
          width: 0px;
          height: 3px;
          background-color: $color-primary;
          position: absolute;
          right: 0px;
          bottom: -6px;
          transition: all 0.3s linear 0s;
        }

        &:hover {
          &::after {
            left: 0px;
            width: 100%;
          }
        }

        &.active {
          &::before {
            content: "";
            width: 100%;
            height: 3px;
            background-color: $color-primary;
            position: absolute;
            left: 0px;
            bottom: -6px;
          }
        }
      }
    }
  }
}

@media (max-width: 888px) {
  .top-select {
    justify-content: space-between;
    gap: 30px;

    ul {
      margin: inherit;
      padding-bottom: 22px;

      li {
        a {
          font-size: 13px;

          &::after {
            height: 2px;
          }

          img {
            width: 16px;
          }
        }
      }
    }
  }
}
