@import "src/theme/_variables.scss";

footer {
  border-top: 2px solid #951A1B;
  margin-top: 0px;
  padding: 20px 0px 32px;
}

/* == footer-main == */
.footer-main {
  max-width: 1026px;
  margin: auto;
}

.footter-top {
  display: grid;
  grid-template-columns: calc(34% - 20px) 66%;
  gap: 20px;
}

.logo-img{
  width: 140px;
}

.footer-title {
  margin-bottom: 6px;
  h3 {
    font-family: $font-en-primary;
    font-size: 15px;
    font-weight: 500;
    color: $text-home-first-sec-color-3;
  }
}

.play-store-apps {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 24px;

  a {
    width: 135px;
    vertical-align: middle;
    fill: #fff;
    display: inline-block;
    pointer-events: none;
    height: 43px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.footer-title.footer-title2 {
  margin-bottom: 14px;
}

.fb-connect {
  margin-bottom: 16px;
  a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    i {
      color: #0074ba;
      font-size: 22px;
    }

    p {
      font-family: $font-en-primary;
      font-size: 15px;
      font-weight: 500;
      color: #0074ba;
    }
  }
}

.footer-title.footer-title2.footer-title3 {
  margin-bottom: 10px;
}

.country-select {
  a {
    font-family: $font-en-primary;
    font-size: 14px;
    font-weight: 400;
    color: #951A1B;

    &:hover {
      color: #00547e;
    }
  }
}

.footer-right-big {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.footer-title.footer-title4 {
  margin-bottom: 16px;
}

.item-list {
  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;

    li {
      margin-bottom: 6px;

      a {
        font-family: $font-en-primary;
        font-size: 14px;
        font-weight: 400;
        color:#951A1B;

        &:hover {
          color: $footer-text-hover-color;
        }
      }
    }
  }
}

.footer-main {
  hr {
    width: 100%;
    border: 1px solid rgb(212, 222, 217);
    margin: 30px 0px 20px;
  }
}

.footter-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  p {
    font-family: $font-en-primary;
    font-size: 14px;
    font-weight: 400;
    color: $color-true-black;
  }
}

.help-support {
  display: none;
}

.language {
  display: none;
}

@media (max-width: 800px) {
  .container.container2 {
    padding: 0px;
  }

  .footer-main {
    width: 100%;
    hr {
      display: none;
    }
  }

  .play-store-apps {
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(212, 222, 217);
    margin-bottom: 0px;
    margin-top: 16px;
  }

  .footter-top {
    grid-template-columns: 1fr;
  }

  .footer-right-big {
    display: none;
  }

  .footter-bottom {
    display: none;
  }

  .footer-title {
    text-align: center;
  }

  .play-store-apps {
    justify-content: center;
  }

  .fb-connect {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgb(212, 222, 217);
    padding: 16px 0px;
    margin-bottom: 0px;
  }

  .help-support {
    display: block;
    border-bottom: 2px solid rgb(212, 222, 217);
    padding: 16px 0px;
    ul {
      padding: 0px;
      margin: 0px;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        a {
          font-family: $font-en-primary;
          font-size: 14px;
          font-weight: 400;
          color:#951A1B;
          margin-right: 12px;

          &:hover {
            color: $footer-text-hover-color;
          }
        }

        &:last-child {
          border-left: 1px solid rgb(212, 222, 217);
          a {
            margin-left: 12px;
            margin-right: 0px;
          }
        }
      }
    }
  }

  .footer-title.footer-title2 {
    display: none;
  }

  .language {
    border-bottom: 2px solid rgb(212, 222, 217);
    padding: 16px 0px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 4px;
      background: transparent;
      border: 1px solid #14181a;
      padding: 8px 12px;
      box-sizing: border-box;
      font-family: $font-en-primary;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-size: 14px !important;
    }
  }

  .footer-title.footer-title2.footer-title3 {
    padding-top: 16px;
    display: block;
    text-align: center;
  }

  .country-select {
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
