<div class="my-membership">
  <!-- my-account-title -->
  <div class="my-membership-title">
    <h2>Settings</h2>
  </div>

  <!-- change details start -->
  <form action="">
    <!-- setting-details -->
    <div class="setting-details">
      <h3>Change details</h3>

      <!-- mail-data -->
      <div class="mail-data">
        <p>
          <span>Email:</span>
          <span>noommaa240@gmail.com</span>
        </p>
      </div>

      <!-- form-input -->
      <div class="form-input">
        <label for="name">Name</label>
        <br />
        <input type="text" id="name" placeholder="Enter name" />
      </div>

      <!-- form-select-group -->
      <div class="form-select-group">
        <!-- form-select -->
        <div class="form-select">
          <label for="location">Location</label>
          <br />
          <select name="" id="location">
            <option value>Location</option>
            <optgroup label="Cities">
              <option value="dhaka">Dhaka</option>
              <option value="dhaka">Feni</option>
              <option value="dhaka">Comilla</option>
              <option value="dhaka">Rongpur</option>
            </optgroup>
            <optgroup label="Divisions">
              <option value="dhaka">Dhaka Divisions</option>
              <option value="dhaka">Feni Divisions</option>
              <option value="dhaka">Comilla Divisions</option>
              <option value="dhaka">Rongpur Divisions</option>
            </optgroup>
          </select>
        </div>

        <!-- form-select -->
        <div class="form-select">
          <label for="sublocation">Sublocation</label>
          <br />
          <select name="" id="sublocation">
            <option value>Sublocation</option>
            <!-- <optgroup label="Cities">
              <option value="dhaka">Dhaka</option>
              <option value="dhaka">Feni</option>
              <option value="dhaka">Comilla</option>
              <option value="dhaka">Rongpur</option>
            </optgroup>
            <optgroup label="Divisions">
              <option value="dhaka">Dhaka Divisions</option>
              <option value="dhaka">Feni Divisions</option>
              <option value="dhaka">Comilla Divisions</option>
              <option value="dhaka">Rongpur Divisions</option>
            </optgroup> -->
          </select>
        </div>
      </div>
    </div>

    <div class="submit-btn">
      <button type="button">Update details</button>
    </div>
  </form>

  <!-- change password -->
  <form class="change-password-main">
    <!-- setting-details -->
    <div class="setting-details change-password">
      <h3>Change password</h3>

      <!-- form-input -->
      <div class="form-input">
        <label for="new_password">New Password</label>
        <br />
        <input type="text" id="new_password" placeholder="New password" />
      </div>

      <!-- form-input -->
      <div class="form-input form-input2">
        <label for="confirm_new_password">Confirm New Password</label>
        <br />
        <input
          type="text"
          id="confirm_new_password"
          placeholder="Confirm new password"
        />
      </div>
    </div>

    <div class="submit-btn">
      <button type="button">Update details</button>
    </div>
  </form>

  <div class="btn-grp">
    <div class="submit-btn">
      <button type="button">Delete Account</button>
    </div>
    <div class="submit-btn">
      <button type="button">Log out</button>
    </div>
  </div>
</div>
