<header
  class="header-area"
  (click)="onClickHeader()"
  appOutSideClick
  (outsideClick)="handleOutsideClick()"
>
  <!---header-top--area-->
  <div class="header-top-area">
    <!-- [class.header-search-fixed]="headerFixed == true" -->
    <div class="container">
      <div class="header-top-main">
        <!---logo-area-->
        <div class="left-header-top">
          <div class="logo">
            <div class="ham-burger-maenu" (click)="onShowMobileMenu()">
              <i class="fa-solid fa-bars"></i>
            </div>
            <a routerLink="/home">
              Home
            </a>
          </div>
          <div class="left-header-top-btn">
            <ul>
              <li class="all-ads">
                <button type="button" routerLink="/product-list">
                  All Ads
                </button>
              </li>
            </ul>
          </div>
        </div>
        <!---header-icon-menu-->
        <div class="header-icon-menu">
          <ul>


            <li  class="user1">
              <button class="special" routerLink="/pricing">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <span class="management">Account Fees</span>
              </button>
            </li>

            <li class="user">
              <button class="special" routerLink="/login">
                <i class="fas fa-user-alt"></i>
                <span class="login">{{userService.getUserStatus() ? 'Account' : 'Login'}}</span>
              </button>
            </li>

            <li *ngIf="false" class="user">
              <button class="special" routerLink="/my">
                <i class="fas fa-user-alt"></i>
                <span>My Account</span>
              </button>
            </li>

            <li class="ad">
              <div class="add-btn" routerLink="/post-ad">
                <div class="addd">
                  <span>post to-let</span>
                </div>
              </div>
            </li>
          
            <li class="contact" *ngIf="false">
              <div class="contact-info">
                <h4>Call us at</h4>
                <a href="tel:09643207005">09643207005</a>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="header-top-bottom-main" [class.isHide]="!headerServe">
 
        <!----search-box-->
        <div class="search-box" (click)="onClickSearchArea($event)">
          <form class="search" #searchForm="ngForm" (submit)="onSubmit()">
            <!--search-input-->
            <div class="search-input">
              <input
                #searchInput
                id="searchInput"
                class="tw"
                type="text"
                name="searchTerm"
                (focus)="handleFocus($event)"
                (keydown.enter)="onSearchNavigate()"
                autocomplete="off"
                ngModel
                placeholder="Are you looking for a safe apartment to rent or a good tenant?"
              />
            </div>
           <div class="search-btn">
              <button (click)="onSearchNavigate()">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>

          <ul
            id="auto-suggestion"
            class="auto-complete-box"
            [ngClass]="searchProducts.length > 0 && isOpen ? 'active' : ''"
          >
            <li
              class="list-view"
              *ngFor="let data of searchProducts"
              (click)="onSelectItem(data)"
            >
              <div class="search-result-left">
                <div class="result-product-img">
                  <img
                    class="img-thumb"
                    [src]="data?.images && data?.images.length ? data?.images[0] : getImagePlaceholder(data?.postType)"
                  />
                </div>
                <div class="desc">
                  <h3>{{ data?.name }}</h3>
                  <p *ngIf="data?.postType === 'to_let'" class="cr-r-p" style="font-size: 14px; font-weight: 500;">
                    Rent: {{data?.rentPrice}}</p>
                </div>
              </div>
          
            </li>
          </ul>
        </div>                                               
      </div>
    </div>
  </div>
</header>

<!-- mobile menu -->
<div class="header-mobile-menu" [class.active]="showMobileMenu">
  <div class="mb-top">
    <div class="mb-logo">

    </div>
    <div class="mb-cross">
      <a (click)="onShowMobileMenu()"> <i class="fa-solid fa-xmark"></i></a>
    </div>
  </div>
  <!-- menu 1 -->
  <div class="mb-bottom">
    <ul>
      <li>
        <a   (click)="onShowMobileMenu()" routerLink="product-list/to-let-list">
          <span
          ><svg viewBox="0 0 60 60" class="svg-wrapper--8ky9e">
              <path
                d="M47.834 26.901l-2.56-9.803c-.448-1.874-1.41-2.85-3.256-3.307l-9.655-2.599c-1.846-.456-3.134-.124-4.478 1.24L12.007 28.555c-1.343 1.364-1.343 3.596 0 4.96L25.85 47.57a3.427 3.427 0 0 0 4.885 0l15.878-16.122c1.344-1.364 1.67-2.672 1.22-4.547zm-12.62-2.894a3.546 3.546 0 0 1 0-4.96 3.418 3.418 0 0 1 4.885 0 3.545 3.545 0 0 1 0 4.96 3.417 3.417 0 0 1-4.886 0z"
              ></path></svg
          ></span>
          <small>All ads</small>
        </a>
      </li>

    </ul>
  </div>

  <!-- menu 2 -->
  <div class="mb-bottom">
    <ul>
      <li>
        <a routerLink="/login" (click)="onShowMobileMenu()">
          <span
          ><svg viewBox="0 0 60 60" class="svg-wrapper--8ky9e">
              <path
                d="M36.723 34.65c1.637 1.243 6.495 2.38 10.397 4.484 1.286.694 1.396 1.724 1.492 2.345.097.622.3 7.404.3 7.404H11s.204-6.782.3-7.404c.097-.621.105-1.565 1.493-2.345 3.866-2.169 8.738-3.169 10.375-4.412.65-.494.482-1.292.627-2.058.144-.766.626-.24.626-1.052 0-.819.153-.676.063-1.763-.078-.948-1.386-1.049-1.46-2.821-.015-.374-.674-.623-1.06-1.197-.385-.574-1.01-1.579-1.01-2.727s.24-.862.24-2.297-.053-2.267.771-5.598c.308-1.243 1.354-2.7 2.402-3.359 1.413-.888.845.296 5.593-.756 3.077-.682 7.898 2.488 7.946 5.024.065 3.43.276 3.172.48 4.593.145 1.005.434.766.434 1.914 0 1.15-.626 2.584-1.011 3.158-.385.575-.742 1.496-.792 1.866-.252 1.917-1.54 1.474-1.593 2.501-.05.938-.111.818.03 1.549.118.61.476-.04.62.726.146.765.045 1.89.649 2.225"
              ></path></svg
          ></span>
          <small>Login</small>
        </a>
      </li>
    </ul>
  </div>

  <!-- menu 3 -->
  <div class="mb-bottom mb-bottom2">
    <ul>
    
      <li>
        <a href="#">
          <span>
            <svg viewBox="0 0 60 60" class="svg-wrapper--8ky9e">
              <path
                d="M30.1 15.4a14.6 14.6 0 1 0 14.5 14.7 14.6 14.6 0 0 0-14.5-14.7zM30 39.9a2.1 2.1 0 1 1 2.1-2.1 2.1 2.1 0 0 1-2.1 2.1zm2-9.1a2.6 2.6 0 0 0-.5 1.7v1.2h-3.1V32a3.9 3.9 0 0 1 .3-1.6c1-1.6 3.8-3 3.8-5.1a2.3 2.3 0 0 0-2.4-2.3 2.5 2.5 0 0 0-2.5 2.3h-3.3a5.7 5.7 0 0 1 6-5.2 5 5 0 0 1 5.4 4.7c.1 2.9-2 4.1-3.7 6z"
                fill-rule="evenodd"
                data-name="Lager 2"
              ></path>
            </svg>
          </span>
          <small>FAQ</small>
        </a>
      </li>

      <li>
        <a href="#">
          <span>
            <svg viewBox="0 0 60 60" class="svg-wrapper--8ky9e">
              <path
                class="more_svg__cls-1"
                d="M15 25a5 5 0 1 0 5 5 5 5 0 0 0-5-5zm30 0a5 5 0 1 0 5 5 5 5 0 0 0-5-5zm-15 0a5 5 0 1 0 5 5 5 5 0 0 0-5-5z"
              ></path>
            </svg>
          </span>
          <small>More</small>
        </a>
      </li>
    </ul>
  </div>

  <!-- menu 4 -->


<!-- mobile menu back overlay -->
<div
  class="overlay"
  (click)="onShowMobileMenu()"
  [class.active]="showMobileMenu"
></div>

