<div class="main">
  <div class="container">
    <div class="main-data-container">
      <!-- banner area -->
      <div class="top-banner-main">
        <div class="top-banner-area">
          <div class="top-banner-left">
            <div class="banner">
              <div class="overlay-img">
                <img src="../../../assets/images/png/first.png" alt="" />
              </div>
              <a class="data-text">
                <h2>
                  ঈদের আনন্দ দ্বিগুণ করতে ‘queriescare বিরাট হাট পাওয়ার্ড বাই
                  Minister’ ক্যাম্পেইন ঘোষণা
                </h2>
                <p>
                  আসন্ন ঈদ-উল-আযহা উপলক্ষে অনলাইনে গবাদি পশু কেনা-বেচার জনপ্রিয়
                  মাধ্যম queriescare, দেশের অন্যতম জনপ্রিয় ইলেক্ট্রনিক্স ও হোম
                  অ্যাপ্লায়েন্স প্রস্তুতকারক Minister Hi-Tech…
                </p>
              </a>
            </div>
          </div>
          <div class="top-banner-right">
            <div class="banner">
              <div class="overlay-img">
                <img src="../../../assets/images/png/third.png" alt="" />
              </div>
              <a class="data-text2">
                <h2>
                  queriescare ও Doreen Developments Ltd.-এর এমওইউ চুক্তি স্বাক্ষর
                </h2>
                <p>
                  Doreen Developments Ltd.-এর সাথে একটি সমঝোতা স্মারক স্বাক্ষর
                  করেছে queriescare। প্রপার্টি বিক্রিতে Doreen Developments Ltd.-এর
                  ডিজিটাল পার্টনার হিসেবে queriescare চুক্তিবদ্ধ…
                </p>
              </a>
            </div>

            <div class="banner">
              <div class="overlay-img">
                <img src="../../../assets/images/png/third.png" alt="" />
              </div>
              <a class="data-text2">
                <h2>
                  ‘বাইক রিভিউ কম্পিটিশন’-এর বিজয়ীদের পুরস্কৃত করলো BikesGuide
                  Bangladesh
                </h2>
                <p>
                  queriescare-এর সদ্য চালু হওয়া অনলাইন বাইক পোর্টাল, BikesGuide
                  Bangladesh আনুষ্ঠানিকভাবে ‘বাইক রিভিউ কম্পিটিশন’-এর শীর্ষ
                  বিজয়ীদের হাতে পুরস্কার তুলে দিয়েছে। BikesGuide,…
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="main-data-content">
        <div class="blog-area-main">
          <!-- blog-left -->
          <div class="blog-left">
            <h2>সাম্প্রতিক ব্লগগুলো</h2>

            <!-- all-blog-card -->
            <div class="all-blog-card">
              <ng-container *ngFor="let data of [0, 0, 0, 0, 0]">
                <app-blog-card-two></app-blog-card-two>
              </ng-container>
            </div>
          </div>
          <div class="blog-right">
            <div class="bikroy-ad">
              <img src="../../../assets/images/png/ad-banner.png" alt="" />
            </div>

            <div class="bikory-items">
              <h2>
                <span><i class="fa-solid fa-folder"></i></span>
                <span>ক্যাটাগরি সমূহ</span>
              </h2>

              <ul>
                <li>
                  <a href="">
                    <small>
                      <img
                        src="../../../assets//images/png/bikroy-updates.png"
                        alt=""
                      />
                    </small>
                    <span>queriescare আপডেট</span>
                  </a>
                </li>
                <li>
                  <a href="">
                    <small>
                      <img
                        src="../../../assets/images/png/electronics.png"
                        alt=""
                      />
                    </small>
                    <span>ইলেকট্রনিক্স</span>
                  </a>
                </li>

                <li>
                  <a href="">
                    <small>
                      <img src="../../../assets//images/png/food.png" alt="" />
                    </small>
                    <span>কৃষি এবং খাদ্যদ্রব্য</span>
                  </a>
                </li>
                <li>
                  <a href="">
                    <small>
                      <img
                        src="../../../assets//images/png/job-openings.png"
                        alt=""
                      />
                    </small>
                    <span>চাকরি</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- emergency call -->
    <div class="main-data-container main-data-container2">
      <!-- top data -->
      <div class="top-data top-data2">
        <div class="top-data-title top-data-title2">
          <h2>Need help?</h2>
          <div class="small-data">
            <p>Every day from 10:00 AM to 8:00 PM</p>
          </div>
        </div>

        <div class="for-contact">
          <ul>
            <li>
              <div class="contact-main">
                <div class="icon-text">
                  <i class="fa-solid fa-phone"></i>
                  <p>Call us</p>
                </div>
                <div class="contact-info">
                  <a href="tel:09609 555444"> 09609 555444 </a>
                </div>
              </div>
            </li>

            <li>
              <div class="contact-main">
                <div class="icon-text">
                  <i class="fa-solid fa-envelope"></i>
                  <p>Email us</p>
                </div>
                <div class="contact-info">
                  <a href="support@bikroy.com"> support@bikroy.com</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
