<form class="input-area" (ngSubmit)="onSubmit()" [formGroup]="dataForm">
  <div class="login-main">
    <div class="log-main">
      <div class="login">
    
        <div class="log-form">
          <h1>Login / Signup</h1>

          <div (ngSubmit)="onSubmit()" [formGroup]="dataForm">
            <mat-form-field class="example-full-width search-input">
              <mat-label>Mobile Number</mat-label>
              <input
                [readOnly]="isOtpSent"
                matInput
                digitOnly
                placeholder="Enter mobile number"
                type="tel"
                [autocomplete]="false"
                formControlName="phoneNo"
                [maxlength]="11"
              />

            </mat-form-field>

            <div class="resent-view" *ngIf="sendVerificationCode">
              <div class="count-area" [hidden]="countDown === 0">
                <span class="count-down">{{ "0:" + countDown }}</span>
              </div>
              <button
                *ngIf="countDown == 0 && isCountDownEnd"
                mat-button
                color="primary"
                (click)="resendOtp()"
              >
                Resend Code
              </button>
            </div>
          </div>

          <div class="input-area input-area-two" *ngIf="isOtpSent">
            <div class="input-area-main">
              <label for="otp">OTP</label>
              <div class="input-field input-field-two">
                <input
                  id="otp"
                  type="text"
                  [autocomplete]="false"
                  formControlName="code"
                  placeholder="Enter your OTP"
                />
              </div>
            </div>
          </div>

          <div class="trams-and-condition">
            <p>
              By logging in, I agree to <a>terms</a> and <a>privacy policy</a>
            </p>
          </div>

          <div class="submit-btn">
    
            <button mat-raised-button [disabled]="isLoading">
              {{ isLoading ? "Please Wait.." : "Proceed" }}
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>
