<!-- home-sec2 -->
<div class="browse-items-by-category">
  <div class="container">
    <div class="browse-items">

      <div class="browse-item">
        <a routerLink="/product-list/to-let-list">
          <div class="browse-item-left">
            <img src="assets/images/png/4.jpg" alt="To-Let"/>
          </div>
          <div class="browse-item-right">
            <h1>To-Let</h1>
            <p>{{postCount?.toLet ? (postCount?.toLet | number: '': 'bn') : 0}} ads</p>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>

<!-- home-sec2 -->
<div class="sec2">
  <div class="container">
    <div class="sec2-main">
      <div class="sec2-cards">
        <!-- card 2 -->
        <div class="sec2-card sec2-card2">
          <div class="left-img">
            <img src="./assets/images/png/4.jpg" alt=""/>
          </div>
          <div class="right-data">
            <h1>To-Let</h1>
            <p>
              Are you looking for a safe apartment to rent or a good tenant?
            </p>
            <button type="button" routerLink="/post-ad/add-post-price">
              <span><i class="fas fa-plus-circle"></i></span>
              <span>Post TO-LET Here</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- home-sec4 -->
<div class="sec4">
  <div class="container">
    <div class="ab-section">
      <div class="about-title">
        <h3>The platform we have built to evaluate your trust and confidence by providing to-let services:
        </h3>
      </div>
      <div class="ab-sec-data">
        <p>


          <b></b>To-let corner. This site will help you to find house rent. In that case the correct house
          owner and
          correct tenant will only do the offline verification of the admin panel. Suppose you are in one district,
          looking for a house in another district, in that case, this site will give you information about your
          preferred house in real. Also, when the house owner gives the to-let advertisement, he must also mention the
          privacy issue.<br><br>

    
        </p>
      </div>
    </div>
  </div>
</div>
