<div class="drop-data" [class.active]="showData">
  <div class="drop-title" (click)="onShowData()">
    <h3>Mobiles</h3>
    <i
      class="{{ !showData ? 'fa-chevron-down fas' : 'fa-chevron-up fas' }}"
    ></i>
  </div>
  <div class="drop-data-child">
    <p class="d-d-text">
      Buy and sell mobiles phones, sim cards, mobile accessories and mobile
      phone services near you.
    </p>

    <div class="drop-links">
      <div class="drop-link">
        <ul>
          <li>
            <a href="">Mobile Phones</a>
          </li>
        </ul>
      </div>
      <div class="drop-link">
        <ul>
          <li>
            <a href="">Mobile Phones</a>
          </li>
        </ul>
      </div>
      <div class="drop-link">
        <ul>
          <li>
            <a href="">Mobile Phones</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
