<div class="my-account">
  <!-- my-account-title -->
  <div class="my-account-title">
    <h2>Abdullah Al Nomaan</h2>
  </div>

  <!-- republish-ad-section -->
  <div class="republish-ad-section">
    <a href="">
      <i class="fa-solid fa-repeat"></i>
      <span>Republish ads</span>
    </a>
  </div>

  <!-- not-set -->
  <div class="not-set">
    <!-- not-set-img -->
    <div class="not-set-img">
      <img src="../../../../../assets/images/png/empty-box.png" alt="" />
    </div>

    <!-- not-set-text -->
    <div class="not-set-text">
      <h4>You don't have any ads yet.</h4>
      <p>Click the "Post an ad now!" button to post your ad.</p>
    </div>
  </div>

  <div class="post-ad">
    <button type="button">Post your ad now</button>
  </div>
</div>
