@import "src/theme/_variables.scss";

.main {
  width: 100%;
  background-color: #e7edee;
  padding: 24px 0px;
}

.main-data-container {
  max-width: 1240px;
  margin: auto;
  background-color: #fff;
  border-radius: 4px;
  padding: 16px 24px;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.top-data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px 0px;
  padding-bottom: 36px;
}

.top-data.top-data2 {
  padding-bottom: 20px !important;
  border-bottom: 0px solid #d5e1e6 !important;
  border-radius: 0px 0px 0px 0px !important;
  padding-top: 0px;
}

.top-svg {
  margin-bottom: 24px;
}

@media (max-width: 556px) {
  .top-svg {
    svg {
      width: 246px;
      height: 180px;
    }
  }
}

.top-data-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  h2 {
    font-family: $font-en-primary;
    font-size: 24px;
    font-weight: 600;
    color: $product-details-title;
    text-align: center;
  }

  .small-data {
    text-align: center;
  }

  p {
    font-family: $font-en-primary;
    font-size: 15px;
    color: #707676;
    font-weight: 300;
    margin-bottom: 8px !important;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  a {
    font-family: $font-en-primary;
    font-size: 15px;
    color: #0074ba;
    font-weight: 300;
    display: inline;

    &:hover {
      color: #00547e;
    }
  }
}

//
.top-data-title.top-data-title2 {
  gap: 12px;
  margin-bottom: 18px;
  text-align: center;
}

.for-contact {
  width: 100%;
  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media (max-width: 560px) {
  .for-contact {
    ul {
      flex-direction: column;
      gap: 40px;
    }
  }
}

.contact-main {
  .icon-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    gap: 16px;

    i {
      font-size: 22px;
      color: $primary-color;
    }

    p {
      color: $product-details-title;
      font-family: $font-en-primary;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
  }

  .contact-info {
    text-align: center;

    a {
      color: $product-details-title;
      font-family: $font-en-primary;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.5px;
      color: #0074ba;

      &:hover {
        color: #00547e;
      }
    }

    p {
      color: $product-details-title;
      font-family: $font-en-primary;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.5px;
      color: #707676;
      line-height: 22px;
    }
  }
}

@media (max-width: 556px) {
  .contact-main {
    .contact-info {
      a {
        font-size: 13px;
      }

      p {
        font-size: 13px;
        line-height: 18px;
      }
    }
  }
}
