@import "src/theme/variables";

.card {
  width: 100%;
  display: inline-block;
  padding: 10px;
  box-shadow: 0px 2px 7px #e9e9e9;
  transition: box-shadow 0.3s ease-out;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 2px 1px #008069;
  }
}

.card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f3f3f3;

  h3 {
    flex: 1;
    font-family: $font-en-primary;
    font-size: 16px;
    font-weight: 300;
    color: $heading-color;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.top-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  img {
    &:first-child {
      max-width: 94px;
    }

    &:last-child {
      max-width: 18px;
    }
  }
}

@media (max-width: 556px) {
  .card-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .top-img {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 456px) {
  .card-top {
    h3 {
      font-size: 14px;
    }
  }
}

.card-body {
  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 8px 0px;

      p {
        font-family: $font-en-primary;
        font-size: 14px;
        font-weight: 400;
        color: $heading-color;
      }

      h2 {
        font-family: $font-en-primary;
        font-size: 14px;
        font-weight: 500;
        color: $heading-color;
      }

      h4 {
        padding: 8px 7px;
        border-radius: 10px;
        background-color: rgb(87, 221, 30);
        color: $color-white;
        font-size: 14px;
        font-family: $font-en-primary;
        font-weight: 400;
      }
    }
  }
}

.cancel-btn button{
  display: block;
  max-width: 150px;
  width: 100%;
  border: none;
  outline: none;
  background-color:#c00;
  font-family: $font-en-primary;
  font-style: normal;
  font-size: 16px;
  padding: 8px 10px;
  box-sizing: border-box;
  color: $color-white;
  font-weight: 500;
  border-radius: 5px;
}

@media (max-width: 456px) {
  .card-body {
    ul {
      li {
        margin: 6px 0px;

        p {
          font-size: 13px;
        }

        h2 {
          font-size: 13px;
        }

        h4 {
          padding: 5px 6px;
          border-radius: 8px;
          font-size: 13px;
        }
      }
    }
  }
}
