@import "src/theme/_variables.scss";

.main {
  width: 100%;
  background-color: #e7edee;
  padding: 24px 0px;
}

.main-data-container {
  max-width: 1240px;
  margin: auto;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 16px;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0px;
  }
}

/* ---- top-banner ---- */
.top-banner {
  width: 100%;
  height: 362px;
  background-image: url("../../../assets/images/png/fitted.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.top-banner {
  img {
    position: absolute;
    bottom: 32px;
    left: 32px;
    height: 150px;
    width: 200px;
  }
}

@media (max-width: 724px) {
  .top-banner {
    height: 264px;
  }

  .top-banner {
    img {
      bottom: 24px;
      left: 24px;
    }
  }
}

@media (max-width: 460px) {
  .top-banner {
    height: 200px;
  }
}

/* ---- all-career ---- */
.all-career {
  padding: 24px;
  display: grid;
  grid-template-columns: 350px calc(100% - 380px);
  grid-gap: 30px;
  position: relative;
}

@media (max-width: 992px) {
  .all-career {
    padding: 24px;
    display: grid;
    grid-template-columns: 300px calc(100% - 330px);
    grid-gap: 30px;
  }
}

@media (max-width: 800px) {
  .all-career {
    padding: 24px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;
  }
}

/* --- all-career-left --- */
.all-career-left {
  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    border: 1px solid #e7edee;
    border-radius: 4px;
    overflow: hidden;

    li {
      padding: 16px 12px;
      border-bottom: 1px solid #e7edee;

      &:last-child {
        border-bottom: 0px;
      }

      h2 {
        font-size: 18px;
        font-weight: 600;
        color: $product-details-title;
        font-family: $font-en-primary;
      }

      h2.bikroy {
      }

      h3 {
        font-size: 16px;
        font-weight: 600;
        color: $product-details-title;
        font-family: $font-en-primary;
      }

      h3.bikroy2 {
        margin-top: 12px !important;
      }

      h3.bikroy3 {
        margin-bottom: 12px !important;
        font-weight: 400 !important;
      }

      p.text-1 {
        font-size: 15px;
        font-weight: 300;
        color: #707676;
        font-family: $font-en-primary;

        b {
          font-weight: 600;
          color: #b4352d;
        }
      }

      p.text-2 {
        margin-top: 8px !important;
      }

      a.anchor {
        font-family: $font-en-primary;
        font-size: 15px;
        color: #0074ba;
        font-weight: 300;
        margin-top: 6px !important;

        &:hover {
          color: #00547e;
        }
      }

      a.send-mail {
        display: flex;
        align-items: center;
        gap: 12px;

        i {
          color: $primary-color;
          font-size: 22px;
        }
      }

      .location-set {
        display: grid;
        grid-template-columns: 30px calc(100% - 35px);
        grid-gap: 5px;

        i {
          color: $primary-color;
          font-size: 22px;
        }

        p.text-1.text-3 {
          color: $product-details-title !important;
          line-height: 20px;
          a {
            font-family: $font-en-primary;
            font-size: 15px;
            color: #0074ba;
            font-weight: 300;
            margin-top: 6px !important;
            display: inline;

            &:hover {
              color: #00547e;
            }
          }
        }
      }

      .suggest-set {
        svg {
          padding-top: 3px;
        }
      }
    }
  }
}

.employer-details {
  p {
    font-size: 15px;
    font-weight: 300;
    color: #707676;
    font-family: $font-en-primary;
    line-height: 22px;
  }

  .show {
    margin-top: 20px;

    p.text-4 {
      margin-bottom: 20px !important;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: transparent;
    border: 0px;
    padding-top: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #707676;
    font-family: $font-en-primary;

    i {
      font-size: 16px;
    }
  }

  .employee-benefit {
    margin-bottom: 20px !important;
  }

  .bikroy-items {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
}

.show-more {
  display: none;
}

@media (max-width: 800px) {
  .employer-details {
    button {
      display: none;
    }
  }

  .mail-send {
    display: none;
  }

  .disable {
    display: none;
  }

  .disable.active {
    display: block;
  }

  .show-more {
    display: block;
    button {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      background-color: transparent;
      border: 0px;
      font-size: 16px;
      font-weight: 500;
      color: #707676;
      font-family: $font-en-primary;

      i {
        font-size: 16px;
      }
    }
  }
}

.icon-badge {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-top: 8px;
}

.first-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  svg {
    position: relative;
    z-index: 11;
  }

  p {
    background-color: #afb7ad !important;
    color: #fff !important;
    border-radius: 2px !important;
    font-size: 12px !important;
    line-height: 1em !important;
    font-family: $font-en-primary !important;
    font-weight: 500 !important;
    margin-left: -6px !important;
    padding: 1px 3px 1px 7px;
  }
}

.second-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* ----- contact ----- */
.main-data-container.main-data-container2 {
  padding: 40px 24px;
}

.top-data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px 0px;
  padding-bottom: 36px;
  border-bottom: 1px solid #d5e1e6;
  border-radius: 0px 0px 4px 4px;
}

.top-data.top-data2 {
  padding-bottom: 0px !important;
  border-bottom: 0px solid #d5e1e6 !important;
  border-radius: 0px 0px 0px 0px !important;
  padding-top: 0px;
}

.top-data-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  h2 {
    font-family: $font-en-primary;
    font-size: 24px;
    font-weight: 600;
    color: $product-details-title;
    text-align: center;
  }

  .small-data {
    text-align: center;
  }

  p {
    font-family: $font-en-primary;
    font-size: 14px;
    color: #707676;
    font-weight: 300;
    margin-bottom: 8px !important;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  a {
    font-family: $font-en-primary;
    font-size: 14px;
    color: #0074ba;
    font-weight: 400;

    &:hover {
      color: #00547e;
    }
  }
}

.top-data-title.top-data-title2 {
  gap: 12px;
  margin-bottom: 18px;
  text-align: center;
}

.for-contact {
  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;

    li {
      &:first-child {
        border-right-width: 1px;
        border-right-style: solid;
        border-image-slice: 1;
        border-image-source: radial-gradient(
          circle,
          #000 50%,
          transparent 100%
        );
        border-style: solid;
        border-top: 0px;
        border-left: 0px;
        border-bottom: 0px;
      }

      &:nth-child(odd) {
        padding-right: 40px;
      }
      &:nth-child(even) {
        padding-left: 22px;
      }
    }
  }
}

@media (max-width: 560px) {
  .for-contact {
    ul {
      flex-direction: column;

      li {
        &:first-child {
          border: 0px;
          border-bottom: 1px solid #d5e1e6;
        }

        &:nth-child(odd) {
          padding-right: 0;
          padding-bottom: 20px;
        }
        &:nth-child(even) {
          padding-left: 0;
          padding-top: 20px;
        }
      }
    }
  }
}

.contact-main {
  .icon-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    gap: 16px;

    i {
      font-size: 22px;
      color: $primary-color;
    }

    p {
      color: $product-details-title;
      font-family: $font-en-primary;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0.5px;
    }
  }

  .contact-info {
    text-align: center;

    a {
      color: $product-details-title;
      font-family: $font-en-primary;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.5px;
      color: #0074ba;

      &:hover {
        color: #00547e;
      }
    }
  }
}

/* --- all-career-right --- */
.search-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  border-radius: 60px;
  overflow: hidden;
  border: 1px solid $primary-color;
}

.search {
  width: 100%;
  position: relative;
}
.search input {
  display: block;
  width: 100%;
  height: 46px;
  padding: 0px 20px;
  box-sizing: border-box;
  border: 0px solid #f06425;
  background-color: #fff;
  font-family: $font-en-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  outline: none;
  color: #000;
  box-shadow: 0px 2px 5px rgb(240 100 36 / 16%);
}
.search button {
  background: transparent;
  color: $text-hed-color;
  font-size: 17px;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 0px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  right: 5px;
  box-sizing: border-box;
  transition: all 0.3s linear;
  border-radius: 50%;
  background-color: $primary-color-2;
  i {
    font-size: 17px;
    padding-left: 2px;
    padding-top: 1px;
  }
}

::placeholder {
  color: grey;
}

.all-career-right {
  h3.title-top {
    font-family: $font-en-primary;
    font-size: 17px;
    font-weight: 600;
    color: $product-details-title;
    margin: 20px 0px !important;
  }

  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;

    li {
      border-top: 1px solid #e7edee;
      padding: 8px;
      transition: all 0.12s linear;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 8px 0 #d4ded9;
        border-radius: 4px;
      }
    }
  }
}
