<div class="main">
  <div class="container">
    <div class="main-data-container">
      <!-- top data -->
      <div class="top-data">
        <div class="top-svg">
          <svg
            width="319"
            height="233"
            viewBox="0 0 319 233"
            class="svg-wrapper--8ky9e"
          >
            <g fill="none" fill-rule="evenodd">
              <g transform="translate(115 12)">
                <rect fill="#F8FAFB" width="183" height="52" rx="4.497"></rect>
                <rect
                  fill="#DCE3E4"
                  x="8.982"
                  y="6.638"
                  width="52.767"
                  height="38.723"
                  rx="4.497"
                ></rect>
                <rect
                  fill="#DCE3E4"
                  x="70.73"
                  y="6.638"
                  width="86.448"
                  height="4.426"
                  rx="2.213"
                ></rect>
                <rect
                  fill="#DCE3E4"
                  x="70.73"
                  y="16.596"
                  width="43.785"
                  height="4.426"
                  rx="2.213"
                ></rect>
                <rect
                  fill="#DCE3E4"
                  x="70.73"
                  y="25.447"
                  width="63.994"
                  height="4.426"
                  rx="2.213"
                ></rect>
              </g>
              <g transform="translate(115 72)">
                <rect fill="#F8FAFB" width="183" height="52" rx="4.497"></rect>
                <rect
                  fill="#DCE3E4"
                  x="8.982"
                  y="6.638"
                  width="52.767"
                  height="38.723"
                  rx="4.497"
                ></rect>
                <rect
                  fill="#DCE3E4"
                  x="70.73"
                  y="6.638"
                  width="86.448"
                  height="4.426"
                  rx="2.213"
                ></rect>
                <rect
                  fill="#DCE3E4"
                  x="70.73"
                  y="16.596"
                  width="43.785"
                  height="4.426"
                  rx="2.213"
                ></rect>
                <rect
                  fill="#DCE3E4"
                  x="70.73"
                  y="25.447"
                  width="63.994"
                  height="4.426"
                  rx="2.213"
                ></rect>
              </g>
              <g transform="translate(115 132)">
                <rect fill="#F8FAFB" width="183" height="52" rx="4.497"></rect>
                <rect
                  fill="#DCE3E4"
                  x="8.982"
                  y="6.638"
                  width="52.767"
                  height="38.723"
                  rx="4.497"
                ></rect>
                <rect
                  fill="#DCE3E4"
                  x="70.73"
                  y="6.638"
                  width="86.448"
                  height="4.426"
                  rx="2.213"
                ></rect>
                <rect
                  fill="#DCE3E4"
                  x="70.73"
                  y="16.596"
                  width="43.785"
                  height="4.426"
                  rx="2.213"
                ></rect>
                <rect
                  fill="#DCE3E4"
                  x="70.73"
                  y="25.447"
                  width="63.994"
                  height="4.426"
                  rx="2.213"
                ></rect>
              </g>
              <g transform="translate(39 47)" fill-rule="nonzero">
                <ellipse
                  fill="#2F2E41"
                  cx="49.589"
                  cy="26.078"
                  rx="14.416"
                  ry="14.439"
                ></ellipse>
                <ellipse
                  fill="#A96C44"
                  cx="50.8"
                  cy="28.723"
                  rx="11.803"
                  ry="11.822"
                ></ellipse>
                <path
                  d="M95.749 64.68c-.188.188-.36.392-.515.608l-23.817-.843-2.724-5.117-8.247 3.108 3.943 9.528a3.844 3.844 0 0 0 3.97 2.353l26.952-2.964a5.04 5.04 0 0 0 5.464 1.744 5.05 5.05 0 0 0 3.561-4.5 5.053 5.053 0 0 0-2.943-4.93 5.038 5.038 0 0 0-5.644 1.012z"
                  fill="#A96C44"
                ></path>
                <path
                  d="M57.273 67.037a2.315 2.315 0 0 1-1.27-1.452l-3.317-11.152a6.443 6.443 0 0 1 3.087-8.551 6.424 6.424 0 0 1 8.546 3.068l6.426 9.74a2.322 2.322 0 0 1-.952 3.378l-10.592 4.955c-.61.285-1.314.29-1.928.014z"
                  fill="#01B28B"
                ></path>
                <path
                  fill="#A96C44"
                  d="M80.73 180.257l5.175-2.822-8.402-21.332-7.637 4.163z"
                ></path>
                <path
                  d="M78.491 179.284l10.19-5.556a7.383 7.383 0 0 1 5.628-.599 7.396 7.396 0 0 1 4.402 3.563l.115.211L82.14 186l-3.65-6.716z"
                  fill="#2F2E41"
                ></path>
                <path
                  fill="#A96C44"
                  d="M23.793 180.28h5.89l2.803-22.76h-8.695z"
                ></path>
                <path
                  d="M22.29 178.354l11.602-.001c1.961 0 3.842.78 5.228 2.169a7.412 7.412 0 0 1 2.166 5.237v.24L22.29 186v-7.646zM60.4 79.263l1.923 23.103 21.441 64.426a1.928 1.928 0 0 1-1.378 2.482l-6.572 1.567a1.921 1.921 0 0 1-2.161-1.006L46.24 115.373a.96.96 0 0 0-1.797.227L32.38 170.643a1.923 1.923 0 0 1-1.877 1.513h-6.114a1.92 1.92 0 0 1-1.92-1.951c.56-38.167-1.288-81.657 13.424-88.536l2.403-6.257 22.105 3.85z"
                  fill="#2F2E41"
                ></path>
                <path
                  d="M37.604 77.05l-2.477-15.006a14.875 14.875 0 0 1 4.694-13.48 14.573 14.573 0 0 1 13.614-3.332A14.81 14.81 0 0 1 64.538 58.51c.473 6.517.05 15.971-4.65 24.003l-.092.156-22.192-5.618z"
                  fill="#01B28B"
                ></path>
                <path
                  d="M62.54 22.44a16.035 16.035 0 0 1-9.173 2.84 9.828 9.828 0 0 0 3.899 1.606 32.318 32.318 0 0 1-13.222.075 8.548 8.548 0 0 1-2.768-.952 3.508 3.508 0 0 1-1.708-2.289c-.29-1.66 1.001-3.168 2.343-4.184a17.262 17.262 0 0 1 14.524-2.907c1.623.42 3.248 1.13 4.302 2.435 1.054 1.305 1.366 3.317.362 4.66l1.442-1.284zM49.399 11.567C50.767 6.034 45.863-.113 40.174.002 34.4.118 30.152 5.343 27.232 10.332c-2.92 4.99-5.822 10.646-11.184 12.794a11.531 11.531 0 0 1-10.877-1.241 11.571 11.571 0 0 1-4.955-9.779c-.72 6.062.278 12.62 4.18 17.308 3.903 4.688 11.165 6.801 16.385 3.65 2.98-1.799 4.886-4.927 6.457-8.038 1.571-3.11 2.969-6.391 5.35-8.934 2.38-2.544 6.06-4.232 9.373-3.162 1.315.425 2.494 1.253 3.853 1.505 1.358.252 3.069-.395 3.254-1.766l.33-1.102z"
                  fill="#2F2E41"
                ></path>
                <path
                  d="M20.952 111.893a5.176 5.176 0 0 1 1.318-7.818l10.238-45.964 10.386 4.27-13.33 43.838a5.203 5.203 0 0 1-1.79 6.668 5.185 5.185 0 0 1-6.822-.994z"
                  fill="#A96C44"
                ></path>
                <path
                  d="M28.452 64.705a2.32 2.32 0 0 1-.162-1.924l3.937-10.947a6.429 6.429 0 0 1 7.551-5.048 6.438 6.438 0 0 1 5.061 7.55l-.598 11.658a2.32 2.32 0 0 1-.891 1.711 2.312 2.312 0 0 1-1.877.442L30.012 65.84a2.312 2.312 0 0 1-1.56-1.134z"
                  fill="#01B28B"
                ></path>
                <path
                  d="M111.264 58.373h-.172l-.014-4.723a2.732 2.732 0 0 0-2.738-2.726l-9.992.03a2.732 2.732 0 0 0-2.722 2.742l.08 25.914a2.732 2.732 0 0 0 2.738 2.726l9.992-.03a2.732 2.732 0 0 0 2.72-2.742l-.053-17.828h.172l-.01-3.363z"
                  fill="#3F3D56"
                ></path>
                <path
                  d="M108.222 52.339l-1.244.003a.926.926 0 0 1-.852 1.278l-5.46.016a.923.923 0 0 1-.86-1.272l-1.161.003a1.943 1.943 0 0 0-1.938 1.954l.075 24.682a1.95 1.95 0 0 0 1.95 1.942l9.577-.029a1.946 1.946 0 0 0 1.938-1.953l-.075-24.683a1.946 1.946 0 0 0-1.95-1.941z"
                  fill="#FFF"
                ></path>
                <ellipse
                  fill="#009877"
                  cx="103.435"
                  cy="68.146"
                  rx="5.286"
                  ry="5.294"
                ></ellipse>
                <path
                  d="M102.91 70.166a.548.548 0 0 1-.329-.11l-.006-.004-1.242-.953a.553.553 0 1 1 .671-.877l.805.617 1.901-2.483a.552.552 0 0 1 .774-.103l-.012.017.012-.016a.554.554 0 0 1 .103.775l-2.237 2.921a.552.552 0 0 1-.44.216z"
                  fill="#FFF"
                ></path>
              </g>
              <path
                d="M285.876 233H31.216c-.368 0-.667-.159-.667-.355 0-.196.299-.355.668-.355h254.66c.368 0 .668.159.668.355 0 .196-.3.355-.669.355z"
                fill="#3F3D56"
                fill-rule="nonzero"
              ></path>
            </g>
          </svg>
        </div>

        <div class="top-data-title">
          <h2>About queriescare</h2>
          <div class="small-data">
            <p>
              queriescare is a platform on which you can buy and sell almost
              everything! Use the location selector to find deals close to you
              or check out
            </p>
          </div>
        </div>

        <div class="data-details">
          <ul>
            <li>
              <div class="details-main">
                <div class="details-left">
                  <svg
                    width="80"
                    height="80"
                    viewBox="0 0 80 80"
                    class="svg-wrapper--8ky9e"
                  >
                    <defs>
                      <path
                        d="M14.5 29C6.49 29 0 22.51 0 14.5S6.49 0 14.5 0 29 6.49 29 14.5 22.51 29 14.5 29z"
                        id="group_svg__a"
                      ></path>
                    </defs>
                    <g fill="none" fill-rule="evenodd">
                      <g transform="translate(4.847 7.49)">
                        <ellipse
                          fill="#FFF"
                          transform="rotate(-15 42.768 18.366)"
                          cx="42.768"
                          cy="18.366"
                          rx="6.396"
                          ry="6.355"
                        ></ellipse>
                        <path
                          d="M58.246 22.322l-7.31-12.743c-1.339-2.452-3.07-3.453-5.862-3.389l-14.678.035c-2.79.064-4.496 1.02-5.891 3.44L8.013 38.261c-1.397 2.42-.56 5.544 1.86 6.941L34.79 59.606c2.418 1.398 5.539.562 6.934-1.858L58.217 29.15c1.395-2.42 1.369-4.375.029-6.828m-19 .752a5.084 5.084 0 0 1-1.86-6.942 5.073 5.073 0 0 1 6.935-1.858 5.086 5.086 0 0 1 1.86 6.942 5.073 5.073 0 0 1-6.934 1.858"
                          fill="#5E8DA9"
                        ></path>
                        <path
                          d="M25.593 22.977a1.663 1.663 0 0 1 2.272-.607l16.936 9.8a1.67 1.67 0 0 1 .611 2.276L35.265 52.063a1.663 1.663 0 0 1-2.272.607l-16.936-9.8a1.67 1.67 0 0 1-.611-2.276l10.147-17.617z"
                          fill="#BBC9D0"
                        ></path>
                        <path
                          fill="#FFF"
                          d="M21.034 35.989l16.149 9.344-1.687 2.929-16.148-9.345 1.686-2.928M28.813 32.68l11.744 6.795-1.688 2.929-11.744-6.796 1.688-2.928"
                        ></path>
                      </g>
                      <g transform="translate(39 39)">
                        <mask id="group_svg__b" fill="#fff">
                          <use xlink:href="#group_svg__a"></use>
                        </mask>
                        <use fill="#FFC800" xlink:href="#group_svg__a"></use>
                        <path
                          fill="#7B421E"
                          fill-rule="nonzero"
                          mask="url(#group_svg__b)"
                          d="M16.154 22v-5.81H22v-3.305h-5.846V7h-3.308v5.885H7v3.305h5.846V22z"
                        ></path>
                      </g>
                    </g>
                  </svg>
                </div>
                <div class="details-right">
                  <h2>Have items to sell?</h2>
                  <p>
                    Sign up for a free account to start selling your items! It
                    takes less than 2 minutes to post an ad. Visit
                    <a href="">How to sell fast</a> for some tips on creating
                    great ads that generate a lot of buyer interest. If you have
                    a lot of items to sell, consider buying a
                    <a href="">membership</a> and enjoy additional benefits. We
                    also have some great tools that help make your ad stand out
                    from the rest. Check out the
                    <a href="">Ad Promotions</a> page for more information.
                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="details-main">
                <div class="details-left">
                  <svg
                    width="80"
                    height="80"
                    viewBox="0 0 80 80"
                    class="svg-wrapper--8ky9e"
                  >
                    <defs>
                      <circle
                        id="buy_something_svg__a"
                        cx="17.5"
                        cy="17.5"
                        r="17.5"
                      ></circle>
                      <linearGradient
                        x1="32.839%"
                        y1="24.687%"
                        x2="82.287%"
                        y2="85.69%"
                        id="buy_something_svg__c"
                      >
                        <stop
                          stop-color="#FFF"
                          stop-opacity="0"
                          offset="0%"
                        ></stop>
                        <stop
                          stop-color="#FFF"
                          stop-opacity="0.411"
                          offset="54.179%"
                        ></stop>
                        <stop
                          stop-color="#FFF"
                          stop-opacity="0.627"
                          offset="55.095%"
                        ></stop>
                        <stop
                          stop-color="#FFF"
                          stop-opacity="0.732"
                          offset="83.058%"
                        ></stop>
                        <stop stop-color="#FFF" offset="100%"></stop>
                      </linearGradient>
                      <path
                        id="buy_something_svg__d"
                        d="M18.557 40.418v9.785h5.332v-9.785z"
                      ></path>
                      <path
                        d="M21.117 0c11.662 0 21.116 9.429 21.116 21.06 0 11.63-9.454 21.06-21.116 21.06C9.454 42.12 0 32.69 0 21.06 0 9.429 9.454 0 21.117 0zm0 4.042c-9.425 0-17.064 7.619-17.064 17.018 0 9.399 7.64 17.018 17.064 17.018S38.18 30.458 38.18 21.06c0-9.399-7.64-17.018-17.064-17.018z"
                        id="buy_something_svg__e"
                      ></path>
                      <path
                        d="M16.424 47.579v19.113a2.797 2.797 0 0 0 2.79 2.798h4.02c1.54 0 2.788-1.241 2.788-2.798V47.58h-9.598z"
                        id="buy_something_svg__g"
                      ></path>
                    </defs>
                    <g fill="none" fill-rule="evenodd">
                      <g transform="translate(0 2)">
                        <rect
                          fill="#F8FAFB"
                          width="80"
                          height="24"
                          rx="2"
                        ></rect>
                        <rect
                          fill="#DCE3E4"
                          x="4"
                          y="4"
                          width="23"
                          height="16"
                          rx="2"
                        ></rect>
                        <rect
                          fill="#DCE3E4"
                          x="31"
                          y="5"
                          width="45"
                          height="2"
                          rx="1"
                        ></rect>
                        <rect
                          fill="#DCE3E4"
                          x="31"
                          y="10"
                          width="19.141"
                          height="2"
                          rx="1"
                        ></rect>
                        <rect
                          fill="#DCE3E4"
                          x="31"
                          y="15"
                          width="27.975"
                          height="2"
                          rx="1"
                        ></rect>
                      </g>
                      <g transform="translate(0 30)">
                        <rect
                          fill="#F8FAFB"
                          width="80"
                          height="24"
                          rx="2"
                        ></rect>
                        <rect
                          fill="#DCE3E4"
                          x="4"
                          y="4"
                          width="23"
                          height="16"
                          rx="2"
                        ></rect>
                        <rect
                          fill="#DCE3E4"
                          x="31"
                          y="5"
                          width="45"
                          height="2"
                          rx="1"
                        ></rect>
                        <rect
                          fill="#DCE3E4"
                          x="31"
                          y="10"
                          width="19.141"
                          height="2"
                          rx="1"
                        ></rect>
                        <rect
                          fill="#DCE3E4"
                          x="31"
                          y="15"
                          width="27.975"
                          height="2"
                          rx="1"
                        ></rect>
                      </g>
                      <g transform="translate(20 25)">
                        <mask id="buy_something_svg__b" fill="#fff">
                          <use xlink:href="#buy_something_svg__a"></use>
                        </mask>
                        <use
                          fill="#FFF"
                          xlink:href="#buy_something_svg__a"
                        ></use>
                        <g mask="url(#buy_something_svg__b)">
                          <g transform="translate(-20 3)">
                            <rect
                              fill="#FBF6D5"
                              width="96.667"
                              height="29"
                              rx="2"
                            ></rect>
                            <rect
                              fill="#DCB300"
                              x="4.833"
                              y="4.833"
                              width="27.792"
                              height="19.333"
                              rx="2"
                            ></rect>
                            <rect
                              fill="#DCB300"
                              x="37.458"
                              y="6.042"
                              width="54.375"
                              height="2.417"
                              rx="1.208"
                            ></rect>
                            <rect
                              fill="#DCB300"
                              x="37.458"
                              y="12.083"
                              width="23.129"
                              height="2.417"
                              rx="1.208"
                            ></rect>
                            <rect
                              fill="#DCB300"
                              x="37.458"
                              y="18.125"
                              width="33.804"
                              height="2.417"
                              rx="1.208"
                            ></rect>
                          </g>
                        </g>
                        <circle
                          fill-opacity="0.8"
                          fill="url(#buy_something_svg__c)"
                          cx="17.5"
                          cy="17.5"
                          r="17.5"
                        ></circle>
                      </g>
                      <g transform="rotate(-45 55.24 12.982)">
                        <use
                          fill="#8C9693"
                          xlink:href="#buy_something_svg__d"
                        ></use>
                        <mask id="buy_something_svg__f" fill="#fff">
                          <use xlink:href="#buy_something_svg__e"></use>
                        </mask>
                        <use
                          fill="#BEC7C4"
                          xlink:href="#buy_something_svg__e"
                        ></use>
                        <path
                          fill="#AFB7B5"
                          mask="url(#buy_something_svg__f)"
                          d="M21.33-6.382v52.118h32.635V-6.382z"
                        ></path>
                        <mask id="buy_something_svg__h" fill="#fff">
                          <use xlink:href="#buy_something_svg__g"></use>
                        </mask>
                        <use
                          fill="#C7AB7F"
                          xlink:href="#buy_something_svg__g"
                        ></use>
                        <path
                          fill="#AD946F"
                          mask="url(#buy_something_svg__h)"
                          d="M21.33 45.736v25.953h10.238V45.736z"
                        ></path>
                      </g>
                    </g>
                  </svg>
                </div>
                <div class="details-right">
                  <h2>Looking to buy something?</h2>
                  <p>
                    queriescare has the widest selection of items all over Bangladesh
                    and across more than 50 different categories. Whether you're
                    looking for a car, mobile phone, house, computer or pet, you
                    will find the best deal on queriescare. Our search and filters
                    make it super easy to find exactly what you're looking for!
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="data-text">
          <p>
            Please note that we carefully review every ad before it is published
            to ensure that the quality is up to our standards. Check out the
            <a href="">FAQs</a> page for answers to the most frequently asked
            questions.
          </p>
        </div>
      </div>
    </div>

    <div class="main-data-container">
      <!-- top data -->
      <div class="top-data">
        <div class="top-data-title top-data-title2">
          <h2>Questions? Get in touch!</h2>
          <div class="small-data">
            <p>Every day from 10:00 AM to 8:00 PM</p>
          </div>
        </div>

        <div class="for-contact">
          <ul>
            <li>
              <div class="contact-main">
                <div class="icon-text">
                  <i class="fa-solid fa-phone"></i>
                  <p>Call us</p>
                </div>
                <div class="contact-info">
                  <a href="tel:+880 1958 158547"> +880 1958-158547 </a>
                </div>
              </div>
            </li>

            <li>
              <div class="contact-main">
                <div class="icon-text">
                  <i class="fa-solid fa-envelope"></i>
                  <p>Email us</p>
                </div>
                <div class="contact-info">
                  <a href="support@queriescare.com"> support@queriescare.com</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
