@import "src/theme/_variables.scss";

.new-card-section2 {
  padding-top: 50px;

  .main-container {
    max-width: 1240px;
    margin: auto;
    // margin-bottom: 50px;
  }

  .title-card {
    h2 {
      align-items: center;
      display: flex;
      justify-content: space-between;
      line-height: 16px;
      //   margin-top: 32px !important;
      padding-bottom: 34px !important;
      text-align: center;
      font-size: 28px;
      line-height: 28px;
      font-family: $font-en-primary;
      color: $product-details-title;
      font-weight: 500;

      &::before {
        background: linear-gradient(90deg, #cacaca, transparent);
        content: "";
        flex: 1;
        height: 1px;
        margin-left: 0px;
      }

      &::after {
        background: linear-gradient(90deg, transparent, #cacaca);
        content: "";
        flex: 1;
        height: 1px;
        margin-right: 0px;
      }
    }
  }
}

.new-section-cards {
  display: block;

  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;

    li {
      border-bottom: 1px solid #e8e8e8;

      &:last-child {
        margin-bottom: 0px;
        border-bottom: 0px solid #e8e8e8;
      }
    }
  }
}

@media (max-width: 1000px) {
  .main-container {
    max-width: 95%;
    margin-bottom: 50px;
  }
}
