@import "src/theme/_variables.scss";

.card {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.161);
  border-radius: 6px;
  overflow: hidden;
}

.card-header {
  img {
    width: 100%;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  gap: 20px;

  p {
    color: $product-details-title;
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    font-family: $font-en-primary;
  }

  h5 {
    color: $product-details-title;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
    font-family: $font-en-primary;
  }
}
