<div class="order-main">
  <div class="order-top">
    <ul>
      <li>
        <a
          [class.active]="selectedStatus == 0"
          (click)="filterOrderList(0, null)"
          >{{ "All" | uppercase }}</a
        >
      </li>
      <li>
        <a
          [class.active]="selectedStatus == 1"
          (click)="filterOrderList(1, { postType: 'matrimonial' })"
        >{{ "Matrimonial" | uppercase }}</a
        >
      </li>
      <li>
        <a
          [class.active]="selectedStatus == 2"
          (click)="filterOrderList(2, { postType: 'products' })"
          >{{ "Product" | uppercase }}</a
        >
      </li>

      <li>
        <a
          [class.active]="selectedStatus == 6"
          (click)="filterOrderList(6, { postType: 'job_post' })"
          >{{ "Job Post" | uppercase }}</a
        >
      </li>
      <li>
        <a
          [class.active]="selectedStatus == 5"
          (click)="filterOrderList(5, { postType: 'to_let' })"
          >{{ "To Let" | uppercase }}</a
        >
      </li>
    </ul>
  </div>
  <!-- END! order-top -->

  <div class="order-cards">
    <ul>
      <li *ngFor="let data of allProducts">
        <app-order-card [data]="data"></app-order-card>
      </li>
    </ul>
  </div>

  <div class="order-list-bottom" *ngIf="!allOrders && allOrders?.length == 0">
    <svg
      class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
      focusable="false"
      viewBox="0 0 24 24"
      aria-hidden="true"
    >
      <path
        d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20, 12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10, 10 0 0,0 12,2M11,17H13V11H11V17Z"
      ></path>
    </svg>

    <p>No Orders Yet</p>
  </div>
</div>
