<div class="add-new-product">
  <div class="container">
    <div class="main-new-data-top">
      <h1>Add New Product</h1>
    </div>

    <form (ngSubmit)="onFormSubmit()" [formGroup]="dataForm" #formElement="ngForm">
      <div class="drop-image-area">
        <div class="drop-zone-main">
          <app-drop-zone (newItemEvent)=" onSelect($event)"
                         (onDeleteOldImage)="onDeleteOldImage($event)"
                         [fileNotPicked]="fileNotPicked"
                         [images]="oldImages"></app-drop-zone>
        </div>
      </div>
      <!-- END! drop-image-area -->

      <!-- END! drop-image-area -->
      <div class="page-slug">
        <div class="checkbox">
          <mat-checkbox
            [(ngModel)]="autoSlug"
            (change)="autoGenerateSlug()"
            [ngModelOptions]="{ standalone: true }"
            color="primary"
          >Auto Slug</mat-checkbox
          >
        </div>
      </div>

      <div class="main-form-area">
        <div class="form-three-grid">

          <div class="input-box">
            <p>
              <label for="Name">Name <span style="color: orangered">*(Required)</span></label>
            </p>

            <div class="input-doc">
              <input type="text" id="Name" placeholder="Name" formControlName="name"/>
            </div>

            <p class="required" *ngIf="
                dataForm.get('name').touched &&
                dataForm.get('name').invalid
              ">
              <i>This field is required</i>
            </p>
          </div>

          <div class="input-box">
            <p>
              <label for="slug">Slug <span style="color: orangered">*(Required)</span></label>
            </p>

            <div class="input-doc">
              <input
                [readonly]="autoSlug"
                type="text"
                id="slug"
                placeholder="Slug"
                formControlName="slug"
              />
            </div>

            <p
              class="required"
              *ngIf="
                dataForm.get('name').touched &&
                dataForm.get('name').invalid
              "
            >
              <i>This felid is required</i>
            </p>
          </div>


          <div class="input-box">
            <p>
              <label for="Name">Category <span style="color: orangered">*(Required)</span></label>
            </p>
            <div class="input-doc">
              <select formControlName="category"
                      (change)="onChangeCategory(dataForm?.get('category')?.value)">
                <option [value]="data?._id" *ngFor="let data of categories">{{data?.name}}</option>
              </select>
            </div>

            <p class="required" *ngIf="
                dataForm.get('category').touched &&
                dataForm.get('category').invalid
              ">
              <i>This field is required</i>
            </p>
          </div>


          <div class="input-box">
            <p>
              <label for="Name">Sub Category</label>
            </p>
            <div class="input-doc">
              <select formControlName="subCategory">
                <option [value]="data?._id" *ngFor="let data of subCategories">{{data?.name}}</option>
              </select>
            </div>

            <p class="required" *ngIf="
                dataForm.get('subCategory').touched &&
                dataForm.get('subCategory').invalid
              ">
              <i>This field is required</i>
            </p>
          </div>

          <div class="input-box-with-currency-select">
            <div class="label-and-currency">
              <p>
                <label for="Price">Price <span style="color: orangered">*(Required)</span></label>
              </p>

            </div>

            <div class="input-doc">
              <input type="text" id="Price" placeholder="Price" formControlName="salePrice"/>
            </div>

            <p class="required" *ngIf="
                dataForm.get('salePrice').touched &&
                dataForm.get('salePrice').invalid
              ">
              <i>This field is required</i>
            </p>
          </div>

          <div class="input-box">
            <p>
              <label for="Name">Discount Type</label>
            </p>
            <div class="input-doc">
              <select formControlName="discountType">
                <option [value]="d?.value" *ngFor="let d of discountType">{{d?.viewValue}}</option>
              </select>
            </div>

            <p class="required" *ngIf="
                dataForm.get('discountType').touched &&
                dataForm.get('discountType').invalid
              ">
              <i>This field is required</i>
            </p>
          </div>

          <div class="input-box-with-currency-select">
            <div class="label-and-currency">
              <p>
                <label for="Discontinued_Price">Discount Amount</label>
              </p>
            </div>

            <div class="input-doc">
              <input type="text" id="Discontinued_Price" placeholder="Discount Amount"
                     formControlName="discountAmount"/>
            </div>

            <p class="required" *ngIf="
                dataForm.get('discountAmount').touched &&
                dataForm.get('discountAmount').invalid
              ">
              <i>This field is required</i>
            </p>
          </div>


          <div class="input-box">
            <p>
              <label for="SKU">SKU (Stock Keeping Unit)</label>
            </p>

            <div class="input-doc">
              <input type="text" id="SKU" formControlName="sku" placeholder="SKU"/>
            </div>

            <p class="required" *ngIf="dataForm.get('sku').touched && dataForm.get('sku').invalid">
              <i>This field is required</i>
            </p>
          </div>

          <div class="input-box">
            <p>
              <label for="productType">Type of Product <span style="color: orangered">*(Required)</span></label>
            </p>
            <div class="input-doc">
              <select name="" formControlName="productType" (change)="productCategory($event)">
                <option value="" >Select Option</option>
                <option value="new" >New</option>
                <option value="used" >Used</option>

              </select>
            </div>

            <p class="required" *ngIf="
                dataForm.get('status').touched &&
                dataForm.get('status').invalid
              ">
              <i>This field is required</i>
            </p>
          </div>

          <div class="input-box" *ngIf="selectedType === 'used'">
            <p>
              <label for="howLongUsed">How long used</label>
            </p>

            <div class="input-doc">
              <input
                type="text"
                id="howLongUsed"
                placeholder="example: 40 days"
                formControlName="howLongUsed"
              />
            </div>

            <p
              class="required"
              *ngIf="
                dataForm.get('name').touched &&
                dataForm.get('name').invalid
              "
            >
              <i>This felid is required</i>
            </p>
          </div>

<!--          <div class="input-box">-->
<!--            <p>-->
<!--              <label for="Name">Product Status <span style="color: orangered">*(Required)</span></label>-->
<!--            </p>-->
<!--            <div class="input-doc">-->
<!--              <select name="" formControlName="status">-->
<!--                <option [value]="data?.value" *ngFor="let data of productStatus">{{data?.viewValue}}</option>-->

<!--              </select>-->
<!--            </div>-->

<!--            <p class="required" *ngIf="-->
<!--                dataForm.get('status').touched &&-->
<!--                dataForm.get('status').invalid-->
<!--              ">-->
<!--              <i>This field is required</i>-->
<!--            </p>-->
<!--          </div>-->



        </div>


        <div class="from-one-grid">
          <div class="quill-editor-main">
            <div class="quill-editor-top">
              <p>
                <label>Description</label>
              </p>
            </div>

            <div class="quill-editor-bottom">
              <quill-editor formControlName="description"></quill-editor>
            </div>
          </div>

        </div>


        <div class="submit-btn">
          <button class="back-btn" [routerLink]="['/account/orders']" type="button">
            Back
          </button>
          <button class="sub-btn" type="submit">
            <div class="loader" *ngIf="isLoading"></div>

            <span *ngIf="!isLoading">{{id ? 'Update Product' : 'Add Product'}}</span>
          </button>
        </div>
        <!-- END! submit-btn -->
      </div>
    </form>
  </div>
</div>
