<div class="first-section-wrapper">
  <div class="gravatar">
    <ngx-skeleton-loader  [theme]="{ width: '140px', height: '185px' }">
    </ngx-skeleton-loader>
  </div>
  <div class="gravatar-title">
    <div>
      <ngx-skeleton-loader
        [theme]="{
            width: '100%',
            'border-radius': '0',
            height: '20px',
            'margin-bottom': '10px'
          }"
      ></ngx-skeleton-loader>
    </div>
    <div>
      <ngx-skeleton-loader
        [theme]="{
            width: '80px',
            'border-radius': '10px',
            height: '20px'
          }"
      ></ngx-skeleton-loader>
    </div>

    <div>
      <ngx-skeleton-loader
        count="2"
        [theme]="{
            width: '80px',
            'margin-right': '10px',
            'border-radius': '5px',
            height: '20px'
          }"
      ></ngx-skeleton-loader>
    </div>

    <div>
      <ngx-skeleton-loader
        [theme]="{
            width: '50%',
            'border-radius': '0',
            height: '20px',
            'margin-bottom': '10px'
          }"
      ></ngx-skeleton-loader>
    </div>

    <div>
      <ngx-skeleton-loader
        [theme]="{
            width: '50%',
            'border-radius': '0',
            height: '20px',
            'margin-bottom': '10px'
          }"
      ></ngx-skeleton-loader>
    </div>
  </div>
</div>
