<div class="fav-child-card">
  <a class="img" [routerLink]="['/products/details', data?.product?.slug]">
    <img [src]="data?.product?.images[0]" alt="" />

    <div class="discount-fav">
      <h2>
        {{ data?.product.prices[0] | price : "discountPercentage" }} % Off
      </h2>
    </div>
  </a>

  <div class="fav-data">
    <div class="left-fav">
      <h3
        class="name"
        style="cursor: pointer"
        [routerLink]="['/products/details', data?.product?.slug]"
      >
        {{ data?.product?.name }}
      </h3>
      <p>{{ data?.product?.genericName?.name }}</p>
      <h2>৳ {{ data?.product.prices[0] | price : "salePrice" }}</h2>
    </div>
    <!-- END! left-fav -->

    <div class="right-fav">
      <a (click)="removeWishlistById(data?._id)" matTooltip="Remove"
        ><i class="fa-solid fa-trash"></i>
      </a>
    </div>
    <!-- END! right-fav -->
  </div>
</div>
<!-- END! fav-child-card -->
