@import "src/theme/_variables.scss";

/* --- main start --- */
.main {
  width: 100%;
  background-color: #e7edee;
  padding: 24px 0px;
}

/* --- main-data-container start --- */
.main-data-container {
  max-width: 1240px;
  margin: auto;
  background-color: #fff;
  border-radius: 4px;
  padding: 16px 24px;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0px;
  }
}

/* --- my-phone-number-title --- */
.my-phone-number-title {
  margin-bottom: 20px;
  border-bottom: 1px solid #e7edee;
  padding: 16px 0px;

  h2 {
    font-family: $font-en-primary;
    font-size: 20px;
    font-weight: 500;
    color: $text-home-first-sec-color;
  }
}

/* --- phone-details --- */
.phone-details {
  max-width: 344px;
  width: 100%;
  margin: auto;
  padding: 12px 0px 20px;
}

.top-img {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 100px;
    width: 100%;
  }
}

.phone-info {
  h2 {
    font-family: $font-en-primary;
    font-size: 16px;
    margin: 28px 0px 12px !important;
    font-weight: 500;
    color: $text-home-first-sec-color;
    line-height: 26px;
  }

  p {
    font-family: $font-en-primary;
    font-size: 14px;
    font-weight: 300;
    color: $text-home-first-sec-color;
    line-height: 22px;
  }
}

/* --- back-btn --- */
.back-btn {
  margin-top: 20px;

  button {
    color: $text-home-first-sec-color;
    border: 1px solid $text-home-first-sec-color;
    font-family: $font-en-primary;
    font-weight: 400;
    font-size: 15px;
    padding: 0 24px;
    line-height: 42px;
    border-radius: 4px;
    width: 100%;
    background-color: transparent;
  }
}
