<div class="main">
  <div class="container">
    <div class="main-data-container">
      <div class="my-phone-number">
        <!-- my-phone-number-title -->
        <div class="my-phone-number-title">
          <h2>Phone Numbers</h2>
        </div>

        <!-- phone-details -->
        <div class="phone-details">
          <div class="top-img">
            <img src="../../../../assets/images/png/download.png" alt="" />
          </div>

          <div class="phone-info">
            <h2>
              There are currently no phone numbers associated with your account.
            </h2>
            <p>
              Phone numbers are unique to your account and will be collected
              while you are posting ads or ordering products on bikroy
            </p>
          </div>

          <!-- back-btn -->
          <div class="back-btn"(click)="onBack()">
            <button type="button">back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
