<div class="refer-main">
  <div class="refer-top-gif-img">
    <img src="/assets/images/gif/refer.gif" />
  </div>


  <div class="money-refer">
    <h2>Invite friends. Earn money.</h2>
    <p class="tell-friend">
      Tell a friend about Osud Kini and get <strong>40 taka</strong> reward.
    </p>
    <p>Your referral code: <strong>23JK5P</strong></p>
  </div>

  <div class="copy-share-link">
    <button (click)="onCopyTextShow()" type="button">{{ copyTextShow }}</button>
  </div>

  <div class="money-receive">
    <h5>
      You will get 40 Taka each time your friends join with your referral code
      and place their first order. Make sure they enter this code while signing
      up for Osud Kini.
    </h5>
    <p>* Your referral code is valid for lifetime.</p>
  </div>
</div>

