<div class="main">
  <div class="container">
    <div class="main-data-container">
      <!-- my-account-title -->
      <div class="my-post-job">
        <div class="title-post-job">
          <h2>Fill in the details</h2>
        </div>

        <!-- Location and Overseas -->
        <div class="loc-job">
          <div class="job-loc-child">
            <h2>
              <a href="">
                <i class="fas fa-map-marker-alt"></i>
                <span>Nasirabad</span>
              </a>
            </h2>
            <h3>
              <a href=""> Change </a>
            </h3>
          </div>

          <div class="job-loc-child">
            <h2>
              <a href="">
                <i class="fa-solid fa-tag"></i>
                <span>Overseas Jobs</span>
              </a>
            </h2>
            <h3>
              <a href=""> Change </a>
            </h3>
          </div>
        </div>
      </div>

      <!-- post-job-forms -->
      <div class="post-job-forms">
        <div class="post-job-anchor">
          <a href="">See our posting rules</a>
        </div>
        <form>
          <!-- form-top -->
          <div class="form-top">
            <div class="top-data-title">
              <h2>About the job</h2>
            </div>

            <!-- search-data -->
            <div class="form-section">
              <div class="search-area">
                <p>Role</p>
                <div class="search-data-input">
                  <input
                    type="text"
                    (click)="$event.stopPropagation(); onRoleInputFocus()"
                    placeholder="Brand"
                    [value]="storeRoleData ? storeRoleData : 'Brand'"
                  />
                  <div class="search-icon">
                    <i class="fa fa-search"></i>
                  </div>
                  <div class="up-down-icon" [class.active]="showSearch">
                    <i class="fa-chevron-down fas"></i>
                  </div>
                </div>

                <div
                  class="search-data"
                  *ngIf="showSearch"
                  (click)="$event.stopPropagation()"
                >
                  <ul>
                    <li (click)="onSelectRoleData('Aamra')"><a>Aamra</a></li>
                    <li (click)="onSelectRoleData('Acer')"><a>Acer</a></li>
                    <li (click)="onSelectRoleData('AEKU')"><a>AEKU</a></li>
                    <li (click)="onSelectRoleData('Apple')"><a>Apple</a></li>
                    <li (click)="onSelectRoleData('Asus')"><a>Asus</a></li>
                    <li (click)="onSelectRoleData('Samsung')">
                      <a>Samsung</a>
                    </li>

                    <li (click)="onSelectRoleData('BenQ')"><a>BenQ</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- form-section -->
            <div class="form-section">
              <!-- form-input -->
              <div class="form-input">
                <label for="apply-via">Title</label>

                <input
                  type="text"
                  id="apply-via"
                  placeholder="Example: Driver for hire in Dhaka"
                />
              </div>
            </div>

            <!-- form-section -->
            <div class="form-section">
              <!-- form-text-area -->
              <div class="form-input">
                <div class="text-range">
                  <label for="experience">Description</label>
                  <label>0/5000</label>
                </div>
                <textarea
                  name=""
                  id=""
                  cols="30"
                  rows="6"
                  placeholder="Describe the job in detail"
                ></textarea>
              </div>
            </div>

            <!-- search-data -->
            <div class="form-section">
              <div class="search-area">
                <p>storeJobType</p>
                <div class="search-data-input">
                  <input
                    type="text"
                    (click)="$event.stopPropagation(); onJobTypeInputFocus()"
                    placeholder="Brand"
                    [value]="storeJobType ? storeJobType : 'Contractual'"
                  />
                  <div class="search-icon">
                    <i class="fa fa-search"></i>
                  </div>
                  <div class="up-down-icon" [class.active]="showJobType">
                    <i class="fa-chevron-down fas"></i>
                  </div>
                </div>

                <div
                  class="search-data"
                  *ngIf="showJobType"
                  (click)="$event.stopPropagation()"
                >
                  <ul>
                    <li (click)="onSelectJobTypeData('Full Time')">
                      <a>Full Time</a>
                    </li>
                    <li (click)="onSelectJobTypeData('Part Time')">
                      <a>Part Time</a>
                    </li>
                    <li (click)="onSelectJobTypeData('Contractual')">
                      <a>Contractual</a>
                    </li>
                    <li (click)="onSelectJobTypeData('Internship')">
                      <a>Internship</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- form-section -->
            <div class="form-section">
              <div class="form-radio-main">
                <label class="radio-main" for="negotiable"
                  >How do you want to receive applications?</label
                >
                <div class="form-radio">
                  <input id="negotiable" type="checkbox" checked />
                  <label class="hover-text" for="file-attacched"
                    >Attach logo (optional)
                    <div class="target-main target-main2">
                      <i class="fa-regular fa-circle-question"></i>

                      <div class="hover-target-text">
                        Attach your company logo. Supported image file formats
                        jpg, jpeg, png
                      </div>
                    </div>
                  </label>
                </div>
              </div>

              <div class="radio-attached">
                <!-- form-input -->
                <div class="form-input">
                  <label for="apply-via">Enter email address </label>

                  <input
                    type="Email"
                    id="apply-via"
                    placeholder="Enter email address"
                  />
                </div>
              </div>
            </div>

            <!-- form-section -->
            <div class="form-section">
              <div class="form-radio-main">
                <div class="form-radio">
                  <input id="phone-number" type="checkbox" checked />
                  <label for="phone-number">Phones (up to 3)</label>
                </div>
              </div>

              <div class="radio-attached radio-attached2">
                <!-- form-input -->
                <div class="form-input">
                  <label for="apply-via">Enter phone number </label>

                  <input
                    type="Email"
                    id="apply-via"
                    placeholder="Enter phone number"
                  />
                </div>
                <button class="minus-fig">
                  <i class="fa-solid fa-circle-minus"></i>
                </button>
              </div>
            </div>

            <!-- form-section -->
            <div class="form-section">
              <!-- form-input -->
              <div class="form-input">
                <label for="apply-via">Required work experience (years)</label>

                <input
                  type="number"
                  id="apply-via"
                  placeholder="Enter number of years"
                />
              </div>
            </div>

            <!-- search-data -->
            <div class="form-section">
              <div class="search-area">
                <p>Required education</p>
                <div class="search-data-input">
                  <input
                    type="text"
                    (click)="$event.stopPropagation(); onReqEduInputFocus()"
                    placeholder="Brand"
                    [value]="
                      storeReqEducation
                        ? storeReqEducation
                        : 'Required Education'
                    "
                  />
                  <div class="search-icon">
                    <i class="fa fa-search"></i>
                  </div>
                  <div class="up-down-icon" [class.active]="showReqEducation">
                    <i class="fa-chevron-down fas"></i>
                  </div>
                </div>

                <div
                  class="search-data"
                  *ngIf="showReqEducation"
                  (click)="$event.stopPropagation()"
                >
                  <ul>
                    <li (click)="onSelectReqEduData('Aamra')">
                      <a>Primary Scool</a>
                    </li>
                    <li (click)="onSelectReqEduData('Acer')">
                      <a>High School</a>
                    </li>
                    <li (click)="onSelectReqEduData('AEKU')">
                      <a>SSC / O Level</a>
                    </li>
                    <li (click)="onSelectReqEduData('Apple')">
                      <a>HSC / A Level</a>
                    </li>
                    <li (click)="onSelectReqEduData('Asus')"><a>Diploma</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- form-section -->
            <div class="form-section">
              <div class="form-radio">
                <input id="negotiable" type="checkbox" />
                <label for="negotiable">Negotiable</label>
              </div>
            </div>

            <!-- form-section-two-main -->
            <div class="form-section-two-main">
              <p>Salary per month (optional)</p>
              <div class="form-section-two">
                <!-- form-input -->
                <div class="form-input">
                  <label for="form">Form</label>

                  <input type="number" id="form" placeholder="Form" />
                </div>
                <!-- form-input -->
                <div class="form-input">
                  <label for="to">To</label>

                  <input type="number" id="to" placeholder="To" />
                </div>
              </div>
            </div>

            <!-- form-section -->
            <div class="form-section">
              <!-- form-input -->
              <div class="form-input">
                <label class="hover-text" for="apply-deadline"
                  >Application deadline (optional)
                  <div class="target-main">
                    <i class="fa-regular fa-circle-question"></i>

                    <div class="hover-target-text">
                      What is the last date to apply?
                    </div>
                  </div>
                </label>
                <input
                  type="date"
                  id="apply-deadline"
                  placeholder="If your company have a web site, enter the web address."
                />
              </div>
            </div>
          </div>

          <hr class="hr-ring" />

          <div class="form-top">
            <div class="top-data-title">
              <h2>About the employer</h2>
            </div>

            <!-- form-section -->
            <div class="form-section">
              <!-- form-input -->
              <div class="form-input">
                <label for="employer">Employer</label>

                <input type="text" id="employer" placeholder="Employer name" />
              </div>
            </div>

            <!-- form-section -->
            <div class="form-section">
              <!-- form-input -->
              <div class="form-input">
                <label for="website">Employer Website (optional)</label>

                <input
                  type="text"
                  id="website"
                  placeholder="Employer website address"
                />
              </div>
            </div>

            <!-- form-section -->
            <div class="form-section">
              <!-- form-input -->
              <div class="form-input">
                <label class="hover-text" for="file-attacched"
                  >Attach logo (optional)
                  <div class="target-main target-main3">
                    <i class="fa-regular fa-circle-question"></i>

                    <div class="hover-target-text">
                      Attach your company logo. Supported image file formats
                      jpg, jpeg, png
                    </div>
                  </div>
                </label>

                <div class="all-photos">
                  <div class="all-photo">
                    <input
                      type="file"
                      id="logo-attached"
                      #photo_attached
                      hidden
                    />
                    <div
                      (click)="photo_attached.click()"
                      class="image-box active"
                    >
                      <i class="fa-solid fa-image"></i>
                      <h3>Logo</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr class="hr-ring" />

          <!-- form-top -->
          <div class="form-top">
            <!-- contact-details -->
            <div class="contact-details">
              <h2>Contact details</h2>
            </div>

            <!-- contact-info -->
            <div class="contact-info">
              <p>Name</p>
              <h4>Abdullah Al Noman</h4>
            </div>

            <!-- contact-info -->
            <div class="contact-info">
              <p>Email</p>
              <h4>abc@gmail.com</h4>
            </div>

            <!-- info-number -->
            <div class="info-number">
              <!-- form-input -->
              <div class="form-input">
                <label for="apply-via">Add phone number</label>
                <div class="number-add">
                  <input
                    type="text"
                    id="apply-via"
                    placeholder="Enter phone number"
                  />
                  <a href="">Add</a>
                </div>
              </div>
            </div>

            <!-- form-section -->
            <div class="form-section">
              <div class="form-radio">
                <input id="Terms-and-Conditions" type="checkbox" />
                <label for="Terms-and-Conditions"
                  >I have read and accept the
                  <a href="">Terms and Conditions</a></label
                >
              </div>
            </div>

            <div class="submit-btn">
              <button type="submit" disabled>Post ad</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
