<div class="section1">
  <div class="container">
    <div class="section1-main">
      <div class="section1-title">
        <h2>Frequently Asked Questions</h2>
      </div>

      <div class="asked-quation-area">
        <div class="asked-quation-main">
          <mat-accordion class="according">
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="quation-title">
                    <h3>How does the site work?</h3>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="quation-ans">
                <p>
                  You Can Browse the site or use our search engine to find your
                  desired products. You can then add them to your shopping bag
                  and click on place order. You let us know your address, Select
                  a delivery time - and voila, you are done. A Red Grocer
                  representative will then deliver your order right to your home
                  or office.
                </p>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="quation-title">
                    <h3>How can i contact you?</h3>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="quation-ans">
                <p>
                  You Can Browse the site or use our search engine to find your
                  desired products. You can then add them to your shopping bag
                  and click on place order. You let us know your address, Select
                  a delivery time - and voila, you are done. A Red Grocer
                  representative will then deliver your order right to your home
                  or office.
                </p>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="quation-title">
                    <h3>What are your delivery hours?</h3>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="quation-ans">
                <p>
                  You Can Browse the site or use our search engine to find your
                  desired products. You can then add them to your shopping bag
                  and click on place order. You let us know your address, Select
                  a delivery time - and voila, you are done. A Red Grocer
                  representative will then deliver your order right to your home
                  or office.
                </p>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="quation-title">
                    <h3>How do i know when my order is here?</h3>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="quation-ans">
                <p>
                  You Can Browse the site or use our search engine to find your
                  desired products. You can then add them to your shopping bag
                  and click on place order. You let us know your address, Select
                  a delivery time - and voila, you are done. A Red Grocer
                  representative will then deliver your order right to your home
                  or office.
                </p>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="quation-title">
                    <h3>How do i pay?</h3>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="quation-ans">
                <p>
                  You Can Browse the site or use our search engine to find your
                  desired products. You can then add them to your shopping bag
                  and click on place order. You let us know your address, Select
                  a delivery time - and voila, you are done. A Red Grocer
                  representative will then deliver your order right to your home
                  or office.
                </p>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="quation-title">
                    <h3>Do you serve my area?</h3>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="quation-ans">
                <p>
                  You Can Browse the site or use our search engine to find your
                  desired products. You can then add them to your shopping bag
                  and click on place order. You let us know your address, Select
                  a delivery time - and voila, you are done. A Red Grocer
                  representative will then deliver your order right to your home
                  or office.
                </p>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="quation-title">
                    <h3>
                      I can't find the product i am looking for. what do i do?
                    </h3>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="quation-ans">
                <p>
                  You Can Browse the site or use our search engine to find your
                  desired products. You can then add them to your shopping bag
                  and click on place order. You let us know your address, Select
                  a delivery time - and voila, you are done. A Red Grocer
                  representative will then deliver your order right to your home
                  or office.
                </p>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="quation-title">
                    <h3>My order is wrong. What do I do?</h3>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="quation-ans">
                <p>
                  You Can Browse the site or use our search engine to find your
                  desired products. You can then add them to your shopping bag
                  and click on place order. You let us know your address, Select
                  a delivery time - and voila, you are done. A Red Grocer
                  representative will then deliver your order right to your home
                  or office.
                </p>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="quation-title">
                    <h3>What about the prices?</h3>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="quation-ans">
                <p>
                  You Can Browse the site or use our search engine to find your
                  desired products. You can then add them to your shopping bag
                  and click on place order. You let us know your address, Select
                  a delivery time - and voila, you are done. A Red Grocer
                  representative will then deliver your order right to your home
                  or office.
                </p>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
