@import "src/theme/variables";

.section1 {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 24px 0;
}

.section1-main {
  display: block;
  background-color: #fff;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 7px;
  box-shadow: 0px 4px 7px 0 rgb(201 33 39 / 10%);
}

.section1-title {
  display: block;
  margin-bottom: 25px;
  text-align: center;
}

.section1-title h2 {
  color: $color-black;
  font-family: $font-en-primary;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  display: block;
  line-height: 33px;
}

.asked-quation-area {
  display: block;
  width: 100%;
  margin-top: 40px;
}

.asked-quation-main {
  max-width: 1000px;
  margin: auto;
}

.according {
  display: block;
}

.according mat-expansion-panel {
  display: block;
  margin-bottom: 25px !important;
  border: 1px solid #b2bac1;
  box-shadow: none;
  border-radius: 5px;
}

.quation-title {
  display: block;
}

.quation-title h3 {
  color: #232433;
  font-family: $font-en-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.quation-ans {
  display: block;
}

.quation-ans p {
  color: #232433;
  font-family: $font-en-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
}

::ng-deep.according
  .mat-expansion-panel
  .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled="true"]),
.mat-expansion-panel
  .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled="true"]),
.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
  background-color: transparent;
}

::ng-deep.according .mat-expanded .quation-title h3 {
  font-weight: 500;
}

::ng-deep.according .mat-expansion-indicator::after {
  color: #232433;
}

@media (max-width: 990px) {
  .section1-main {
    padding: 30px;
  }
}

@media (max-width: 500px) {
  .section1-main {
    padding: 30px 20px;
    border-radius: 0px;
  }
}
